<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small" alternative-text="error"
                            title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {title}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onclick={closeToast} type="button">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"
                                alternative-text="close" title="close">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </template>

    <div style="position: relative;">
        <!-- <lightning-record-form oncancel={vendorCancel} object-api-name="Payment__c" onsuccess={handleSuccess} record-id={selectedVFund} fields={fields} columns="2" onsubmit={handleSubmit} onerror={errorHandler}>
    </lightning-record-form> -->

            <template if:false={isRecordCreated}>

                <lightning-record-edit-form record-id={selectedVFund} object-api-name="Payment__c" record-type-id={recordTypeIdStr}
                    onsuccess={handleSuccess} onerror={errorHandler}>
                    <lightning-messages>
                    </lightning-messages>

                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Report_Number__c" value={recnumber}>
                            </lightning-input-field>
                           <!-- <lightning-input-field field-name="Pay_Method__c" value={payMethod}> -->
                            <lightning-input-field field-name="Payment_Method__c" value={payMethod}>  
                            </lightning-input-field>
                            <lightning-input-field field-name="Description__c" value={des}>
                            </lightning-input-field>
                            <lightning-input-field disabled field-name="Kinship_Case__c" value={kcase}>
                            </lightning-input-field>
                            <lightning-input-field disabled field-name="Vendor__c" value={kvendor}>
                            </lightning-input-field>
                            

                           
                           
                            <lightning-input-field disabled field-name="Contact__c" value={kcontact}>
                            </lightning-input-field>

                           
                           
                          
                            
                            <lightning-input-field disabled field-name="RecordTypeId" value={recordTypeIdStr}
                                style="display: none;">
                            </lightning-input-field>
                            


                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            
                            <lightning-input-field  field-name="Receipt_Type__c" value={receiptType}>
                            </lightning-input-field>
                            <lightning-input-field  field-name="Date_of_Receipt__c" value={doreceipt}>
                            </lightning-input-field>
                            <lightning-input-field disabled field-name="Kinship_Check__c" value={KinshipCheck}>
                            </lightning-input-field>
                            <lightning-input-field disabled field-name="Category_lookup__c" value={catLoop}>
                            </lightning-input-field>
                            <lightning-input-field disabled field-name="Payment_Amount__c" value={paymentAmount}>
                            </lightning-input-field>
                            <lightning-input-field class="slds-hide" field-name="Adjustment_Amount__c" value="0">
                            </lightning-input-field>
                            <lightning-input-field disabled field-name="Opportunity__c" value={opportunityid}
                                style="display: none;">
                            </lightning-input-field>
                        
                        </div>
                    </div>

                    <div class="slds-align_absolute-center">
                        <lightning-button label="Cancel" title="Non-primary action" onclick={vendorCancel}
                            class="slds-m-left_x-small">
                        </lightning-button>
                        <lightning-button variant="brand" class="slds-m-left_x-small" type="submit" label="Save"
                            onclick={handleSubmit}>
                        </lightning-button>
                    </div>
                </lightning-record-edit-form>

            </template>

            <template if:true={isRecordCreated}>
                <lightning-record-view-form record-id={selectedVFund} object-api-name="Payment__c">
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Report_Number__c">
                            </lightning-input-field>
                            <lightning-output-field disabled field-name="Receipt_Type__c">
                            </lightning-output-field>
                            <lightning-output-field disabled field-name="Date_of_Receipt__c">
                            </lightning-output-field>
                            <!--<lightning-output-field field-name="Pay_Method__c"> -->
                            <lightning-output-field field-name="Payment_Method__c">    
                            </lightning-output-field>

                            <lightning-output-field disabled field-name="Kinship_Check__c">
                            </lightning-output-field>
                            <lightning-output-field disabled field-name="Kinship_Case__c">
                            </lightning-output-field>
                            <lightning-output-field disabled field-name="Vendor__c">
                            </lightning-output-field>
                            <lightning-output-field disabled field-name="Contact__c">
                            </lightning-output-field>

                            <lightning-output-field field-name="Description__c">
                            </lightning-output-field>
                           
                            <lightning-output-field disabled field-name="RecordTypeId" style="display: none;">
                            </lightning-output-field>
                            <lightning-output-field disabled field-name="Opportunity__c" style="display: none;">
                            </lightning-output-field>


                        </div>
                        <div class="slds-col slds-size_1-of-2">
                           
                            <lightning-output-field disabled field-name="Payment_Amount__c">
                            </lightning-output-field>
                           
                            <lightning-output-field disabled  field-name="Category_lookup__c">
                            </lightning-output-field>
                           



                        </div>
                    </div>
                </lightning-record-view-form>
            </template>

       

        <!--<template if:true={isRecordCreated}>
            <div class="slds-m-top_large">
                <lightning-card title="Vendor Refunds">
                    <div style="height: 300px;">
                        <lightning-datatable key-field="Id" data={relatetReceipt} hide-checkbox-column
                            columns={columns}>
                        </lightning-datatable>
                    </div>
                </lightning-card>

            </div>

        </template>
        <template if:false={isRecordCreated}>
            <div class="slds-m-top_large">
                <lightning-card title="Vendor Refunds">
                    <div style="height: 300px;">
                        <lightning-datatable key-field="Id" data={relatetReceipt} hide-checkbox-column
                            columns={columns}>
                        </lightning-datatable>
                    </div>
                </lightning-card>

            </div>

        </template>-->

        <c-spinner></c-spinner>
    </div>
</template>