<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small"
                            alternative-text="error" title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {titleoftoast}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onclick={closeToast} type="button">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"
                                alternative-text="close" title="close">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </template>

<div style="position: relative;">

    <lightning-record-edit-form record-type-id={recordTypeIdStr} oncancel={receiptCancel} object-api-name="Payment__c" onsuccess={handleSuccess} onload={handleLoadForm} record-id={selectedReceipt} onsubmit={handleSubmit} onerror={errorHandler}>

            <lightning-card>
                <div class="slds-grid slds-gutters" style="border: 0.1px solid #dddbda; border-radius: 0.25rem;padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                    <div class="slds-col slds-size_1-of-2">
                        <!-- <label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 96px;margin-left: 4px;">Total of Receipts Entered</label>
						{balanceamount} <br> -->
                        <div class="slds-grid slds-gutters slds-m-bottom_large">
                            <div class="slds-col slds-size_4-of-12">
                                <label>Begin Date</label>
                            </div>
                            <div class="slds-col slds-size_8-of-12">
                                <lightning-formatted-date-time value={closedate}  year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time> 
                            </div><br>

                        </div>
                        
                        <!--<label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 73px;margin-left: 4px;margin-top: 10px;margin-bottom: 20px;">Beginning Receipt #</label>
                        {beginningreceipt}-->
                        <lightning-input-field class="slds-hide" field-name="Invoice_Stage__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="Check_Reference_Number__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="Payment_Amount__c" required onchange={handleChangePaymentAmount}>
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <div class="slds-grid slds-gutters slds-m-bottom_large">
                            <div class="slds-col slds-size_4-of-12">
                                <label>End Date</label>
                            </div>
                            <div class="slds-col slds-size_8-of-12">
                                <lightning-formatted-date-time value={enddate}  year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time> 
                            </div><br>

                        </div>
                        <!--<label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 90px;margin-left: 4px;margin-top: 10px;margin-bottom: 20px;">Ending Receipt #</label>
                        {endingreceipt}-->
                        
                          <div class="slds-grid" style="padding-bottom: 10px;">
                            <div class="slds-col slds-size_3-of-12">
                                <label class="slds-form-element__label" for="horizontal-input-id-02">Date of Receipt</label>
                            </div>
                            <div class="slds-col slds-size_3-of-3" style=" padding-left: 8%; padding-right: 26%;">
                                <lightning-input type="date" variant ="label-hidden" date-style="short" required  value={closedate} onchange={dateChange}>
                                </lightning-input>
                                <lightning-input-field style="display: none;" type="date" variant ="label-hidden"  field-name="Payment_Date__c" date-style="short" value={closedate} required>
                                </lightning-input-field>
                            </div>
                          </div>
                         
                     
                        <!-- <template if:true={isCatLaser}>
                            <lightning-input-field field-name="Fund__c">
                            </lightning-input-field>
                        </template> -->
                        <lightning-input-field field-name="Description__c">
                        </lightning-input-field>
    
                    </div>
    
                </div>
            </lightning-card>
            <lightning-card>  
                <div style="border: 0.1px solid #dddbda; border-radius: 0.25rem;padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                    <div class="slds-grid slds-gutters" >
                        <div class="slds-col slds-size_6-of-12">
                            <c-sat-multi-select-lookup objectname="Payment__c" variant="label-inline" 
                                fieldnames="['Report_Number__c']" iconname="standard:account" styl="margin-left: 189px;" required="required"
                                label="Receipt Number" parent-id={parentId} where-str={catWhereStr} onselected={selectedRecords} disabled={disableRNumber}
                                placeholder="Select Receipt Number">
                            </c-sat-multi-select-lookup>
                           
                            
                            <!-- <lightning-input-field field-name="Payment_Receipt_Number__c" value={RNumberName} required>
                            </lightning-input-field> -->
                        </div>
                    </div>
                </div>
            </lightning-card>
        <template if:true={showInfo}>
            <lightning-card title="Receipt Information">  
                <div style="border: 0.1px solid #dddbda; border-radius: 0.25rem;padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                    <div class="slds-grid slds-gutters" >
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Receipt Number</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p> {receiptNumber}</p>
                                </div><br>

                            </div>

                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Case</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{caseValue}</p>
                                </div><br>

                            </div>

                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Claim</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{claimValue}</p>
                                </div><br>

                            </div>

                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Special Welfare Account</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{swaValue}</p>
                                </div><br>

                            </div>

                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Vendor</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{vendorValue}</p>
                                </div><br>

                            </div>

                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Contact</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{contactValue}</p>
                                </div><br>

                            </div>

                            
                            
                            
                            <!-- <lightning-input-field field-name="Report_Number__c" value={receiptNumber} disabled>
                            </lightning-input-field> -->
                            <!-- <lightning-input-field field-name="Kinship_Case__c" value ={caseValue} disabled = disabled>
                            </lightning-input-field> -->
                            
                            <template if:true={showTrans}>
                            <lightning-combobox	
                            variant='label-inline'	
                            name="Transaction Code"	
                            label="Transaction Code"	
                            placeholder="Select Transaction Code"
                            value = {transVal}	
                            options={optionsTranscationCode}	
                            onchange={handlePaymentSourceChange}	
                            required ></lightning-combobox>
                            </template>
                            <template if:true={showOtherTranscationText}>
                                <lightning-input-field field-name="Other_Transaction_Description__c" required>
                                </lightning-input-field>
                            </template>
                           
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            
                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Recipient</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{recipient}</p>
                                </div><br>

                            </div>

                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Payment Amount</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{payValue}</p>
                                </div><br>

                            </div>

                            <div class="slds-grid slds-gutters slds-m-bottom_large">
                                <div class="slds-col slds-size_4-of-12">
                                    <label>Payment Method</label>
                                </div>
                                <div class="slds-col slds-size_8-of-12">
                                   <p>{paymentValue}</p>
                                </div><br>

                            </div>
                            <!-- <lightning-input-field variant ="label-inline" label="Vendor" field-name="Vendor__c"  value={vendorValue} disabled>
                            </lightning-input-field> -->
                            <!-- <lightning-input-field variant ="label-inline" label="Category" field-name="Category_lookup__c"  value={catValue} disabled>
                            </lightning-input-field> -->
                            <!-- <lightning-input-field variant ="label-inline" label="Payment Amount" field-name="Payment_Amount__c"  value={payValue} disabled>
                            </lightning-input-field> -->
                            <lightning-input-field field-name="Refunded_Receipt__c" >
                            </lightning-input-field>
                            <lightning-input-field field-name="Returned_Check__c" >
                            </lightning-input-field>
                            <lightning-input-field field-name="Change_Category__c" onchange={handleCategoryCheck}>
                            </lightning-input-field>

                            <template if:true={isCategory}>
                                <div class="slds-grid slds-gutters slds-m-bottom_large">
                                    <div class="slds-col slds-size_8-of-12">
                                    <c-sat-multi-select-lookup objectname="Category__c" variant="label-inline" perentselect={parentFisaclYearName}
                                    fieldnames="['Name', 'Category_Account_Description__c','Category_Type__c','FIPS_Code__c']" iconname="standard:account" styl="margin-left: 189px;" required="required"
                                    onselected={selectedCategory} label="Category" parent-id={parentId} 
                                    disabled={disableFiscalYear} placeholder="Select Category" where-str={catWhereStrn} fips-code={fipsCode}>
                                </c-sat-multi-select-lookup>
                                <lightning-input-field field-name="Category_lookup__c" style="display:none" value={catValueId} ></lightning-input-field>
                                </div>
                            </div> 
                            </template>
                        </div>
                    </div> 
                </div>
            </lightning-card>
           
        </template>
        <div class="slds-m-top_medium" style="text-align: center;">
            <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel" onclick={invoicecancel}></lightning-button>
            <lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle} data-isnext="0" type="submit" name="save" label="Save" >
            </lightning-button>
            <template if:false={isUpdate}>
                <lightning-button  variant="brand" type="submit" name="new" onclick={saveOrNextHandle} data-isnext="1" label="Save and New">
                </lightning-button>
            </template>
        </div>
    </lightning-record-edit-form>
    
    
    <c-spinner></c-spinner>
</div>

</template>