<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small" alternative-text="error"
                            title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {title}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                    <!--<div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onclick={closeToast} type="button">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"
                                alternative-text="close" title="close">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>-->
                </div>
            </div>
        </div>

    </template>

    <div style="position: relative;">
        <!--<div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_6-of-12">
                <c-custom-lookup obj-name="Campaign" search-placeholder="Search Accounting Period"
                    icon-name="standard:account" onlookupselected={handleSelection} parentid={parentfiscalyearid}
                    is-value-selected={isSelectedRecord} selected-name={selectedRecordName}> </c-custom-lookup>
            </div>
            <div class="slds-col slds-size_6-of-12">

            </div>
        </div>-->
        {opportunityId}

        <!--testcode-->
        <lightning-record-edit-form object-api-name="Payment__c" record-type-id={recordTypeIdStr}
            record-id={selectedInvoice}>
            <template if:false={isView}>

                <div class="slds-grid slds-gutters">

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Vendor__c" required value={vendor} onchange={vendorChange}>
                        </lightning-input-field>
                        <div class="slds-m-top_medium">
                            <lightning-input-field  field-name="Payment_Method__c" required value={paymentMethod}
                                onchange={paymentMethodChange}>
                            </lightning-input-field>
                        </div>
                        <template if:true={showPD}>
                            <lightning-input-field required field-name="Payment_Date__c" value={paymentDate}
                                onchange={paymentDateChange}>
                            </lightning-input-field>
                        </template>
                        <!--<lightning-input-field field-name="Invoice_Stage__c" value={stage}>
                        </lightning-input-field>-->


                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field style="display:none;" field-name="Accounting_Period__c"
                            value={parentfiscalyearid}>
                        </lightning-input-field>
                        <lightning-input-field style="display:none;" field-name="FIPS_Code__c"
                            value={fipsCode}>
                        </lightning-input-field>
                        <!--<lightning-input-field  field-name="Invoice_Number__c" value={invoiceNumber}
                            onchange={invoiceNumberChange}>
                        </lightning-input-field>
                        <lightning-helptext style="position: absolute;top: 0%;left: 57.1%;" content="Printed on Check Stub"></lightning-helptext>
                        -->
                        <div class="slds-form">
                            <div class="slds-form-element">
                                <div style="position: absolute;" >
                                    <label class="slds-form-element__label" >Invoice Number</label>
                                    <lightning-helptext  content="Printed on Check Stub"></lightning-helptext>
                                </div>
                                <div class="slds-size_2-of-3 slds-float_right">
                                <lightning-input-field field-name="Invoice_Number__c" variant="label-hidden" value={invoiceNumber}
                                        onchange={invoiceNumberChange}>
                                    </lightning-input-field>
                                </div>
                            </div>    
                        </div>
                        
                        <!--<div class="slds-m-top_large">
                            <div style="position: absolute;">
                            <label>Due date</label>
                            </div>
                        <lightning-input-field variant="label-hidden" field-name="Scheduled_Date__c" value={scheduledDate}
                            onchange={scheduledDateChange}>
                        </lightning-input-field>
                        </div>
                        <lightning-helptext style="position: absolute;top: 0%;left: 57.1%;" content="Printed on Check Stub"></lightning-helptext>
                        -->
                        <div class="slds-form slds-m-top_xx-large">
                            <div class="slds-form-element">
                                <div class="slds-m-top_x-small" style="position: absolute;" for="horizontal-input-id-02">
                                    <label class="slds-form-element__label" >Due Date</label>
                                   
                                </div>
                                <div class="slds-size_2-of-3 slds-m-top_xx-small slds-float_right">
                                <lightning-input-field field-name="Scheduled_Date__c" variant="label-hidden" value={scheduledDate}
                                        onchange={scheduledDateChange}>
                                    </lightning-input-field>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="slds-form">
                    <div class="slds-form-element">
                    <label>Description</label>
                    <lightning-helptext class="slds-m-left_xx-small" content="Printed on Check Stub"></lightning-helptext>
                    </div>
                    <lightning-input-field variant="label-hidden" field-name="Description__c" value={description}
                    onchange={descriptionChange} >
                    </lightning-input-field>
                </div>
            </template>
        </lightning-record-edit-form>
        <template for:each={itemList} for:item="item" for:index="index">
            <lightning-record-edit-form record-type-id={recordTypeIdStr} key={item.id} oncancel={invoicecancel}
                object-api-name="Payment__c" onsuccess={handleSuccess} record-id={selectedInvoice} columns="2"
                onsubmit={handleSubmit} onerror={errorHandler}>

                <template if:false={isView}>

                    <lightning-layout multiple-rows style="margin-left: -10px;">
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="4"
                            large-device-size="7" padding="around-small">
                            <c-sat-multi-select-lookup required='true' objectname="Category__c"
                                fieldnames="['Name','Category_Account_Description__c','Locality_Account_Code__c']" data-id={item.id}
                                iconname="standard:account" onselected={selectedRecords} label="Category"
                                perentselect={selectedCategoryStr} where-str={catWhereStr} disabled={item.disableCat}
                                placeholder="Search Categories...">
                            </c-sat-multi-select-lookup>
                            <lightning-input-field style="display:none;" value={selectedCate}
                                field-name="Category_lookup__c">
                            </lightning-input-field>
                            <lightning-input-field field-name="Description__c" value={description}
                                style="display: none;" placeholder="Printed on Check Stub">
                            </lightning-input-field>
                            <lightning-input-field field-name="Opportunity__c" style="display: none;">
                            </lightning-input-field>
                            
                            <template if:true={item.showCostLookup}>
                                <c-sat-multi-select-lookup objectname="Cost_Center__c" data-id={item.id} perentselect={item.parentCostCenterName}
                                fieldnames="['Name']" iconname="standard:account" required="required"
                                onselected={selectedRecords} label="Cost Center" parent-id={parentId} show-cost-lookup={item.showCostLookup}
                                disabled={item.disableCostCenter} disable-cost-center={item.disableCostCenter} placeholder="Select Cost Center" where-str={costWhereStr} cost-center-ids={item.costCenterIds}>
                            </c-sat-multi-select-lookup>
                            <lightning-input-field field-name="Cost_Center__c" style="display:none" value={costCernterId} ></lightning-input-field>
                            </template> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="2"
                            large-device-size="2" padding="around-small">
                            <lightning-input-field variant=label-stacked field-name="Payment_Amount__c" required
                                value={item.amoumt} data-id={item.id} onchange={paymentAmountChange}>
                            </lightning-input-field>
                            <lightning-input-field field-name="Invoice_Stage__c" value={stage} style="display: none;">
                            </lightning-input-field>
                            <lightning-input-field style="display:none;" field-name="Accounting_Period__c"
                                value={parentfiscalyearid}>
                            </lightning-input-field>
                            <lightning-input-field style="display:none;" field-name="FIPS_Code__c"
                                value={fipsCode}>
                            </lightning-input-field>
                            <lightning-input-field style="display:none;" field-name="Vendor__c" required value={vendor}>
                            </lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="2"
                            large-device-size="2" padding="around-small">
                            <lightning-input-field variant=label-stacked field-name="Fund__c" value={fund}>
                            </lightning-input-field>
                                
                            <lightning-input-field  style="display:none;" field-name="Invoice_Number__c"
                                value={invoiceNumber}>
                            </lightning-input-field>
                            
                            
                            <lightning-input-field style="display:none;" field-name="Payment_Method__c" required
                                onchange={paymentMethodChange}>
                            </lightning-input-field>
                            <lightning-input-field style="display:none;" field-name="Payment_Date__c"
                                value={paymentDate} onchange={paymentDateChange}>
                            </lightning-input-field>
                            <div class="slds-form-element slds-form-element_horizontal">
                                <div class="slds-form-element__control">
                                    <lightning-input-field style="display:none;" variant="label-hidden"
                                        field-name="Scheduled_Date__c" value={scheduledDate}
                                        onchange={scheduledDateChange}>
                                    </lightning-input-field>
                                </div>
                            </div>

                        </lightning-layout-item>
                        <template if:true={showAddDelete}>
                            <lightning-layout-item size="12" small-device-size="6" medium-device-size="4"
                                large-device-size="1" padding="around-small">
                                <div class="slds-p-top_medium">
                                    <lightning-icon icon-name="action:new" access-key={item.id} id={index}
                                        alternative-text="Add Row" size="xx-small" title="Add Row" onclick={addRow}>
                                    </lightning-icon>
                                    <!--<template if:true={hideDeleteButton}>-->
                                    <lightning-icon icon-name="action:delete" access-key={item.id} id={index}
                                        alternative-text="Delete Row" size="xx-small" title="Delete Row"
                                        onclick={removeRow}>
                                    </lightning-icon>
                                    <!--</template>-->

                                </div>
                            </lightning-layout-item>
                        </template>
                        <template if:false={showAddDelete}>
                            <lightning-layout-item size="12" small-device-size="12" medium-device-size="12"
                                large-device-size="12" padding="around-small">
                                <lightning-file-upload label="File Attachment" name="fileUploader"
                                    accept={acceptedFormats} record-id={recordId}
                                    onuploadfinished={handleUploadFinished} multiple>
                                </lightning-file-upload>
                                <div class="slds-media__body">
                                    <!--<span class="slds-file__text slds-truncate">{fileName}</span>-->
                                    <template for:each={fileName} for:item="fname">
                                        <span key={fname} class="slds-pill slds-pill_link">
                                            <span class="slds-pill__icon_container">
                                                <lightning-icon icon-name="standard:file" alternative-text="file"
                                                    title="file"></lightning-icon>
                                            </span>
                                            <a href="#" class="slds-pill__action"
                                                title="Full pill label verbiage mirrored here">
                                                <span class="slds-pill__label">{fname}</span>
                                            </a>

                                        </span>
                                    </template>

                                </div>
                                <lightning-card title="Files">
                                    <lightning-datatable key-field="Id" data={fileData} columns={columns}
                                        hide-checkbox-column>
                                    </lightning-datatable>
                                </lightning-card>

                            </lightning-layout-item>
                            <lightning-layout-item size="12" small-device-size="12" medium-device-size="12"
                                large-device-size="12" padding="around-small" class="slds-m-top_medium"
                                style="text-align: center;">
                                <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
                                    onclick={invoicecancel}></lightning-button>
                                <lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle}
                                    data-isnext="0" type="submit" name="save" label="Save">
                                </lightning-button>
                            </lightning-layout-item>
                        </template>

                    </lightning-layout>
                </template>

                <template if:true={isView}>

                    <div class="slds-grid slds-gutters">

                        <div class="slds-col slds-size_1-of-2">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Vendor__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Payment_Method__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                <div class="slds-form-element__control">
                                    <lightning-output-field field-name="Invoice_Stage__c">
                                    </lightning-output-field>
                                </div>
                                <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                    class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                    title="edit">
                                </lightning-button-icon>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Accounting_Period__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>

                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Payment_Amount__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Category_lookup__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>


                        </div>
                    </div>
                    <lightning-output-field field-name="Description__c">
                    </lightning-output-field>

                </template>

            </lightning-record-edit-form>
        </template>
        <template if:true={showAddDelete}>
            <template if:true={showTotalAmount}>
                <div class="slds-media__body" style="text-align: center;margin-left: 335px;">
                    <b>Total Amount: </b><span class="slds-file__text slds-truncate">${getTotalAmountFun}</span>
                </div>
            </template>
        </template>

        <template if:true={showAddDelete}>
            <lightning-layout>
                <lightning-file-upload label="File Attachment" name="fileUploader" accept={acceptedFormats}
                    record-id={recordId} onuploadfinished={handleUploadFinished} multiple>
                </lightning-file-upload>
                <div class="slds-media__body" style="padding-top: 60px;margin-left: -222px;">
                    <!--<span class="slds-file__text slds-truncate">{fileName}</span>-->
                    <template for:each={fileName} for:item="fname">
                        <span key={fname} class="slds-pill slds-pill_link">
                            <span class="slds-pill__icon_container">
                                <lightning-icon icon-name="standard:file" alternative-text="file" title="file">
                                </lightning-icon>
                            </span>
                            <a href="#" class="slds-pill__action" title="Full pill label verbiage mirrored here">
                                <span class="slds-pill__label">{fname}</span>
                            </a>

                        </span>
                    </template>

                </div>

            </lightning-layout>


            <template if:false={showFile}>
                <lightning-card title="Files">
                    <lightning-datatable key-field="Id" data={fileData} columns={columns} hide-checkbox-column>
                    </lightning-datatable>
                </lightning-card>

            </template>
        </template>
        <template if:true={showAddDelete}>
            <div class="slds-m-top_medium" style="text-align: center;">
                <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
                    onclick={invoicecancel}></lightning-button>
                <lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle} data-isnext="0"
                    type="submit" name="save" label="Save">
                </lightning-button>
                <template if:false={isUpdate}>
                    <lightning-button variant="brand" type="submit" name="new" onclick={saveOrNextHandle}
                        data-isnext="1" label="Save and New">
                    </lightning-button>
                </template>
            </div>
        </template>

        <!--testcodeEnds-->






        <!--main code backup-->
        <!--<lightning-record-edit-form record-type-id={recordTypeIdStr}  oncancel={invoicecancel}
            object-api-name="Payment__c" onsuccess={handleSuccess} record-id={selectedInvoice} columns="2"
            onsubmit={handleSubmit} onerror={errorHandler}>
            <lightning-messages>
            </lightning-messages>
            <template if:false={isView}>

                <div class="slds-grid slds-gutters">

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Invoice_Number__c" value={invoiceNumber}>
                        </lightning-input-field>
                        
                        <lightning-input-field field-name="Payment_Method__c" required value={paymentMethod} onchange={paymentMethodChange}>
                        </lightning-input-field>
                        <!-<lightning-input-field field-name="Invoice_Stage__c" value={stage}>
                        </lightning-input-field>->
                        
                        
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field style="display:none;" field-name="Accounting_Period__c" value={parentfiscalyearid}>
                        </lightning-input-field>
                        <lightning-input-field field-name="Vendor__c" required value={vendor}>
                        </lightning-input-field>
                        <!-<lightning-input-field field-name="Payment_Amount__c" required value={paymentAmount}>
                        </lightning-input-field>
                        <lightning-input-field field-name="Invoice_Stage__c" value={stage} style="display: none;">
                        </lightning-input-field>
                        
                        <c-sat-multi-select-lookup required ='true' objectname="Category__c" fieldnames="['Name','Locality_Account_Code__c']"
							iconname="standard:account" onselected={selectedCategory} label="Category" perentselect={selectedCategoryStr}
							where-str={catWhereStr} disabled={disableCat} placeholder="Search Categories...">
						</c-sat-multi-select-lookup>
                        <lightning-input-field field-name="Fund__c" value={fund}>
                        </lightning-input-field>

                        <lightning-input-field style="display:none;" value={selectedCate} field-name="Category_lookup__c">
                        </lightning-input-field>->
                        
                    </div>
                </div>
                <lightning-input-field field-name="Description__c" value={description}>
                </lightning-input-field>
                <template for:each={itemList} for:item="item" for:index="index" >
                    <div key={item.id}>
                        <lightning-layout multiple-rows>
                            <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="3"
                                padding="around-small">
                                <lightning-input-field field-name="Payment_Amount__c" required value={paymentAmount}>
                                </lightning-input-field>
                                <lightning-input-field field-name="Invoice_Stage__c" value={stage} style="display: none;">
                                </lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="3"
                                padding="around-small">
                                    <c-sat-multi-select-lookup required ='true' objectname="Category__c" fieldnames="['Name',       'Locality_Account_Code__c']"
                                        iconname="standard:account" onselected={selectedCategory} label="Category" perentselect={selectedCategoryStr}
                                        where-str={catWhereStr} disabled={disableCat} placeholder="Search Categories...">
                                    </c-sat-multi-select-lookup>
                                <lightning-input-field style="display:none;" value={selectedCate} field-name="Category_lookup__c">
                                </lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="3"
                                padding="around-small">
                                <lightning-input-field field-name="Fund__c" value={fund}>
                                </lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item size="12" small-device-size="6" medium-device-size="4" large-device-size="3"
                                padding="around-small">
                                <div class="slds-p-top_medium">
                                    <lightning-icon icon-name="action:new" access-key={item.id} id={index}
                                        alternative-text="Add Row" size="xx-small" title="Add Row" onclick={addRow}>
                                    </lightning-icon>
                                    <lightning-icon icon-name="action:delete" access-key={item.id} id={index}
                                        alternative-text="Delete Row" size="xx-small" title="Delete Row" onclick={removeRow}>
                                    </lightning-icon>
                                </div>
                            </lightning-layout-item>
                        </lightning-layout>
                    </div>    
                    
                </template>
                <lightning-file-upload
                    label="Attach receipt"
                    name="fileUploader"
                    accept={acceptedFormats}
                    record-id={recordId}
                    onuploadfinished={handleUploadFinished}
                    multiple>
                </lightning-file-upload>
                <div class="slds-m-top_medium" style="text-align: center;">
                    <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel" onclick={invoicecancel}></lightning-button>
                    <!-<lightning-button style="padding-right: 5px;" variant="brand" type="submit" name="save" label="Save" >
                    </lightning-button>->
                    <lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle} data-isnext="0" type="submit" name="save" label="Save" >
                    </lightning-button>
                    <template if:false={isUpdate}>
                        <lightning-button  variant="brand" type="submit" name="new" onclick={saveOrNextHandle} data-isnext="1" label="Save and New">
                        </lightning-button>
                    </template>
                </div>
                
            </template>

            <template if:true={isView}>

                <div class="slds-grid slds-gutters">

                    <div class="slds-col slds-size_1-of-2">
                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">
                                    <lightning-output-field field-name="Vendor__c">
                                    </lightning-output-field>
                                    
                                </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>
                                
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">
                                    <lightning-output-field field-name="Payment_Method__c">
                                    </lightning-output-field>
                                    
                                </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>
                                
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                            <div class="slds-form-element__control">
                                <lightning-output-field field-name="Invoice_Stage__c">
                                </lightning-output-field>
                            </div>
                            <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                title="edit">
                            </lightning-button-icon>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">
                                    <lightning-output-field field-name="Accounting_Period__c">
                                    </lightning-output-field>
            
                                </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>
                                
                            </div>
                        </div>
                        
                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">
                                    <lightning-output-field field-name="Payment_Amount__c">
                                    </lightning-output-field>
                                    
                                </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>
                                
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">
                                    <lightning-output-field field-name="Category_lookup__c">
                                    </lightning-output-field>
            
                                </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>
                                
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                <lightning-output-field field-name="Description__c">
                </lightning-output-field>
                
            </template>

        </lightning-record-edit-form>-->

        <c-spinner></c-spinner>
    </div>
</template>