<template>
    <!--<lightning-button variant="brand"
       label="IFSP Service Plan"
       title="IFSP Service Plan"
       onclick={openModal}
       class="slds-m-left_x-small">
    </lightning-button> 
    &nbsp;&nbsp;--> 
    
    <lightning-button variant="brand"
        label="Service Plan Editor"
        title="Service Plan Editor"
        onclick={openViewModal}
        class="slds-m-left_x-small">
    </lightning-button>
    
    


    <!--<template if:true={isModalOpen}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon_inverse" title="Close" onclick={closeModal}>
                    <lightning-icon icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{modalHeader}</h2>
            </header>
            
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <template if:true={screen1}>                    
                    <lightning-record-form
                        record-id={caseId}
                        object-api-name="Kinship_Case__c"
                        fields={fieldsCase}
                        columns="2"                  
                        >
                    </lightning-record-form>
                </template>
                <template if:true={screen2}>                    
                    <lightning-record-form
                        record-id={recordId}
                        object-api-name="IFSP__c"
                        fields={fieldsFamilyInformation}
                        columns="2"                  
                        >
                    </lightning-record-form>
                </template>
                <template if:true={screen3}>                    
                    <lightning-record-form
                        record-id={recordId}
                        object-api-name="IFSP__c"
                        fields={fieldsAssessments}
                        columns="2"                  
                        >
                    </lightning-record-form>
                </template>
                <template if:true={screen4}>                    
                    <lightning-record-form
                        record-id={recordId}
                        object-api-name="IFSP__c"
                        fields={fieldsFinancialInformation}
                        columns="2"                  
                        >
                    </lightning-record-form>
                </template>
                <template if:true={screen5}>
                    <button class="slds-button slds-button_brand" onclick={handleEducationNewRecord}>New Education</button>
                    <br/>
                    <template if:true={newEducationRecord}>
                        <lightning-record-form                            
                            object-api-name="Education__c"
                            fields={fieldsEducation}
                            columns="2"
                            mode="edit"
                            onsubmit={createNewRecord}
                            oncancel={hideNewRecord}             
                            >
                        </lightning-record-form>
                    </template>
                    <template for:each={education} for:item="ed">
                        <b key={ed.Id}>{ed.Name}</b>                    
                        <lightning-record-form
                            key={ed.Id}
                            record-id={ed.Id}
                            object-api-name="Education__c"
                            fields={fieldsEducation}
                            columns="2"                  
                            >
                        </lightning-record-form>
                    </template>
                </template>
                <template if:true={screen6}>
                    <button class="slds-button slds-button_brand" onclick={handleHealthNewRecord}>New Health</button>
                    <br/>
                    <template if:true={newHealthRecord}>
                        <lightning-record-form                            
                            object-api-name="Health__c"
                            fields={fieldsHealth}
                            columns="2"
                            mode="edit"
                            onsubmit={createNewRecord}
                            oncancel={hideNewRecord}             
                            >
                        </lightning-record-form>
                    </template>
                    <template for:each={health} for:item="h">
                        <b key={h.Id}>{h.Name}</b>                    
                        <lightning-record-form
                            key={h.Id}
                            record-id={h.Id}
                            object-api-name="Health__c"
                            fields={fieldsHealth}
                            columns="2"                  
                            >
                        </lightning-record-form>
                    </template>
                </template>
                <template if:true={screen7}>
                    <c-service-plan-goals record-id={recordId} is-disabled=false></c-service-plan-goals>
                </template>
                <template if:true={screen8}>
                    <template if:true={isJointTeamIdNull}>
                        <lightning-record-form
                            record-id={recordId}
                            object-api-name="IFSP__c"
                            fields="CSA_Team__c"
                            columns="2" 
                            onsuccess={newJointTeamSubmit}                 
                            >
                        </lightning-record-form>
                    </template>
                    <template if:false={isJointTeamIdNull}>
                        <lightning-record-form
                            record-id={jointTeamId}
                            object-api-name="CSA_Agenda_Team__c"
                            fields={fieldsJointTeam}
                            columns="2"                                             
                            >
                        </lightning-record-form>      
                    </template>                                  
                </template>
                <template if:true={screen9}>
                    <button class="slds-button slds-button_brand" onclick={handleRequisitionNewRecord}>New Requisition</button>
                    <br/>
                    <template if:true={newRequisitionRecord}>
                        <lightning-record-form                            
                            object-api-name="Requisition__c"
                            fields={fieldsRequisition}
                            columns="2"
                            mode="edit"
                            onsubmit={createNewRecord}
                            oncancel={hideNewRecord}             
                            >
                        </lightning-record-form>
                    </template>
                    <template for:each={requisition} for:item="req">
                        <b key={req.Id}>{req.Name}</b>                    
                        <lightning-record-form
                            key={req.Id}
                            record-id={req.Id}
                            object-api-name="Requisition__c"
                            fields={fieldsRequisition}
                            columns="2"                  
                            >
                        </lightning-record-form>
                    </template>
                </template>
            </div>
            
            <footer class="slds-modal__footer slds-modal__footer_directional">
                <button class="slds-button slds-button_neutral" onclick={handlePreviousButton} disabled={disablePrevious}>Previous</button>
                <lightning-progress-indicator current-step={currentStep} type="base" variant="base">
                    <lightning-progress-step value="1"></lightning-progress-step>
                    <lightning-progress-step value="2"></lightning-progress-step>
                    <lightning-progress-step value="3"></lightning-progress-step>
                    <lightning-progress-step value="4"></lightning-progress-step>
                    <lightning-progress-step value="5"></lightning-progress-step>
                    <lightning-progress-step value="6"></lightning-progress-step>
                    <lightning-progress-step value="7"></lightning-progress-step>
                    <lightning-progress-step value="8"></lightning-progress-step>
                    <lightning-progress-step value="9"></lightning-progress-step>                    
                </lightning-progress-indicator>
                <template if:false={showSaveButton}>
                    <button class="slds-button slds-button_brand" onclick={handleNextButton} disabled={disableNext}>Next</button>
                </template>
                <template if:true={showSaveButton}>
                    <button class="slds-button slds-button_brand" onclick={handleSubmitButton}>Submit</button>
                </template>
                
              </footer>
        </div>
        </section>
    </template>-->
    
    <template if:true={isViewModalOpen}>
        <section role="dialog" tabindex="0" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Service Plan Editor</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                    <lightning-layout class="container slds-card" multiple-rows="true">
                        
                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Demographic Information</b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            &nbsp;<b>Case Name:</b>&nbsp;{caseName}
                            <br/>
                            <lightning-record-form
                                class="strong-text"
                                record-id={caseId}
                                object-api-name="Kinship_Case__c"
                                fields={fieldsCase}
                                columns="2"
                                mode="view"
                                data-name="demoInfo"
                                onchange={recordFormChange}
                                onsuccess={recordFormCancelSuccess}
                                oncancel={recordFormCancelSuccess}              
                                >
                            </lightning-record-form>
                        </lightning-layout-item>
                        
                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Family Information</b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <lightning-record-form
                                class="strong-text"
                                record-id={recordId}
                                object-api-name="IFSP__c"
                                fields={fieldsFamilyInformation}
                                mode="view"
                                density="comfy"
                                data-name="familyInfo"
                                onchange={recordFormChange}
                                onsuccess={recordFormCancelSuccess}
                                oncancel={recordFormCancelSuccess}                  
                                >
                            </lightning-record-form>
                        </lightning-layout-item>                        
                        
                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Assessments</b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <lightning-record-form
                                class="strong-text"
                                record-id={recordId}
                                object-api-name="IFSP__c"
                                fields={fieldsAssessments}
                                columns="2" 
                                mode="view" 
                                data-name="assessment"
                                onchange={recordFormChange}
                                onsuccess={recordFormCancelSuccess}
                                oncancel={recordFormCancelSuccess}                
                                >
                            </lightning-record-form>
                        </lightning-layout-item>
                        
                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Financial Information</b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <lightning-record-form
                                class="strong-text"
                                record-id={recordId}
                                object-api-name="IFSP__c"
                                fields={fieldsFinancialInformation}
                                columns="2" 
                                mode="view"
                                data-name="financialInfo"
                                onchange={recordFormChange}
                                onsuccess={recordFormCancelSuccess}
                                oncancel={recordFormCancelSuccess}                  
                                >
                            </lightning-record-form>
                        </lightning-layout-item>
                        
                        <!-- <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Education Information</b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <button class="slds-button slds-button_brand" onclick={handleEducationNewRecord}>New Education</button>
                            <br/>
                            <template if:true={newEducationRecord}>
                                <lightning-record-form
                                    class="strong-text"                            
                                    object-api-name="Education__c"
                                    record-id={createdEducation}
                                    fields={fieldsEducation}
                                    columns="2"
                                    mode="edit"
                                    data-name="educationInfo"
                                    data-id="newEdu"
                                    onchange={recordFormChange}
                                    onsuccess={handleEducationSuccess}
                                    oncancel={hideNewRecord}                                                 
                                    >
                                </lightning-record-form>
                            </template>
                            <template for:each={education} for:item="ed">
                                <b key={ed.Id}>{ed.Name}</b>                    
                                <lightning-record-form
                                    class="strong-text"
                                    key={ed.Id}
                                    record-id={ed.Id}
                                    object-api-name="Education__c"
                                    fields={fieldsEducation}
                                    columns="2"
                                    mode="view" 
                                    data-name="educationInfo"
                                    data-id={ed.Id}
                                    onchange={recordFormChange}
                                    onsuccess={recordFormCancelSuccess}
                                    oncancel={recordFormCancelSuccess}                 
                                    >
                                </lightning-record-form>
                            </template>
                        </lightning-layout-item>
                         -->
                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Health Information</b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <button class="slds-button slds-button_brand" onclick={handleHealthNewRecord}>New Health</button>
                            <br/>
                            <template if:true={newHealthRecord}>
                                <lightning-record-form   
                                    class="strong-text"                         
                                    object-api-name="Health__c"
                                    fields={fieldsHealth}
                                    columns="2"
                                    mode="edit"
                                    data-name="educationInfo"
                                    data-id="newHealth"
                                    onchange={recordFormChange}
                                    onsuccess={handleHealthSuccess}
                                    oncancel={hideNewRecord}              
                                    >
                                </lightning-record-form>
                            </template>
                            <template for:each={health} for:item="h">
                                <b key={h.Id}>{h.Name}</b>                    
                                <lightning-record-form
                                    class="strong-text"
                                    key={h.Id}
                                    record-id={h.Id}
                                    object-api-name="Health__c"
                                    fields={fieldsHealth}
                                    columns="2" 
                                    mode="view" 
                                    data-name="healthInfo"
                                    data-id={h.Id}
                                    onclick={recordFormChange}
                                    onsuccess={recordFormCancelSuccess}
                                    oncancel={recordFormCancelSuccess}                
                                    >
                                </lightning-record-form>
                            </template>
                        </lightning-layout-item>
                        
                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Goals and Objectives</b> 
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <c-service-plan-goals record-id={recordId} onnewgoalcheck={checkGoalSection}></c-service-plan-goals>
                        </lightning-layout-item>
                        
                        <!--<lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Joint Team Meeting</b> 
                        </lightning-layout-item>                        
                        <lightning-layout-item size="12" padding="around-small">                            
                            <template for:each={meetingAgenda} for:item="ma">
                                <b key={ma.Id}>{ma.Name}</b>
                                <lightning-record-form
                                    key={ma.Id}
                                    class="strong-text"
                                    record-id={ma.Id}
                                    object-api-name="CSA_Meeting_Agenda__c"
                                    fields={fieldsJointTeam}
                                    columns="2" 
                                    mode="readOnly"                                             
                                    >
                                </lightning-record-form>
                                <template if:true={ma.FAPT_Meeting_Agenda_Items__r.size}></template>
                                <b key={ma.Id}>Agenda Items</b>
                                <template for:each={ma.FAPT_Meeting_Agenda_Items__r} for:item="ai">
                                    <lightning-record-form
                                        key={ai.Id}
                                        class="strong-text"
                                        record-id={ai.Id}
                                        object-api-name="CSA_Meeting_Agenda_Item__c"
                                        fields={fieldsAgendaItem}
                                        columns="2" 
                                        mode="view"                                             
                                        >
                                    </lightning-record-form>
                                </template>
                                <button class="slds-button slds-button_brand" key={ma.Id}>Add Agenda Item</button>
                                <br key={ma.Id}/>
                                
                            </template>                            
                        </lightning-layout-item>  -->                      
                        
                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Service Authorization</b>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <button class="slds-button slds-button_brand" onclick={handleRequisitionNewRecord}>New Requisition</button>
                            <br/>
                            <template if:true={newRequisitionRecord}>
                                <lightning-record-form  
                                    class="strong-text"                          
                                    object-api-name="Requisition__c"
                                    fields={fieldsRequisition}
                                    columns="2"
                                    mode="edit"
                                    data-name="educationInfo"
                                    data-id="newServiceAuth"
                                    onchange={recordFormChange}
                                    onsuccess={handleRequisitionSuccess}
                                    oncancel={hideNewRecord}                                                 
                                    >
                                </lightning-record-form>
                            </template>
                            <template for:each={requisition} for:item="req">
                                <b key={req.Id}>{req.Name}</b>                    
                                <lightning-record-form
                                    class="strong-text"
                                    key={req.Id}
                                    record-id={req.Id}
                                    object-api-name="Requisition__c"
                                    fields={fieldsRequisition}
                                    columns="2" 
                                    mode="view"
                                    data-name="serviceAuth"
                                    data-id={req.Id}
                                    onchange={recordFormChange}
                                    onsuccess={recordFormCancelSuccess}
                                    oncancel={recordFormCancelSuccess}                 
                                    >
                                </lightning-record-form>
                            </template>
                        </lightning-layout-item>

                        <lightning-layout-item size="12" padding="around-small" class="slds-page-header">
                            <b>Notes</b>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" padding="around-small">
                            <lightning-record-form
                                class="strong-text"
                                object-api-name="IFSP__c"
                                fields="Notes__c"
                                mode="view"
                                density="comfy" 
                                data-name="notes"
                                onchange={recordFormChange}
                                onsuccess={recordFormCancelSuccess}
                                oncancel={recordFormCancelSuccess}               
                                >
                            </lightning-record-form>
                        </lightning-layout-item>                            
                    </lightning-layout>
                                      
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer slds-modal__footer_directional">                    
                    <button class="slds-button slds-button_brand" style="float: right;" onclick={closeModal}>Close</button>                 
                </footer>
            </div>
            </section>
    </template>
</template>