.model-width {
    width: 80% !important;
    max-width: 80% !important;    
}

.datatable-1 {
	margin-bottom: var(--lwc-spacingXLarge);
}

.layout-2 {
	margin-bottom: auto;
	line-height: var(--lwc-lineHeightHeading);
	text-align: left;
	background: #f5f5f5;
	border: 1px black none;
	opacity: 100%;
}
.layout-3 {
	margin-bottom: var(--lwc-spacingSmall);
	margin-top: var(--lwc-spacingSmall);
	text-align: center;
}