<template>
	<div class="" style="background-color: white;">
		<lightning-card variant="Narrow" title="">
			<!-- Show Toast -->
			<template if:true={isShowToast}>
				<div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
					<div class="slds-notify_container slds-is-relative">
						<div class={toastType} role="status">
							<span class="slds-assistive-text">error</span>
							<span
								class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
								title="Description of icon when needed">
								<lightning-icon icon-name={toastIcon} variant="inverse" size="small"
									alternative-text="error" title="Error">
								</lightning-icon>
							</span>
							<div class="slds-notify__content">
								<h2 class="slds-text-heading_small ">
									{title}
								</h2>
								<p>
									{message}
								</p>
							</div>
							<div class="slds-notify__close">
								<button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
									onclick={closeToast} type="button">
									<lightning-icon icon-name="utility:close" variant="inverse" size="small"
										alternative-text="close" title="close">
									</lightning-icon>
									<span class="slds-assistive-text">Close</span>
								</button>
							</div>
						</div>
					</div>
				</div>

			</template>


			<template if:true={isRecordCreated}>
				<template if:true={isAddRecepit}>
					<lightning-button style="margin-right: 10px;" label="Add Invoice" disabled={disablebutton}
						slot="actions" variant="brand" title="Non-primary action" onclick={handleClick} class="">
					</lightning-button>
				</template>
				<lightning-button label="Pay Invoices" disabled={disablebutton} slot="actions" variant="brand"
					title="Non-primary action" onclick={handlePayInvoices} class="">
				</lightning-button>
				<lightning-button style="margin-left: 10px;" disabled={disablebutton} label="Add Adjustment"
					slot="actions" variant="brand" title="Non-primary action" onclick={handleAddAdjustment} class="">
				</lightning-button>

			</template>
			<template if:false={recordId}>

				<!--<div class="slds-grid slds-gutters">
					<div class="slds-col">

					</div>
					<div class="slds-col">
						<c-sat-multi-select-lookup objectname="Campaign" fieldnames="['Name']"
							iconname="standard:opportunity" onselected={selectedAP} label="Accounting Period"
							where-str={whereStr} disabled={disableAP} placeholder="Search Accounting Periods..."
							like-string='%laser%'>
						</c-sat-multi-select-lookup>

					</div>
					<div class="slds-col">

					</div>
				</div>-->
				<lightning-card title="FIPS">
					<p class="slds-p-horizontal_small">
						<lightning-accordion allow-multiple-sections-open
						onsectiontoggle={handleSectionToggle} class="example-accordion" active-section-name="1">
							<!--<template for:each={dataList} for:item="v" for:index="ind">
								<lightning-accordion-section key={v} name={ind} label={v.Name}>
									<!-<template if:true={v.isVouchers}>
									->
										<table
											class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped"
											aria-labelledby="element-with-table-label other-element-with-table-label">
											<thead>
												<tr class="slds-line-height_reset">

													<th class="" scope="col">
														<div class="slds-truncate" title="Voucher Name">
															Voucher Name</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate" title="Accounting Period Name">Accounting
															Period Name</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate" title="Status">Status</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate" title="">Actions</div>
													</th>
												</tr>
											</thead>
											<tbody>
												<template for:each={v.List} for:item="po"
													for:index="poInd">
													<tr class="slds-hint-parent" key={po.Id}>
														<td data-label={po.Name}>
															<div class="slds-truncate" title={po.Name}>
																<a href={po.href}>{po.Name}</a>
															</div>
														</td>
														<td data-label={po.Accounting_Period__r.Name}>
															<div class="slds-truncate" title={po.Accounting_Period__r.Name}>
																<a href={po.hrefA}>{po.Accounting_Period__r.Name}</a>
															</div>
														</td>
														<td data-label={po.StageName}>
															<div class="slds-truncate" title={po.StageName}>
																{po.StageName}
															</div>
														</td>
														<td data-label="Actions">
															<div class="slds-truncate" title="Actions">
																	<lightning-button-icon icon-name="utility:add" variant="border-filled"
																		alternative-text="Add Adjustment" data-id={po.Id}
																		onclick={editVoucher}
																		title="Add Adjustment"></lightning-button-icon>
															</div>
														</td>
													</tr>
												</template>
											</tbody>
										</table>
									<!-</template>
									-></lightning-accordion-section>
							</template>-->
							<template for:each={apWithVouchers} for:item="v" for:index="ind">
								<div key={v}>
									<lightning-accordion-section key={v}  name="1" label={v.FIPSName}>
										<table
											class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped"
											aria-labelledby="element-with-table-label other-element-with-table-label">
											<thead>
												<tr class="slds-line-height_reset">

													<th class="" scope="col">
														<div class="slds-truncate" title="Voucher Name">
															Voucher Name</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate" title="Accounting Period Name">
															Accounting
															Period Name</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate" title="Status">Status</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate slds-align_absolute-center" title="Amount">Total Invoices</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate slds-align_absolute-center" title="Amount">Total Adjustments</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate slds-align_absolute-center" title="Amount">Total Amount</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate slds-align_absolute-center slds-p-right_xx-large" title="">Actions</div>
													</th>
												</tr>
											</thead>
											<tbody>
												<template for:each={v.vouchers} for:item="po" for:index="poInd">
													<tr class="slds-hint-parent" key={po.Id}>
														<td data-label={po.Name}>
															<div class="slds-truncate" title={po.Name}>
																<a href={po.href}>{po.Name}</a>
															</div>
														</td>
														<td data-label={po.Accounting_Period__r.Name}>
															<div class="slds-truncate"
																title={po.Accounting_Period__r.Name}>
																<template if:true={po.isCurrent}>
																		<p>{po.Accounting_Period__r.Name}</p></b>
																	<lightning-icon icon-name="utility:clock"
																		alternative-text="Connected" size="x-small"
																		style="margin-left: 5px;" title="x-small size">
																	</lightning-icon>
																</template>
																<template if:false={po.isCurrent}>
																	
																	<p>{po.Accounting_Period__r.Name}</p>
																</template>
															</div>
														</td>
														<td data-label={po.StageName}>
															<div class="slds-truncate" title={po.StageName}>
																{po.StageName}
										
															</div>
														</td>
														
														<td data-label={po.StageName}>
															<div class="slds-truncate slds-float_right" title={po.StageName}>
																<p><lightning-formatted-number value={po.Total_Amount__c} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
															</div>
														</td>

														<td data-label={po.StageName}>
															<div class="slds-truncate slds-float_right" title={po.StageName}>
																<p><lightning-formatted-number value={po.Total_Adjustment__c} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
															</div>
														</td>

														<td data-label={po.StageName}>
															<div class="slds-truncate slds-float_right" title={po.StageName}>
																<p><lightning-formatted-number value={po.sum} format-style="currency" currency-code="USD"></lightning-formatted-number></p>
															</div>
														</td>
														
														<td data-label="Actions">
															<template if:false={po.isClosed}>
																	<lightning-layout 
                        											class="slds-m-left_xx-large slds-p-left_xx-large slds-grid slds-grid_vertical-align-center slds-grid_pull-padded-medium slds-wrap"
                        											style="display: flex;">
																	<lightning-layout-item>
																		<lightning-button 
																			label="Add Invoices"
																			variant="base"
																			class="slds-m-left_xx-small"
																			alternative-text="Add Invoices"
																			data-apid={po.Accounting_Period__c}
																			data-id={po.Id} onclick={openInvoice}
																			></lightning-button>
																		</lightning-layout-item>

																	<lightning-layout-item>
																		<div class="slds-p-left_medium slds-p-right_medium"><p> | </p></div>
																	</lightning-layout-item>

																	<lightning-layout-item>	
																		<lightning-button
																		label="Add Adjustments"
																		variant="base"
																		alternative-text="Add vfdsfsf Adjustments"
																		data-apid={po.Accounting_Period__c}
																		data-id={po.Id} onclick={openAdjustment}
																		></lightning-button>
																	</lightning-layout-item>
																	<template if:false={po.showPeriod}>
																		<lightning-layout-item>
																			<div class="slds-p-left_medium slds-p-right_medium"><p> | </p></div>
																		</lightning-layout-item>

																		<lightning-layout-item>	
																			<div class="slds-truncate" title={po.Name}>
																				<a href={po.hrefP}>Post Accounting Period</a>
																			</div>
																			<!--<lightning-button
																			label="Post Accounting Period"
																			variant="base"
																			onclick={nevigateTolazer}
																			></lightning-button>-->
																		</lightning-layout-item>
																	</template>
																</lightning-layout>
																	
															</template>
														</td>


													</tr>
												</template>
											</tbody>
										</table>
									</lightning-accordion-section>
								</div>


							</template>

						</lightning-accordion>

					</p>

				</lightning-card>

				<!--<div class="slds-m-top_medium" style="text-align: center;">
					<lightning-button variant="brand" type="buton" name="save" onclick={handleSelectYear} label="Save">
					</lightning-button>
				</div>-->
			</template>

			<template if:true={recordId}>
				<lightning-record-form record-type-id={recordTypeIdStr} object-api-name="Opportunity"
					oncancel={handleReset} record-id={recordId} fields={fields} columns="2" onsubmit={handleSubmit}
					mode="readonly" onsuccess={handleSuccess}>
				</lightning-record-form>
				
				<div class="">
					<lightning-layout>
						<lightning-layout-item class="slds-m-left-x_small" style="font-weight: bold;">
							<p>Grand Total:</p>
						</lightning-layout-item>

						<lightning-layout-item class="slds-m-left_small" style="font-weight: bold;">
							<p><lightning-formatted-number value={total} format-style="currency" currency-code="USD">
							</lightning-formatted-number></p>
						</lightning-layout-item>
					</lightning-layout>
					<!--<div class="slds-col slds-size_1-of-10 slds-m-left-x_small slds-p-right_small" style="font-weight: bold; padding-right:5rem">
						Grand Total:<p><lightning-formatted-number value={total} format-style="currency" currency-code="USD">
						</lightning-formatted-number></p>
					</div>-->
					
				</div>
			</template>
		</lightning-card>

		<!--- *********************************************************************************/ -->
		<template if:true={isRecordCreated}>
			<!-- Modal/Popup Box LWC starts here -->
			<template if:true={isModalOpen}>
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
					aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container model-width">
						<!-- Modal/Popup Box LWC header here -->
						<header class="slds-modal__header">
							<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
								title="Close" onclick={closeInvoiceModal}>
								<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
									size="small">
								</lightning-icon>
								<span class="slds-assistive-text">Close</span>
							</button>
							<h2 id="modal-heading-022" class="slds-text-heading_medium slds-hyphenate">
								{formtitle}</h2>
						</header>
						<!-- Modal/Popup Box LWC body starts here -->
						<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
							<c-staff-operation-invoice selected-invoice={selectedinvoice}
								selected-voucher={selectedVoucher} opportunityid={recordId} is-update={isUpdate}
								oncloseinvoicecancel={closeModal} parentfiscalyearid={parentfiscalyearid}>
							</c-staff-operation-invoice>
						</div>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>



			</template>
			<template if:true={isModalOpenA}>
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
					aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container model-width">
						<!-- Modal/Popup Box LWC header here -->
						<header class="slds-modal__header">
							<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
								title="Close" onclick={closeInvoiceModal}>
								<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
									size="small">
								</lightning-icon>
								<span class="slds-assistive-text">Close</span>
							</button>
							<h2 id="modal-heading-024" class="slds-text-heading_medium slds-hyphenate">
								{formtitle}</h2>
						</header>
						<!-- Modal/Popup Box LWC body starts here -->
						<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-5">
							<c-staff-operation-adjustment selected-invoice={selectedinvoice}
								selected-voucher={selectedVoucher} opportunityid={recordId} is-update={isUpdate}
								record-type-of-invoice={recordTypeOfInvoice} formtitle={formtitle}
								oncloseinvoicecancel={closeModal} parentfiscalyearid={parentfiscalyearid}>
							</c-staff-operation-adjustment>
						</div>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>



			</template>
			<div class="slds-m-top_large">

				<lightning-card title="Invoices">
					<template if:true={isInvoiceSelected}>
						<!--<lightning-button label="UnSelect All Invoices" icon-name="utility:multi_select_checkbox"
							onclick={unselectAllInvoices} slot="actions" class="slds-m-left_x-small"></lightning-button>-->
						<lightning-button label="Delete Invoices" icon-name="utility:delete" variant="destructive"
							onclick={deleteAccounts} slot="actions" class="slds-m-left_x-small"></lightning-button>
					</template>
					<!--<template if:false={isInvoiceSelected}>
						<lightning-button label="Select All Invoices" icon-name="utility:multi_select_checkbox"
							onclick={selectAllInvoices} slot="actions" class="slds-m-left_x-small"></lightning-button>
					</template>-->
					
					<lightning-accordion allow-multiple-sections-open
						onsectiontoggle={handleSectionToggle} class="example-accordion" active-section-name="1">
							<template for:each={relatedtInvoices} for:item="i" for:index="ind">
								<div key={i}>
									<lightning-accordion-section  key={i}  name="1" label={i.Title}>
										
										<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-m-top_x-small slds-table slds-no-cell-focus slds-table_bordered slds-table_fixed-layout " aria-labelledby="element-with-table-label other-element-with-table-label">
											<thead>
												<tr class="slds-line-height_reset">
				
													<th class="" scope="col" style="width: 6%;">
														<div class="slds-truncate" title="Check">Select <lightning-input style="
															display: inline;
															position: absolute;
															padding-left: 5px;
															padding-bottom: 5px;
															top: 2px;
														" type="checkbox" onchange={selectAllInvoices}
															name="input1" data-check="checkbox1"></lightning-input></div>
													</th>
													
													
													<th class="" scope="col">
														<div class="slds-truncate" title="Vendor">Vendor</div>
													</th>
													<th class="" scope="col">
														<div class="slds-truncate" title="Description">Description</div>
													</th>
													<th class="" scope="col" style="width: 8%;">
														<div class="slds-truncate" title="Invoice Number">Invoice Number</div>
													</th>
													<th class="" scope="col" style="width: 12%;">
														<div class="slds-truncate" title="Category">Category</div>
													</th>
													<th class="" scope="col" style="width: 8%;">
														<div class="slds-truncate" title="Payment Method">Payment Method</div>
													</th>
													<th class="" scope="col" style="width: 6%;">
														<div class="slds-truncate" title="Stage">Stage</div>
													</th>
													<th class="" scope="col" style="width: 8%;">
														<div class="slds-truncate" title="Amount">Amount</div>
													</th>
													
													
													<th class="" scope="col">
														<div class="slds-truncate" title="">Actions</div>
													</th>
												</tr>
											</thead>
											<tbody>
												<template for:each={i.payments} for:item="inv" for:index="ind">
													
													<tr class="slds-hint-parent" key={inv.Id}>
														<td data-label='Check' style="width: 1%;">
															<div class="slds-truncate" title=Checkbox>
															<template if:true={inv.isPaid_Posted}>
																<lightning-input type="checkbox" onchange={handleCheckBoxChange} disabled
																name="input1" data-id={inv.Id} data-stage={inv.Stage} ></lightning-input>
															</template>
															<template if:false={inv.isPaid_Posted}>
																<lightning-input type="checkbox" onchange={handleCheckBoxChange} 
																name="input1" data-id={inv.Id} data-stage={inv.Stage} data-check="checkbox"></lightning-input>
															</template>
																<!--<input type="checkbox" name="chk" onchange={handleCheckBoxChange}  data-id={inv.id}/>
																-->
															</div>
														</td>
														
														<th data-label={inv.kvendor} scope="row" style="width: 1%;">
															<div class="slds-truncate" title={inv.kvendor}>
																{inv.kvendor}
															</div>
														</th>
														<td class="tdbreak" data-label={inv.Description} style="width: 1%;">
															<div class="slds-truncate slds-cell-wrap" title={inv.Description}>
																{inv.Description}</div>
														</td>
														<td data-label={inv.InvoiceNumber} style="width: 1%;">
															<div class="slds-truncate slds-cell-wrap" title={inv.InvoiceNumber}>
																{inv.InvoiceNumber}
															</div>
														</td>
														<td data-label={inv.Category} style="width: 1%;">
															<div class="slds-truncate" title={inv.Category}>{inv.Category}
															</div>
														</td>
														<td data-label={inv.PaymentMethod} style="width: 1%;">
															<div class="slds-truncate" title={inv.PaymentMethod}>
																{inv.PaymentMethod}</div>
														</td>
														<td data-label={inv.Stage} style="width: 1%;">
															<div class="slds-truncate" title={inv.Stage}>
																{inv.Stage}</div>
														</td>
														<td data-label={inv.Amount} style="width: 1%;">
															<div class="slds-truncate slds-float_right" title={inv.Amount}>
																<p><lightning-formatted-number value={inv.Amount} format-style="currency" currency-code="USD">
																</lightning-formatted-number></p>
				
																</div>
														</td>
														

														
				
														<td data-label="Actions">
															<div class="slds-truncate" title="Actions">
																
																<template if:false={inv.isPaid}>
																	<template if:true={isEdit}>
																		<template if:false={inv.isAdjustment}>
																			<lightning-button-icon icon-name="utility:edit"
																				variant="border-filled" alternative-text="Edit" data-id={inv.Id}
																				data-recordtype={inv.RecordtypeName} onclick={editInvoice}
																				title="Edit"></lightning-button-icon>
																		</template>
																	</template>
																	<!--<lightning-button-icon icon-name="utility:delete"
																		variant="border-filled" alternative-text="Delete" data-id={inv.Id}
																		onclick={deleteInvoice} class="slds-m-left_xx-small" title="Delete">
																	</lightning-button-icon> -->
																	<template if:false={inv.isPending}>
																		<lightning-button-icon icon-name="utility:work_order_type"
																			variant="border-filled" alternative-text="Pay Invoice"
																			data-id={inv.Id} class="slds-m-left_xx-small"
																			onclick={payInvoice} title="Pay Invoice">
																		</lightning-button-icon>
																	</template>
				
																</template>
																<lightning-button-icon icon-name="utility:preview" variant="border-filled"
																	alternative-text="Preview" data-id={inv.Id} class="slds-m-left_xx-small"
																	onclick={viewInvoice} title="View Details">
																</lightning-button-icon>
				
																<!--<lightning-button-icon icon-name="standard:custom" variant="border-filled"
																	alternative-text="GUA Allocation" class="slds-m-left_xx-small" data-id={inv.Id} onclick={gauallocaion}
																	title="GUA Allocation"></lightning-button-icon>-->
				
															</div>
														</td>
													</tr>
												<!--<tr class="slds-hint-parent" key={inv.Id}>
													<th colspan="7" scope="row">
														<div class="slds-truncate" title={inv.kvendor}>
															<lightning-accordion allow-multiple-sections-open
																active-section-name={activeSections}>
																<lightning-accordion-section name="A" label="GAU Allocations">
																	<lightning-datatable key-field="Id" data={inv.Allocations}
																		hide-checkbox-column
																		columns={allColumns}>
																	</lightning-datatable>
																</lightning-accordion-section>
															</lightning-accordion>
														</div>
													</th>
				
												</tr>-->
												
													
												</template>
												</tbody>
											</table>
											
											
									</lightning-accordion-section>
									
									
								</div>
								
								
															</template>
							
															
						</lightning-accordion>
					
					<!--<lightning-datatable key-field="Id" data={relatedtInvoices} hide-checkbox-column
						onrowaction={handleRowAction} columns={columns}>
					</lightning-datatable>-->
				</lightning-card>

			</div>
			<template if:true={showDeleteConfirm}>
				<!-- Modal/Popup Box LWC starts here -->
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
					aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container">
						<!-- Modal/Popup Box LWC header here -->
						<header class="slds-modal__header">
							<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
								title="Close" type="button" onclick={closesDeleteConfirm}>
								<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
									size="small">
								</lightning-icon>
								<span class="slds-assistive-text">Close</span>
							</button>
							<h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">
								<template if:true={deleteAllInvoices}>
									Delete Invoice(s)
								</template>
								<template if:false={deleteAllInvoices}>
									Delete Invoice
								</template>
								</h2>
						</header>
						<!-- Modal/Popup Box LWC body starts here -->
						<div class="slds-modal__content slds-p-around_medium slds-text-align_center"
							id="modal-content-id-4">
							<div>
								<template if:true={deleteAllInvoices}>
									Are you sure you want to delete these Invoice(s)?
								</template>
								<template if:false={deleteAllInvoices}>
									Are you sure you want to delete this Invoice?
								</template>
								
							</div>
							<div class="slds-m-top_small">
								<button class="slds-button slds-button_neutral" onclick={closesDeleteConfirm}
									title="Cancel" type="button">Cancel</button>
								<button class="slds-button slds-button_brand" onclick={deleteInvoiceHandle} title="OK"
									type="button">Yes</button>
							</div>

						</div>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
			</template>
			<!-- /*********************************************************************************/ -->

		</template>
		<template if:true={manageShow}>
			<!-- Modal/Popup Box LWC starts here -->
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container model-width">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" onclick={handleManageClose}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-023" class="slds-text-heading_medium slds-hyphenate">
							Manage Allocations</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-23">
						<iframe src={manageURL} width="100%" height="500"></iframe>
						<button class="slds-button slds-button_neutral" onclick={handleManageClose}>Close</button>
					</div>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</template>
		<template if:true={isInvoice}>
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container model-width">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" onclick={closeInvoiceModal}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-025" class="slds-text-heading_medium slds-hyphenate">
							{formtitle}</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-6">
						<c-staff-operation-invoice selected-invoice={selectedinvoice} selected-voucher={selectedVoucher}
							opportunityid={recordIdd} is-update={isUpdate} oncloseinvoicecancel={closeModal}
							parentfiscalyearid={parentfiscalyearid}>
						</c-staff-operation-invoice>
					</div>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>



		</template>
		<template if:true={isAdjustmentOpen}>
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container model-width">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" onclick={closeInvoiceModal}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-026" class="slds-text-heading_medium slds-hyphenate">
							{formtitle}</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-7">
						<c-staff-operation-adjustment selected-invoice={selectedinvoice}
							selected-voucher={selectedVoucher} opportunityid={recordIdd} is-update={isUpdate}
							record-type-of-invoice={recordTypeOfInvoice} formtitle={formtitle}
							oncloseinvoicecancel={closeModal} parentfiscalyearid={parentfiscalyearid}>
						</c-staff-operation-adjustment>
					</div>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>



		</template>
	</div>

	
</template>