<template>
    <div class={isFixClass}>
        <lightning-card title="Chatter" icon-name="utility:chat">
            <lightning-button-icon type="button" onclick={clickClose} variant="bare" icon-name="utility:close" class="slds-m-top_small"
                style="float: right;margin-top: -45px;margin-left: 5px;margin-right: 5px;"
                alternative-text="close" title="close"></lightning-button-icon>
            <div class="slds-m-around_medium" >
                <iframe width="900" height="400" src={fullUrl}></iframe>
            </div>
            
        </lightning-card>
    </div>
    
</template>