.THIS table.reporttable th{
    font-weight: bold;
    border: 1px solid black;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.THIS table.reporttable td{
    border: 1px solid black;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.THIS .dived{
    text-align: center;
    font-weight: bold;
}

.THIS button.slds-button_brand{
    background-color: #0070D2;
}

.THIS .groupbroder{
    border: 1px solid #E2E0DF;
    padding-top: 12px;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.THIS .modelheight{
    height: 14rem;
}

.THIS .modelheader{
    background-color: #F3F2F2;
}

.THIS .modelwidth{
    width: 80%;
    max-width: 100rem;
}

.THIS .totalcss{
    font-weight: bold;
}

.THIS .number{
    text-align: right;
}