<template>

	<div class="" style="background-color: white;">
		<lightning-card variant="Narrow" title="Report of Collections">
			<!-- Show Toast -->
			<template if:true={isRecordCreated}>
				<div style="display: inline-block;position: absolute;top: 8px;left: 200px;">
					<lightning-button label="New" slot="actions" variant="brand" title="New" onclick={openNewROC}
						class="slds-p-right_small"></lightning-button>
						<template if:true={isDelete}>
							<lightning-button label="Delete" slot="actions" variant="brand-outline" title="New" onclick={deleteROCConfirmation}
							class="slds-p-right_small"></lightning-button>
							</template>
							<lightning-button label="Back" slot="actions" variant="brand-outline" title="Go back" onclick={handleReset}
				class="slds-p-right_small">
			</lightning-button>
			<lightning-button label="Next" slot="actions" variant="brand" title="Next" onclick={handleNextRecord}
			class="slds-p-right_small"></lightning-button>
			<lightning-button label="Previous" slot="actions" variant="brand" title="Previous" onclick={handlePrevious}
		class="slds-p-right_small">
					</lightning-button>
					
				</div>

			</template>
			<template if:true={isShowToast}>
				<div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
					<div class="slds-notify_container slds-is-relative">
						<div class={toastType} role="status">
							<span class="slds-assistive-text">error</span>
							<span
								class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
								title="Description of icon when needed">
								<lightning-icon icon-name={toastIcon} variant="inverse" size="small"
									alternative-text="error" title="Error">
								</lightning-icon>
							</span>
							<div class="slds-notify__content">
								<h2 class="slds-text-heading_small ">
									{title}
								</h2>
								<p>
									{message}
								</p>
							</div>
							<div class="slds-notify__close">
								<button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
									onclick={closeToast} type="button">
									<lightning-icon icon-name="utility:close" variant="inverse" size="small"
										alternative-text="close" title="close">
									</lightning-icon>
									<span class="slds-assistive-text">Close</span>
								</button>
							</div>
						</div>
					</div>
				</div>

			</template>


			<template if:true={isRecordCreated}>


				<!--<lightning-button label="Clone" slot="actions" variant="brand" title="Clone" onclick={cloneROC}
					class="slds-p-right_small"></lightning-button>-->

				<template if:true={isAddRecepit}>
					<lightning-button label="Add Receipt / Refund" slot="actions" variant="brand"
						title="Non-primary action" onclick={handleClick} class="">
					</lightning-button>
				</template>

				<template if:true={isReopen}>
					<lightning-button label="Reopen & Edit" slot="actions" variant="brand-outline"
						title="Re-Open & Edit" onclick={markOpenStageHandle} class="slds-p-left_small">
					</lightning-button>
				</template>
				<lightning-button label="Print" slot="actions" title="Print ROC" onclick={printROC}
					class="slds-p-left_small"></lightning-button>
				<template if:true={markCompleteDisabled}>
					<lightning-button label="Mark Complete" slot="actions" title="Mark Complete" onclick={markCompleteStage}
				
					class="slds-p-left_small"></lightning-button>
				</template>
			</template>

			

			<div class="slds-p-around_small slds-p-bottom_none">
				<template if:true={isRecordCreated}>
					<div class="slds-grid slds-gutters">

						<!-- <div class="slds-col slds-size_1-of-2">
							<div class="slds-form__item" role="listitem">
								<div
									class="slds-form-element slds-form-element_edit slds-form-element_horizontal slds-hint-parent slds-m-bottom_xx-small">
									<span class="slds-form-element__label">Name</span>
									<div class="slds-form-element__control">
										<div class="slds-form-element__static">
											{nameROC}
										</div>

									</div>
								</div>
							</div>

						</div> -->
						<!-- <div class="slds-col slds-size_1-of-2">
							<div class="slds-form__item" role="listitem">
								<div
									class="slds-form-element slds-form-element_edit slds-form-element_horizontal slds-hint-parent slds-m-bottom_xx-small">
									<span class="slds-form-element__label">Stage</span>
									<div class="slds-form-element__control">
										<div class="slds-form-element__static">
											{stageLabel}
										</div>

									</div>
								</div>
							</div>

						</div> -->
					</div>
					<div class="slds-form" role="list">


					</div>

				</template>
				<template if:true={showLoader}>
					<div class="demo-only" style="position: initial;">
						<div class="slds-spinner_container">
							<div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
								<span class="slds-assistive-text">Loading</span>
								<div class="slds-spinner__dot-a"></div>
								<div class="slds-spinner__dot-b"></div>
							</div>
						</div>
					</div>
				</template>
				<!-- <lightning-record-form object-api-name="Opportunity" oncancel={handleReset} record-id={recordId}
					fields={fields} columns="2" mode={displayType} onsubmit={handleSubmit} onsuccess={handleSuccess}
					onerror={handleerror}>
				</lightning-record-form> -->

				<lightning-record-edit-form oncancel={handleReset} record-type-id={recordTypeIdStr} object-api-name="Opportunity"
					onsuccess={handleSuccess} record-id={recordId} columns="2" mode={displayType}
					onsubmit={handleSubmit} onerror={handleerror}>

					<template if:false={isView}>

						<div class="slds-grid slds-gutters">

							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="CloseDate" required>
								</lightning-input-field>


							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="End_Date__c" required>
								</lightning-input-field>

							</div>
						</div>


						<div class="slds-grid slds-gutters">

							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Beginning_Receipt__c"
									onchange={handleBeginningReceiptChange}>
								</lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Ending_Receipt__c"
									onchange={handleEndingReceiptChange}>
								</lightning-input-field>
							</div>

						</div>
						<div class="slds-grid slds-gutters">

							<div class="slds-col slds-size_1-of-2">
								<c-sat-multi-select-lookup objectname="Campaign" variant="label-inline"
									perentselect={parentFisaclYearName} fieldnames="['Name']"
									iconname="standard:account" styl="margin-left: 240px;" onselected={selectedRecords}
									label="Fiscal Year" required="required" disabled={disableFiscalYear}
									placeholder="Select Fiscal Year" like-string='%local%'
									where-str={whereStr}>
								</c-sat-multi-select-lookup>


							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Reference__c">
								</lightning-input-field>

							</div>
						</div>
						<div class="slds-grid slds-gutters">

							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="CampaignId" style="display:none;"
									value={parentFiscalYear}>
								</lightning-input-field>
								<lightning-input-field field-name="Posting_Period__c" style="display:none;"
									value={postingPeriod}>
								</lightning-input-field>
								<lightning-input-field field-name="FIPS_Code__c" style="display:none;"
									value={fipsCode}>
								</lightning-input-field>
								<lightning-combobox
									variant='label-inline'
									name="Posting Period"
									label="Posting Period"
									value={postingPeriodValue}
									placeholder="Select Posting Period"
									options={selectOptions}
									onchange={handlePostingPeriodChange}
									required
									 ></lightning-combobox>
								

							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Amount" required>
								</lightning-input-field>

							</div>
						</div>
						<div class="slds-grid slds-gutters">


							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Total_Receipts__c">
								</lightning-input-field>
								<lightning-input-field field-name="StageName" value={stageLabel} style="display:none;">
								</lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Deposit__c" >
								</lightning-input-field>
							</div>
						</div>
						

						<div class="slds-m-top_medium" style="text-align: center;">
							<lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
								onclick={handleReset}></lightning-button>
							<lightning-button variant="brand" type="submit" name="save" label="Save">
							</lightning-button>
						</div>
					</template>

					<template if:true={isView}>
						<div class="slds-grid slds-gutters">

							<div class="slds-col slds-size_1-of-2">
								<!-- start feild 1 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Name</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Name" variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 3 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Begin Date</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="CloseDate" variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 4 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Beginning Receipt # </span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Beginning_Receipt__c"
													variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 5 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Fiscal Year </span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="CampaignId" variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 6 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Posting Period</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Posting_Period__c" variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								
								<!-- end -->

								<!-- start feild 7 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Reference</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Reference__c"
													variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								
								<!-- end -->
								<!-- start feild 8 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Created By</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="CreatedById" variant="label-hidden">
												</lightning-output-field>
											</div>
										</div>
									</div>
								</div>
								<!-- end -->
							</div>
							<div class="slds-col slds-size_1-of-2">

								<!-- start feild 2 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Stage</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="StageName" variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 1 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">End Date</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="End_Date__c" variant="label-hidden"
													required>
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 2 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Ending Receipt #</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Ending_Receipt__c"
													variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 3 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Amount</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Amount" variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								
								<!-- end -->
								<!-- start feild 4 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Total Receipts</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Total_Receipts__c"
													variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->


								<!-- start feild 5 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Deposit</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="Deposit__c"
													variant="label-hidden">
												</lightning-output-field>
											</div>
											<template if:false={ROCStage}>
												<button class="slds-button slds-button_icon" title="Edit: Team Name">
													<lightning-button-icon onclick={showEditHandle}
														icon-name="utility:edit" class="slds-button slds-button_icon"
														variant="bare" alternative-text="edit" title="edit"
														type="button">
													</lightning-button-icon>
												</button>
											</template>

										</div>
									</div>
								</div>
								<!-- end -->
								<!-- start feild 6 -->
								<div class="slds-form__item" role="listitem">
									<div
										class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
										<span class="slds-form-element__label">Created Date</span>
										<div class="slds-form-element__control">
											<div class="slds-form-element__static">
												<lightning-output-field field-name="CreatedDate" variant="label-hidden">
												</lightning-output-field>
											</div>
										</div>
									</div>
								</div>
								<!-- end -->
							</div>
						</div>

					</template>

				</lightning-record-edit-form>

			</div>

		</lightning-card>


		<template if:true={isRecordCreated}>

			<template if:true={isRecepit}>
				<!--Use template if:true to display/hide popup based on isModalOpen value-->
				<template if:true={isModalOpen}>
					<!-- Modal/Popup Box LWC starts here -->
					<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
						aria-describedby="modal-content-id-1" class={modalClass}>
						<div class="slds-modal__container model-width">
							<!-- Modal/Popup Box LWC header here -->
							<header class="slds-modal__header">
								<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
									title="Close" onclick={closeModal}>
									<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
										size="small">
									</lightning-icon>
									<span class="slds-assistive-text">Close</span>
								</button>
								<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
									{formtitle} </h2>
							</header>
							<!-- Modal/Popup Box LWC body starts here -->
							<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
								<template if:true={receiptVendorOption}>
									<!-- Receipt / Vendor Button-->
									<div class="model-conter-body">
										<lightning-card title="Choose Type">
											<p class="slds-p-horizontal_small">
												<lightning-radio-group name="radioGroup" options={RECTYPEoptions}
													value={rectYPEvalue} onchange={typeOptionChange} type="radio">
												</lightning-radio-group>
											</p>

										</lightning-card>

									</div>
									<footer class="slds-modal__footer model-footer">
										<button class="slds-button slds-button_neutral" onclick={closeModal}
											title="Cancel">Cancel</button>
										<button class="slds-button slds-button_brand" onclick={NextOptions}
											title="Next">Next</button>
									</footer>
								</template>
								<template if:true={CheckReceiptList}>
									<div class="model-container-div" style="position: relative;margin-bottom: 3%;">
										<lightning-card>
											<lightning-record-edit-form record-id="" record-type-id={VRRecorTypeId}
												object-api-name="Payment__c">
												<div class="slds-grid" style="border: 0.1px solid #dddbda; border-radius: 0.25rem; padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem; ">
													<div class="slds-col slds-size_1-of-2">
														<label for="input-282"
															class="slds-form-element__label slds-no-flex"
															style="margin-right: 96px;margin-left: 4px;">Total of Receipts Entered</label>
														{balanceAmount} <br>
														<label for="input-282"
															class="slds-form-element__label slds-no-flex"
															style="margin-right: 125px;margin-left: 4px;margin-top: 10px;">Begin
															Date</label>
															<lightning-formatted-date-time value={closeDate}  year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time> <br>
														<label for="input-282"
															class="slds-form-element__label slds-no-flex"
															style="margin-right: 76px;margin-left: 4px;margin-top: 10px;margin-bottom: 10px;">Beginning
															Receipt #</label>
														{beginningReceipt}
														<lightning-input-field field-name="Report_Number__c"
															value={recnumber} onchange={reportNumberChange}>
														</lightning-input-field>
														<div class="slds-grid" style="padding-bottom: 10px;">
															<div class="slds-col slds-size_3-of-12">
																<label class="slds-form-element__label" for="horizontal-input-id-02">Date of Receipt</label>
															</div>
															<div class="slds-col slds-size_3-of-3" style=" padding-left: 8%; padding-right: 26%;">
																<lightning-input  type="date" variant ="label-hidden" date-style="short" required  value={doreceipt} onchange={dateChange}>
																</lightning-input>
																<lightning-input-field style="display: none;" type="date"  variant ="label-hidden"  field-name="Payment_Date__c" required date-style="short" value={doreceipt}>
																</lightning-input-field>
															</div>
														  </div>
														<!--		<c-sat-multi-select-lookup objectname="Campaign" variant="label-inline" perentselect={vparentFisaclYearName}
															fieldnames="['Name']" iconname="standard:account" styl="margin-left: 189px;" parent-id ={sparentFiscalYear}  onselected={selectedRecords} label="Accounting Period" required="required"
															disabled={disableFiscalYear} placeholder="Select Accounting Period">
														</c-sat-multi-select-lookup>
														<lightning-input-field field-name="Accounting_Period__c" style="display:none;" value={vparentFiscalYear}>
														</lightning-input-field>   
															-->
															<div class="slds-grid" style="padding-bottom: 10px;">
																<div class="slds-col slds-size_1-of-1">
																<c-sat-multi-select-lookup objectname="Account"
																perentselect={accountName} fieldnames="['Name']" iconname="standard:account"
																	onselected={selectedRecords} label="Vendor"
																	disabled={disableVendor} placeholder="Select Vendor" variant="label-inline">
																</c-sat-multi-select-lookup>
																</div>
															</div>
														</div>
													<div class="slds-col slds-size_1-of-2">
														<label for="input-282"
															class="slds-form-element__label slds-no-flex"
															style="margin-right: 135px;margin-left: 4px;"></label>
														<br>
														<label for="input-282"
															class="slds-form-element__label slds-no-flex"
															style="margin-right: 135px;margin-left: 4px;margin-top: 10px;">End
															Date</label>
															<lightning-formatted-date-time value={closeDate}  year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time> <br>
														<label for="input-282"
															class="slds-form-element__label slds-no-flex"
															style="margin-right: 95px;margin-left: 4px;margin-top: 10px;margin-bottom: 10px;">Ending
															Receipt #</label>
														{endingReceipt}
														<lightning-input-field style="display: none;"
															field-name="Receipt_Type__c" value={receiptType}
															onchange={receiptTypeChange}>
														</lightning-input-field>

														<lightning-input-field field-name="Payment_Method__c"
															value={payMethod} onchange={receiptMethodChange}>
														</lightning-input-field>
														<lightning-input-field field-name="Description__c"
															value={refundDescription}
															onchange={refundDescriptionHandle}>
														</lightning-input-field>
														
														<lightning-input-field class="slds-hide" field-name="Invoice_Stage__c">
														</lightning-input-field>
														<lightning-input-field class="slds-hide" field-name="Check_Number__c"
															value={chknumber}  onchange={chkChange}>
														</lightning-input-field>

													</div>
												</div>

											</lightning-record-edit-form>
										</lightning-card>
										<!-- <lightning-card title="Search Invoices:">
											<div class="slds-grid slds-gutters">
												<div class="slds-col slds-size_1-of-5">
													<c-sat-multi-select-lookup objectname="Kinship_Check__c"
														perentselect={kinshipCheckName} fieldnames="['Check_No__c']" iconname="standard:account"
														onselected={selectedRecords} label="Check"
														disabled={disableCheck} placeholder="Select Check" value={checkvalue}>
													</c-sat-multi-select-lookup>

												</div>
												<div class="slds-col slds-size_1-of-5">
													<c-sat-multi-select-lookup objectname="Account"
													perentselect={accountName} fieldnames="['Name']" iconname="standard:account"
														onselected={selectedRecords} label="Vendor"
														disabled={disableVendor} placeholder="Select Vendor">
													</c-sat-multi-select-lookup>

												</div>
												<div class="slds-col slds-size_1-of-5">
													<lightning-input type="number" formatter="currency" step=".01" name="input1" label="Amount" value={fromAmount} onchange={handleChangeFromAmount} onkeypress={handleKeyFromAmount} onblur={handleBlurFromAmount} placeholder="Enter Amount"></lightning-input>
												</div>
											
												<div class="slds-col slds-size_1-of-5">
													<lightning-input type="text" name="input1" label="Invoice Number" value={paymentNumber} onchange={paymentNumber} onkeypress={handleKeyPayment} onblur={handleBlurPayment} placeholder="Enter Invoice Number"></lightning-input>

												</div>
												<div class="slds-col slds-size_1-of-5">
													<c-sat-multi-select-lookup objectname="Kinship_Case__c"
													 perentselect={kinshipCaseName} fieldnames="['Name']" iconname="standard:account"
														onselected={selectedRecords} label="Case"
														disabled={disableCase} placeholder="Select Case">
													</c-sat-multi-select-lookup>

												</div>
											</div>
											
		
										</lightning-card> -->

										<template if:true={showCheckReceipts}>
											<lightning-card title="Payments">
												<lightning-datatable key-field="Id" data={AllCheckReceipts}
													onrowaction={handleRowActionRec} columns={Reccolumns}
													hide-checkbox-column onrowselection={getSelectedRows}
													onsave={handleSave}
													oncellchange={handleChangeCell}
													wrap-text-max-lines = '3'
													>
												</lightning-datatable>
												
											</lightning-card>

										</template>
										<template if:true={showCreateNewButton}>
											<span style="padding-left: 25%;">No payments returned. Please click ‘New’ button below to create Manual Vendor Refund record.</span>
													<lightning-button style="position: absolute;top: 102%;right: 45%;" label="New" slot="actions" variant="brand" title="Create New Payment" onclick={createNewPayment}
													class="slds-p-right_small"></lightning-button>
										</template>
										<template if:true={showLoader}>
											<div class="demo-only" style="position: initial;">
												<div class="slds-spinner_container">
													<div role="status"
														class="slds-spinner slds-spinner_medium slds-spinner_brand">
														<span class="slds-assistive-text">Loading</span>
														<div class="slds-spinner__dot-a"></div>
														<div class="slds-spinner__dot-b"></div>
													</div>
												</div>
											</div>
										</template>

									</div>
									
									<footer class="slds-float_right slds-float_bottom">
										<button class="slds-button slds-button_neutral" onclick={closeModal}
											title="Cancel">Cancel</button>
										<button class="slds-button slds-button_brand" onclick={Back1}
											title="Back">Back</button>

										<!-- <button class="slds-button slds-button_brand"
																						onclick={NextOptions2}
																						title="Next">Next</button> -->
									</footer>
									<!-- <footer class="slds-modal__footer model-footer">
										<button class="slds-button slds-button_neutral" onclick={closeModal}
											title="Cancel">Cancel</button>
										<button class="slds-button slds-button_brand" onclick={Back1}
											title="Back">Back</button>

									
									</footer> -->
									
								</template>
								<template if:true={CreateNewPayment}>
											
									<div class="model-container-div model-width" style="position: relative;margin-bottom: 3%;">
										<lightning-card title="Please fill the following fields:">
											<lightning-record-edit-form record-type-id={recordTypeIdForPayment} object-api-name="Payment__c" onerror={errorHandler} onsubmit={handleSubmitPayment}  onsuccess={handleSuccessPayment}>
												
														<div class="slds-grid">
															<div class="slds-col slds-size_1-of-2">
																<label for="input-282"
																	class="slds-form-element__label slds-no-flex"
																	style="margin-right: 22%;margin-left: 4px;margin-bottom: 3%;">Begin
																	Date</label>
																{closeDate} <br>
																<lightning-input-field class="paymentField" field-name="Report_Number__c">
																</lightning-input-field>

																<lightning-input-field class="paymentField" field-name="Payment_Method__c">
																</lightning-input-field>
																<lightning-input-field field-name="Recipient__c" class="Payer__c" value={payerValue} style="display:none"> 
																</lightning-input-field>

																<lightning-input-field class="paymentField" field-name="Vendor__c" required="true">
																</lightning-input-field>
				
																<lightning-input-field class="paymentField" field-name="Refund_Amount__c" required="true">
																</lightning-input-field>
																
																<lightning-input-field class="paymentField" field-name="Category_lookup__c" required="true">
																</lightning-input-field>
																
																<lightning-input-field class="paymentField" field-name="Kinship_Case__c" >
																</lightning-input-field>
																
															</div>
															<div class="slds-col slds-size_1-of-2">
																<label for="input-282"
																	class="slds-form-element__label slds-no-flex"
																	style="margin-right: 22%;margin-left: 4px;margin-bottom: 3%;">End
																	Date</label>
																{endDate}<br>
																<lightning-input-field class="paymentField" field-name="Check_Reference_Number__c"></lightning-input-field>
																<lightning-input-field class="paymentField" field-name="Payment_Date__c">
																</lightning-input-field>
																<lightning-input-field class="paymentField" field-name="Service_Begin_Date__c" >
																</lightning-input-field>
																
																<lightning-input-field class="paymentField" field-name="Service_End_Date__c" >
																</lightning-input-field>
				
																<lightning-input-field class="paymentField" field-name="Purchaser_Order_or_Case_Action_Number__c" >
																</lightning-input-field>
																
																<lightning-input-field  style="display:none;" field-name="Opportunity__c" value={oppId} >
																</lightning-input-field>
																<lightning-input-field class="paymentField" field-name="Description__c"></lightning-input-field>
															</div>
														</div>
														<div class="slds-m-top_medium" style="text-align: center;">
															<lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel" onclick={BacktoCheckReceipt}></lightning-button>
															<lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle} data-isnext="0" type="submit" name="save" label="Save" >
															</lightning-button>
															<lightning-button  variant="brand" type="submit" name="new" onclick={saveOrNextHandle} data-isnext="1" label="Save and New">
															</lightning-button>
														</div>
											</lightning-record-edit-form>
										</lightning-card>
				
									</div>
									<footer class="slds-modal__footer model-footer">
										<button class="slds-button slds-button_brand" onclick={BacktoCheckReceipt}
											title="Back">Back</button>
									</footer>
							
										
								</template>
						
						
								
								<template if:true={receiptOption}>
									<c-add-receipt report-collection-id={reportId} receipt-number={recnumber} selected-receipt={selectedReceipt}
										is-update={isUpdate} onclosereceiptcancel={isCloseModal} onclosereceipt={closeModal}
										rcordtype={selectedReceiptRTID} rcordname={selectedReceiptRTName}
										receipttype={selectedReceiptType} child-fy={childFiscalYearId}
										selectedrecipient={selectedRecipient} catrecname={catRecName} catname={catName} claimid={claimId} swaid={swaId}
										selectedpayer={selectedPayer} selected-payment-amount={selectedPaymentAmount} selected-payment-method={selectedPaymentMethod} case-value = {caseValue}
										campaign-id={CampaignId} campaign-name={CampaignName} cat-name={categoryName}
										cat-id={catId} cost-id={selectedcostCenterId} cost-center-name={costCenterName}
										parent-id={sparentFiscalYear} closedate={closeDate}
										balanceamount={balanceAmount} onbalanceamountchange={balanceAmountChange}
										beginningreceipt={beginningReceipt} enddate={endDate}
										endingreceipt={endingReceipt} fips-code={fipsCode}>
									</c-add-receipt>

								</template>
								<template if:true={vendorOption}>
									<c-add-vendor-refund selected-receipt={selectedReceipt} opportunityid={reportId}
										selectedcheckrows={selectedCheckRows} oncloserefundcancel={closeVRefundModal}
										closedate={closeDate} beginningreceipt={beginningReceipt} enddate={endDate}
										endingreceipt={endingReceipt}>
									</c-add-vendor-refund>
								</template>
								<template if:true={SWROption}>
									<c-add-s-w-r-receipt record-id={recordId} onclosereimbursementcancel={isCloseModal}>
										
									</c-add-s-w-r-receipt>
								</template>
								<template if:true={adjustmentOption}>
									<c-add-r-o-c-Adjustment report-collection-id={reportId} record-id={recordId} onclosereimbursementcancel={isCloseModal} closedate={closeDate} selected-receipt={selectedReceipt}
									enddate={endDate} beginningreceipt={beginningReceipt} endingreceipt={endingReceipt} child-fy={childFiscalYearId} onclosereceipt={closeModal} onclosereceiptcancel={isCloseModal}>
										
									</c-add-r-o-c-Adjustment>
								</template>
							</div>
							<!-- Modal/Popup Box LWC footer starts here -->
							<!--<footer class="slds-modal__footer">
                                                                        <button class="slds-button slds-button_neutral"
                                                                                onclick={closeModal}
                                                                                title="Cancel">Cancel</button>
                                                                        <button class="slds-button slds-button_brand"
                                                                                onclick={submitDetails} title="OK">OK</button>
                                                                </footer>-->
						</div>
					</section>
					<div class="slds-backdrop slds-backdrop_open"></div>
					<template if:true={categoryRequired}>
						<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
						aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
						<div class="slds-modal__container">
							<header class="slds-modal__header">
								<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
									title="Close" onclick={BacktoCheckReceipt}>
									<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
										size="small">
									</lightning-icon>
									<span class="slds-assistive-text">Close</span>
								</button>
								<h2 id="modal-heading-08" class="slds-text-heading_medium slds-hyphenate">
									Add Category </h2>
							</header>
							<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-7">
								<div class="" style="position: relative;margin-bottom: 20px;">
									<lightning-record-edit-form record-id={vendorRefundId} object-api-name="Payment__c" onerror={errorHandler}  onsuccess={handleSuccessCat}>
										<lightning-messages>
										</lightning-messages>
												<div class="slds-grid">
													<c-sat-multi-select-lookup style="width: 100%;" required='true' objectname="Category__c"
														fieldnames="['Name','Category_Account_Description__c']" iconname="standard:account"
														onselected={selectedCategory} label="Category" 
														where-str={catWhereStr} disabled={disableCat} placeholder="Search Categories...">
													</c-sat-multi-select-lookup>
												</div>
												<div class="slds-m-top_medium">
													<lightning-button style="padding-right: 5px;margin-left: 40%;" class="slds-m-top_small" label="Cancel" onclick={BacktoCheckReceipt}></lightning-button>
													<lightning-button style="padding-right: 5px;" variant="brand" name="save" label="Save" onclick={saveCategory} >
													</lightning-button>
												</div>
									</lightning-record-edit-form>
								</div>
								<footer class="slds-modal__footer model-footer">
									<button class="slds-button slds-button_brand" onclick={BacktoCheckReceipt}
										title="Back">Back</button>
								</footer>
							</div>
						</div>
					</section>
						
				
				</template>	
				</template>
				

				
			</template>
			
			<!--- *********************************************************************************/ -->
			<template if:true={isGAUModalOpen}>
				<!-- Modal/Popup Box LWC starts here -->
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
					aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container model-width">
						<!-- Modal/Popup Box LWC header here -->
						<header class="slds-modal__header">
							<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
								title="Close" onclick={closeAllocationModal}>
								<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
									size="small">
								</lightning-icon>
								<span class="slds-assistive-text">Close</span>
							</button>
							<h2 id="modal-heading-022" class="slds-text-heading_medium slds-hyphenate">
								Add GAU Allocation</h2>
						</header>
						<!-- Modal/Popup Box LWC body starts here -->
						<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
							<c-create-g-a-u-location receiptid={selectedReceipt} opportunityid={reportId}
								oncloseallocation={closeAllocationModal}>
							</c-create-g-a-u-location>


						</div>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
			</template>

			<!--- *********************************************************************************/ -->
			<template if:true={VRefundShow}>
				<!-- Modal/Popup Box LWC starts here -->
				<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
					aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
					<div class="slds-modal__container model-width">
						<!-- Modal/Popup Box LWC header here -->
						<header class="slds-modal__header">
							<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
								title="Close" onclick={closeVRefundModal}>
								<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
									size="small">
								</lightning-icon>
								<span class="slds-assistive-text">Close</span>
							</button>
							<h2 id="modal-heading-0222" class="slds-text-heading_medium slds-hyphenate">
								Add Vendor Refund</h2>
						</header>
						<!-- Modal/Popup Box LWC body starts here -->
						<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-33">
							<c-add-vendor-refund selected-receipt={selectedReceipt} opportunityid={reportId}
								oncloserefundcancel={closeVRefundModal}>
							</c-add-vendor-refund>


						</div>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
			</template>


		</template>
		<template if:true={isRecordCreated}>
			<lightning-accordion allow-multiple-sections-open class="example-accordion"
					onsectiontoggle={handleSectionToggle}     
					active-section-name="Receipts">
				<lightning-accordion-section name="Receipts" label="Receipts">
						<lightning-datatable key-field="Id" data={relatetReceipt} hide-checkbox-column
							onrowaction={handleRowAction} columns={colum}>
						</lightning-datatable>
				</lightning-accordion-section>

				<lightning-accordion-section name="vRefunds" label="Vendor Refunds">
					<lightning-datatable key-field="Id" data={relatetvRefund} hide-checkbox-column
						onrowaction={handleRowAction} columns={columns}>
					</lightning-datatable>
			</lightning-accordion-section>


				<lightning-accordion-section name="SWR" label="Special Welfare Reimbursement">
					<lightning-datatable key-field="Id" data={relatetSWR} hide-checkbox-column
						onrowaction={handleRowAction} columns={column}>
					</lightning-datatable>
				</lightning-accordion-section>
				<lightning-accordion-section name="Adjustments" label="Adjustments">
					<lightning-datatable key-field="Id" data={relatetAdjustment} hide-checkbox-column
						onrowaction={handleRowAction} columns={Adjcolumn}>
					</lightning-datatable>
			</lightning-accordion-section>
    		</lightning-accordion>
			

		</template>
		<template if:true={isPrintModalOpen}>
			<!-- Modal/Popup Box LWC starts here -->
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container model-width">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" onclick={closePrint}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-06" class="slds-text-heading_medium slds-hyphenate">
							Print Report of Collections</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
						<iframe width="100%" height="700" src={rocURL}></iframe>

					</div>
					<!-- Modal/Popup Box LWC footer starts here -->
					<!--<footer class="slds-modal__footer">
                                                        <button class="slds-button slds-button_neutral"
                                                                onclick={closeModal}
                                                                title="Cancel">Cancel</button>
                                                        <button class="slds-button slds-button_brand"
                                                                onclick={submitDetails} title="OK">OK</button>
                                                </footer>-->
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</template>

		<template if:true={showDeleteConfirm}>
			<!-- Modal/Popup Box LWC starts here -->
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" type="button" onclick={closesDeleteConfirm}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-07" class="slds-text-heading_medium slds-hyphenate">
							Delete Receipt</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium slds-text-align_center"
						id="modal-content-id-4">
						<div>
							Are you sure you want to delete this Receipt?
						</div>
						<div class="slds-m-top_small">
							<button class="slds-button slds-button_neutral" onclick={closesDeleteConfirm} title="Cancel"
								type="button">Cancel</button>
							<button class="slds-button slds-button_brand" onclick={deleteReceiptHandle} title="OK"
								type="button">Yes</button>
						</div>

					</div>
					<!-- Modal/Popup Box LWC footer starts here -->
					<!--<footer class="slds-modal__footer">
                                                        <button class="slds-button slds-button_neutral"
                                                                onclick={closeModal}
                                                                title="Cancel">Cancel</button>
                                                        <button class="slds-button slds-button_brand"
                                                                onclick={submitDetails} title="OK">OK</button>
                                                </footer>-->
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</template>

		<template if:true={showROCDeleteConfirm}>
			<!-- Modal/Popup Box LWC starts here -->
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<!-- <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" type="button" onclick={closesROCDeleteConfirm}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button> -->
						<h2 id="modal-heading-03-ROC" class="slds-text-heading_medium slds-hyphenate">
							Delete Report Of Collection</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium slds-text-align_center"
						id="modal-content-id-4-ROC">
						<div>
							Are you sure you want to delete this report of collection?
						</div>
						<div class="slds-m-top_small">
							<button class="slds-button slds-button_neutral" onclick={closesROCDeleteConfirm} title="Cancel"
								type="button">Cancel</button>
							<button class="slds-button slds-button_brand" onclick={deleteROCHandle} title="OK"
								type="button">Yes</button>
						</div>

					</div>
					<!-- Modal/Popup Box LWC footer starts here -->
					<!--<footer class="slds-modal__footer">
                                                        <button class="slds-button slds-button_neutral"
                                                                onclick={closeModal}
                                                                title="Cancel">Cancel</button>
                                                        <button class="slds-button slds-button_brand"
                                                                onclick={submitDetails} title="OK">OK</button>
                                                </footer>-->
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</template>

		<!---
<template if:true={manageShow}>
                                <iframe src={manageURL} width="100%" height="500"></iframe>
                                <button class="slds-button slds-button_neutral" onclick={handleManageClose}>Close</button>
                                
                            </template>        
        
        *********************************************************************************/ -->
		<template if:true={manageShow}>
			<!-- Modal/Popup Box LWC starts here -->
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container model-width">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" onclick={handleManageClose}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-023" class="slds-text-heading_medium slds-hyphenate">
							Manage Allocations</h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-23">
						<iframe src={manageURL} width="100%" height="500"></iframe>
						<button class="slds-button slds-button_neutral" onclick={handleManageClose}>Close</button>
					</div>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>
		</template>
		<template if:true={showFileUpload}>
			<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
				aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
				<div class="slds-modal__container model-width">
					<!-- Modal/Popup Box LWC header here -->
					<header class="slds-modal__header">
						<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
							title="Close" onclick={handleCloseModal}>
							<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
								size="small">
							</lightning-icon>
							<span class="slds-assistive-text">Close</span>
						</button>
						<h2 id="modal-heading-04" class="slds-text-heading_medium slds-hyphenate">
							File Attachment </h2>
					</header>
					<!-- Modal/Popup Box LWC body starts here -->
					<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-5">
						<div class="">
							<lightning-file-upload label="File Attachment" name="fileUploader" accept={acceptedFormats}
								record-id={recordId} onuploadfinished={handleUploadFinished} multiple>
							</lightning-file-upload>
							<div class="slds-media__body" style="padding-top: 10px">
								<template for:each={fileName} for:item="fname">
									<span key={fname} class="slds-pill slds-pill_link">
										<span class="slds-pill__icon_container">
											<lightning-icon icon-name="standard:file" alternative-text="file"
												title="file"></lightning-icon>
										</span>
										<a href="#" class="slds-pill__action"
											title="Full pill label verbiage mirrored here">
											<span class="slds-pill__label">{fname}</span>
										</a>

									</span>
								</template>
								<lightning-card title="Files">
									<lightning-datatable key-field="Id" data={fileData} columns={fileColumns}
										hide-checkbox-column>
									</lightning-datatable>
								</lightning-card>

							</div>
						</div>
					</div>
					<footer class="slds-modal__footer">
						<lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
							onclick={handleCloseModal}></lightning-button>
						<template if:true={addFile}>
							<lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Add File"
								onclick={handleAddFile}></lightning-button>
						</template>
					</footer>
				</div>
			</section>
			<div class="slds-backdrop slds-backdrop_open"></div>

		</template>
		<template if:true={clonebox}>
				<section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
					aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
					<div class="slds-modal__container">
						<header class="slds-modal__header">
							<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
								title="Close" onclick={cloneCencel}>
								<svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
									<use
										xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close">
									</use>
								</svg>
								<span class="slds-assistive-text">Close</span>
							</button>
							<h2 id="modal-heading-05" class="slds-modal__title slds-hyphenate">Clone?</h2>
						</header>
						<div class="slds-modal__content slds-p-around_medium slds-text-align_center"
							id="modal-content-id-6">
							<p>Are you sure want to clone this Receipt?</p>
						</div>
						<footer class="slds-modal__footer">
							<button class="slds-button slds-button_neutral" onclick={cloneCencel}>Cancel</button>
							<button class="slds-button slds-button_brand" onclick={cloneCreate}>Clone</button>
						</footer>
					</div>
				</section>
				<div class="slds-backdrop slds-backdrop_open"></div>
			
		</template>



	</div>

</template>