<template>
    <div style="text-align: right;margin-bottom: -60px;z-index: 9;position: relative;">
        <button class="slds-button slds-button_brand" style="margin-right: 24px;" onclick={openNew}>New</button>
    </div>
    
</template>