<template>
        <div>
            <div class="slds-form-element">
                
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                        <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                            <lightning-input 
                                variant ={variant}
                                required={required} data-id="userinput" 
                                label={label} name="searchText" 
                                onchange={searchField} onkeyup={searchField} onkeydown={searchField} onblur={searchField} class="leftspace"
                                placeholder={placeholder} disabled={disabled}>
                            </lightning-input>
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right" role="none" style={styl}>
                                <template for:each={selectedRecords} for:item="serecord">
                                    <span key={serecord.recId}>
                                        <lightning-pill label={serecord.recName} name={serecord.recId} onremove={removeRecord}>
                                            <lightning-icon icon-name={iconname} variant="circle" alternative-text={serecord.recName}></lightning-icon>
                                        </lightning-pill>
                                    </span>
                                </template>
                            </div>
                        
                            <!-- Second part display result -->
                            <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                    <template for:each={searchRecords} for:item="serecord">
                                        <li role="presentation" class="slds-listbox__item" key={serecord.recId}>
                                            
                                            <div 
                                                data-id={serecord.recId} data-name={serecord.recName} 
                                                onclick={setSelectedRecord} 
                                                class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" 
                                                role="option"
                                            >

                                                <span class="slds-media__figure">
                                                    <span class="slds-icon_container slds-icon-standard-account">
                                                        <lightning-icon 
                                                            icon-name={iconname} 
                                                            class="slds-icon slds-icon slds-icon_small slds-icon-text-default" 
                                                            size="x-small">
                                                        </lightning-icon>
                                                    </span>
                                                </span>
                                                <span class="slds-media__body">
                                                    <span style="white-space:normal;" class="slds-listbox__option-text slds-listbox__option-text_entity">{serecord.recName}</span>
                                                    <!--<span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{objectName} • {serecord.recName}</span>-->
                                                    <span style="white-space:normal;" class="slds-listbox__option-meta slds-listbox__option-meta_entity">{serecord.secondName}</span>
                                                </span>
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                            <div if:true={messageFlag}>
                                No result found.
                            </div>
                            <div if:true={LoadingText}>
                                Loading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>