<template>
    <lightning-layout multiple-rows="true" class="container slds-card">
        <template if:false={isDisabled}>
            <lightning-layout-item size="12" padding="around-small" class="slds-border_bottom slds-p-left_medium slds-p-right_x-small">
                <lightning-button variant="brand"
                    label="New Goal"
                    title="New Goal"
                    icon-name="utility:add"                
                    class="slds-m-left_x-small"
                    onclick={newGoalClicked}
                    disabled={newGoalCheck}>
                </lightning-button>
            </lightning-layout-item>
        </template>        
        <lightning-layout-item size="12" padding="around-small">
           <template if:true={newGoalCheck}>
                <c-service-plan-goals-continue service-plan-id={recordId} 
                    onnewbutton={newGoalClicked} edit="true" accordian-arrow="true"
                    new-goal=true show-goal-templates=true onrefresh={fetchRecords}>
                </c-service-plan-goals-continue>
           </template>
            <template for:each={goalRecords} for:item="goal">
                <template if:true={goal.Id}>
                    <c-service-plan-goals-continue goal-id={goal.Id} 
                        key={goal.Id} onrefresh={fetchRecords} service-plan-id={recordId} 
                        edit="false" accordian-arrow="false"  new-goal=false is-disabled={isDisabled}>
                    </c-service-plan-goals-continue>
                </template>                
            </template>                                
            
        </lightning-layout-item>

    <!---->
    </lightning-layout>
</template>