.THIS .span.slds-pill.pillsize.slds-icon_container{
  width :100% !important;
}

.THIS .slds-pill__label{
 white-space: pre-wrap !important;
}    
.THIS .slds-pill__label{
    width: 90% !important;
}
.THIS .costcenterpillsize{
    width:100% !important;
}
.THIS .dropdownreferal .slds-dropdown-trigger .slds-dropdown{
    height: 85px !important;
    /*overflow: auto; */
   
}