.THIS .table-heading{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.THIS .na-div {
    
    margin-left: 10px;
}

.THIS .na-div label{
    
    font-size: initial;
}
.THIS .na-div input{
    display: inline-block;
    margin-left: 10px;
}
.THIS .slds-card__header header .slds-media__body{
    flex: none;
}

.THIS .slds-modal__container{
    width: 80%;
    max-width: 80%;
}

.THIS .previousButton{
    float: left;
}

.THIS .nextButton{
    float: right;
}