<apex:page controller="PayInvoiceController" renderAs="pdf"  applyBodyTag="false" standardStylesheets="false">
   <html>
      <head>
         <meta name="viewport" content="width-device-width, initial-scale-1"/>
         <style type="text/css" media="print">
         body {
                font-family: sans-serif;
            }
            
           th, td {
              border: 2px solid black;
              border-collapse: collapse;
              }

         

         </style>
      </head>
      <body>
         <apex:form > 
            <table width="100%">
               <tr>
                  <td style="text-align:center; font-family: Times, serif; !important;">
                     Pre-Check List
                  </td>
                  
               </tr>
            </table>
            <hr/>
            

            <apex:outputPanel rendered="{!SizeOfMapA > 0}" > 
            <b style="text-align:center; font-family: Times, serif; !important;">Alleghany Department of Social Services</b><br/>
            </apex:outputPanel>
            <apex:repeat value="{!mapA}" var="key">
               <b>{!key}</b><br/>
               <apex:outputPanel rendered="{!key == 'Taxes Payable'}" > 
                  <apex:repeat value="{!mapTA}" var="keyy">
                     <b>{!keyy}</b><br/>
                     
                     
                        <table border="1" width="100%">
                           <tr>
                              <th style="width:9%; text-align: center; font-size:12px">Invoice</th>
                              <th style="width:10%; text-align: center; font-size:12px">Category</th>
                              <th style="width:21.73%; text-align: center; font-size:12px">Vendor</th>
                              <th style="width:21; text-align: center; font-size:12px">Vendor Number</th>
                              <th style="width:10%; text-align: center; font-size:12px">Purchase Order</th>
                              <th style="width:14.67%; text-align: center; font-size:12px">Invoice Schedule Date</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Amount</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Approval Status</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Description</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Cost Center</th>
                           </tr>
                           <apex:repeat value="{!mapTA[keyy]}" var="value">
                              <tr>
                                 <td style="width:10%; text-align: center; font-size:11px">{!value.paymentNo}</td>
                                 <td style="width:10%; text-align: center; font-size:11px"> {!value.category}</td>
                                 <td style="width:21.73%; text-align: center; font-size:11px">{!value.vendorName}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.vendorNumber}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.oppName}</td>
                                 <td style="width:13.6%; text-align: right; font-size:11px"><apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!value.paymentDate}" /> </apex:outputText></td>
                                 <td style="width:21; text-align: center; font-size:11px">${!value.amount}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.status}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.memo}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.costCenterName}</td>
                              </tr>
                           </apex:repeat>
                        </table>
                     
                                  
                    
                  </apex:repeat>
               </apex:outputPanel>
               
               <apex:outputPanel rendered="{!key <> 'Taxes Payable'}" > 
                  <table border="1" width="100%">
                     <tr>
                        <th style="width:9%; text-align: center; font-size:12px">Invoice</th>
                        <th style="width:10%; text-align: center; font-size:12px">Category</th>
                        <th style="width:21.73%; text-align: center; font-size:12px">Vendor</th>
                        <th style="width:21; text-align: center; font-size:12px">Vendor Number</th>
                        <th style="width:10%; text-align: center; font-size:12px">Purchase Order</th>
                        <th style="width:14.67%; text-align: center; font-size:12px">Invoice Schedule Date</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Amount</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Approval Status</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Description</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Cost Center</th>
                     </tr>
                     <apex:repeat value="{!mapA[key]}" var="value">
                        <tr>
                           <td style="width:10%; text-align: center; font-size:11px">{!value.paymentNo}</td>
                           <td style="width:10%; text-align: center; font-size:11px"> {!value.category}</td>
                           <td style="width:21.73%; text-align: center; font-size:11px">{!value.vendorName}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.vendorNumber}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.oppName}</td>
                           <td style="width:13.6%; text-align: right; font-size:11px"><apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!value.paymentDate}" /> </apex:outputText></td>
                           <td style="width:21; text-align: center; font-size:11px">${!value.amount}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.status}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.memo}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.costCenterName}</td>
                        </tr>
                     </apex:repeat>
                     <tr>
                        <td style="width:10%; text-align: center; font-size:11px"> - </td>
                        <td style="width:10%; text-align: center; font-size:11px"> - </td>
                        <td style="width:21.73%; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:13.6%; text-align: right; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px">${!totalMap[key]}</td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                     </tr>
                  </table>
               </apex:outputPanel>
                            
              
            </apex:repeat>

            <br/><br/>
            <apex:outputPanel rendered="{!SizeOfMapC > 0}" > 
            <b style="text-align:center; font-family: Times, serif; !important;">Covington Department of Social Services</b><br/>
            </apex:outputPanel>
            <apex:repeat value="{!mapC}" var="key">
               <b>{!key}</b><br/>

               <apex:outputPanel rendered="{!key == 'Taxes Payable'}" > 
                  <apex:repeat value="{!mapTC}" var="keyy">
                     <b>{!keyy}</b><br/>
                     
                     
                        <table border="1" width="100%">
                           <tr>
                              <th style="width:9%; text-align: center; font-size:12px">Invoice</th>
                              <th style="width:10%; text-align: center; font-size:12px">Category</th>
                              <th style="width:21.73%; text-align: center; font-size:12px">Vendor</th>
                              <th style="width:21; text-align: center; font-size:12px">Vendor Number</th>
                              <th style="width:10%; text-align: center; font-size:12px">Purchase Order</th>
                              <th style="width:14.67%; text-align: center; font-size:12px">Invoice Schedule Date</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Amount</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Approval Status</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Description</th>
                              <th style="width:13.6%; text-align: center; font-size:12px">Cost Center</th>
                           </tr>
                           <apex:repeat value="{!mapTC[keyy]}" var="value">
                              <tr>
                                 <td style="width:10%; text-align: center; font-size:11px">{!value.paymentNo}</td>
                                 <td style="width:10%; text-align: center; font-size:11px"> {!value.category}</td>
                                 <td style="width:21.73%; text-align: center; font-size:11px">{!value.vendorName}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.vendorNumber}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.oppName}</td>
                                 <td style="width:13.6%; text-align: right; font-size:11px"><apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!value.paymentDate}" /> </apex:outputText></td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.amount}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.status}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.memo}</td>
                                 <td style="width:21; text-align: center; font-size:11px">{!value.costCenterName}</td>
                              </tr>
                           </apex:repeat>
                           <tr>
                              <td style="width:10%; text-align: center; font-size:11px"> - </td>
                              <td style="width:10%; text-align: center; font-size:11px"> - </td>
                              <td style="width:21.73%; text-align: center; font-size:11px"> - </td>
                              <td style="width:21; text-align: center; font-size:11px"> - </td>
                              <td style="width:21; text-align: center; font-size:11px"> - </td>
                              <td style="width:13.6%; text-align: right; font-size:11px"> - </td>
                              <td style="width:21; text-align: center; font-size:11px">${!totalMap['C ' + key]}</td>
                              <td style="width:21; text-align: center; font-size:11px"> - </td>
                              <td style="width:21; text-align: center; font-size:11px"> - </td>
                              <td style="width:21; text-align: center; font-size:11px"> - </td>
                           </tr>
                        </table>
                     
                                  
                    
                  </apex:repeat>
               </apex:outputPanel>
               
               <apex:outputPanel rendered="{!key <> 'Taxes Payable'}" > 
                  <table border="1" width="100%">
                     <tr>
                        <th style="width:9%; text-align: center; font-size:12px">Invoice</th>
                        <th style="width:10%; text-align: center; font-size:12px">Category</th>
                        <th style="width:21.73%; text-align: center; font-size:12px">Vendor</th>
                        <th style="width:21; text-align: center; font-size:12px">Vendor Number</th>
                        <th style="width:10%; text-align: center; font-size:12px">Purchase Order</th>
                        <th style="width:14.67%; text-align: center; font-size:12px">Invoice Schedule Date</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Amount</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Approval Status</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Description</th>
                        <th style="width:13.6%; text-align: center; font-size:12px">Cost Center</th>
                     </tr>
                     <apex:repeat value="{!mapC[key]}" var="value">
                        <tr>
                           <td style="width:10%; text-align: center; font-size:11px">{!value.paymentNo}</td>
                           <td style="width:10%; text-align: center; font-size:11px"> {!value.category}</td>
                           <td style="width:21.73%; text-align: center; font-size:11px">{!value.vendorName}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.vendorNumber}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.oppName}</td>
                           <td style="width:13.6%; text-align: right; font-size:11px"><apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!value.paymentDate}" /> </apex:outputText></td>
                           <td style="width:21; text-align: center; font-size:11px">${!value.amount}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.status}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.memo}</td>
                           <td style="width:21; text-align: center; font-size:11px">{!value.costCenterName}</td>
                        </tr>
                     </apex:repeat>
                     <tr>
                        <td style="width:10%; text-align: center; font-size:11px"> -- </td>
                        <td style="width:10%; text-align: center; font-size:11px"> - </td>
                        <td style="width:21.73%; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:13.6%; text-align: right; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px">${!totalMap['C ' + key]}</td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                        <td style="width:21; text-align: center; font-size:11px"> - </td>
                     </tr>
                  </table>
               </apex:outputPanel>
                        
            </apex:repeat>
            <table border="1" width="100%">
               <tr style="border:none">
                  <td style="border:none;width:30%; text-align: center; font-size:11px"></td>
                  <td style="border:none;width:21; text-align: left; font-size:11px"><h3 style="text-align: center"><b>Grand Total: ${!grandTotal}</b></h3></td>
                  
               </tr>
               
            </table>
         
            
         </apex:form>
       </body>
   </html>
</apex:page>