<template>  
    <lightning-layout multiple-rows="true" class="container slds-card">
        <lightning-layout-item size="1" padding="around-small" class="slds-p-left_medium slds-p-right_x-small" style="width: 2.3333333333%;">
            <lightning-icon icon-name="standard:record_create" alternative-text="Create Record" title="Create Record"></lightning-icon>
        </lightning-layout-item>
        <lightning-layout-item size="2" padding="around-small" class="slds-p-left_medium">
            <h2 style="font-size:larger" class="slds-form-element__label">New Case Assignment</h2>
        </lightning-layout-item>        
    </lightning-layout> 
    <br/> 
    <lightning-record-edit-form
        object-api-name="Case_Assignment__c"
        density="comfy"
        onsubmit={handleSubmit}
        onsuccess={handleSuccess}
    >
        <lightning-layout multiple-rows="true" class="container slds-card">
            <lightning-messages> </lightning-messages>
            <lightning-layout-item size="6" padding="around-small" class="slds-p-left_medium slds-p-right_x-small">
                <lightning-input-field field-name="Employee__c"> </lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small" class="slds-p-left_medium slds-p-right_x-small">
                <lightning-input-field field-name="Case__c"> </lightning-input-field>
            </lightning-layout-item>            
            <lightning-layout-item size="6" padding="around-small" class="slds-p-left_medium slds-p-right_x-small">
                <lightning-input-field field-name="Begin_Date__c"> </lightning-input-field>
            </lightning-layout-item>
            <!--<lightning-layout-item size="6" padding="around-small" class="slds-p-left_medium slds-p-right_x-small">
                <lightning-input-field field-name="End_Date__c"> </lightning-input-field>
            </lightning-layout-item>-->          
            <lightning-layout-item size="6" padding="around-small" class="slds-p-left_medium slds-p-right_x-small">
                <lightning-input-field field-name="Role__c"> </lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item size="12" padding="around-small" class="slds-p-left_medium slds-p-right_x-small">
                <lightning-button
                    class="slds-m-top_small"
                    variant="brand"
                    type="submit"
                    name="submit"
                    label="Submit"                                        
                >
                </lightning-button>
            </lightning-layout-item>           
        </lightning-layout>        
    </lightning-record-edit-form>
</template>