.THIS .mainContact {
  border-radius: 20px;
    background:#195594;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.THIS .realtedContact {
  border-radius: 20px;
    background:#ff9e2c;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.THIS .relatedMainContact {
  border-radius: 20px;
    background:#04844b;;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.THIS .realtedRelatedContact {
  border-radius: 20px;
    background:#ed2832;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

.THIS *,
.THIS *::before,
.THIS *::after {
  box-sizing: border-box;
}

.THIS body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.THIS .timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.THIS .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #006E51;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.THIS .container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.THIS .container.left {
  left: 0;
}

.THIS .container.right {
  left: 50%;
}

.THIS .container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 16px;
  z-index: 1;
}

.THIS .container.right::after {
  left: -8px;
}

.THIS .container::before {
  content: '';
  position: absolute;
  width: 125px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #006E51;
  z-index: 1;
}

.THIS .container.right::before {
  left: 8px;
}

.THIS .container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.THIS .container.left .date {
  right: -75px;
}

.THIS .container.right .date {
  left: -75px;
}

.THIS .container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #ffffff;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.THIS .container.left .icon {
  right: 56px;
}

.THIS .container.right .icon {
  left: 56px;
}

.THIS .container .content {
  padding: 30px 90px 30px 30px;
  background: #0541a8;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.THIS .container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.THIS .container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #fcfcfc;
}

.THIS .container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #f0f0f0;
}
.THIS .timeline::after {
  left: 111px !important;
}

.THIS .container {
  width: 100% !important;
  padding-left: 200px !important;
  padding-right: 30px !important;
}

.THIS .container.right {
  left: 0% !important;
}

.THIS .container.left::after, 
.THIS .container.right::after {
  left: 103px !important;
}

.THIS .container.left::before,
.THIS .container.right::before {
  left: 110px !important;
  border-color: transparent #006E51 transparent transparent !important;
}

.THIS .container.left .date,
.THIS .container.right .date {
  right: auto !important;
  left: 15px !important;
}

.THIS .container.left .icon,
.THIS .container.right .icon {
  right: auto !important;
  left: 225px !important;
}

.THIS .container.left .content,
.THIS .container.right .content {
  padding: 30px 30px 30px 90px !important;
  border-radius: 500px 0 0 500px !important;
}

/*@media (max-width: 767.98px) {
  
}*/