<template>
    <div class="slds-var-m-around_small slds-box slds-box_xx-small">
        <lightning-layout multiple-rows="true">
            <lightning-layout-item size="1" padding="around-small">
                <br/> 
                <template if:true={accordianArrow}>               
                    <lightning-icon icon-name="utility:chevrondown" size="x-small" onclick={handleAccordian}></lightning-icon>
                </template>
                <template if:false={accordianArrow}>               
                    <lightning-icon icon-name="utility:chevronright" size="x-small" onclick={handleAccordian}></lightning-icon>
                </template>
            </lightning-layout-item>
            <lightning-layout-item size="5" padding="around-small">                
                <template if:true={edit}>
                    <lightning-layout>
                        <lightning-layout-item size="11">
                            <template if:false={showGoalTemplates}>
                                <lightning-input 
                                    name="goalName" 
                                    label="Goal Name" 
                                    value={goalName}
                                    onblur={handleNameChange}
                                    data-object="Goal"                    
                                    required>
                                </lightning-input>
                            </template>
                            <template if:true={showGoalTemplates}>
                                <lightning-combobox
                                    name="goalTemplates"
                                    label="Goal Templates"
                                    value={selectedGoalTemplate}
                                    onchange={handleGoalTemplateChange}
                                    placeholder="Select a template"
                                    options={gtList}>
                                </lightning-combobox>                                                          
                            </template>
                        </lightning-layout-item>
                        <lightning-layout-item size="1" padding="around-large">
                            <template if:true={showCross}>
                                <lightning-button-icon icon-name="utility:close"  size="medium"  alternative-text="Close" class="slds-m-left_xx-small" onclick={handleCross}></lightning-button-icon>
                            </template>
                        </lightning-layout-item>
                    </lightning-layout>
                                        
                </template>
                <template if:false={edit}>
                    <div class="slds-form-element__label">Goal Name</div>
                    <div class="slds-form-element__static">{goalName}</div>
                </template>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small">
                <template if:true={edit}>
                    <lightning-combobox
                        name="status"
                        label="Status"
                        value={selectedStatus}
                        onchange={handleStatusChange}
                        data-object="Goal"                   
                        options={status}>
                    </lightning-combobox>
                </template>             
                <template if:false={edit}>                    
                    <div class="slds-form-element__label">Status</div>
                    <div class="slds-form-element__static">{selectedStatus}</div>
                </template>
            </lightning-layout-item>
            <lightning-layout-item size="2" padding="around-small">
                <template if:false={newGoal}>
                    <br/>
                    <lightning-progress-bar value={progress} size="large" variant="circular"></lightning-progress-bar>
                    <p>
                        {completedActionItem}/{actionItemLength} Objectives Completed
                    </p>
                </template>                                           
            </lightning-layout-item>
            <lightning-layout-item size="1" padding="around-small">
                <template if:false={isDisabled}>
                    <template if:false={newGoal}>                
                        <br/>
                        <lightning-button-icon icon-name="utility:edit"  size="small" class="slds-m-left_xx-small" onclick={handleEdit}></lightning-button-icon>                
                        <!--<lightning-button-icon icon-name="utility:down"  size="small" class="slds-m-left_xx-small"></lightning-button-icon>-->
                        <lightning-button-menu icon-size="small" class="slds-m-left_xx-small">
                            <lightning-menu-item value="ViewDetails" label="View Details" data-id={goalId} onclick={handleViewDetails}></lightning-menu-item>
                            <lightning-menu-item value="Delete" label="Delete" data-id={goalId} onclick={handleDelete} data-object="Goal"></lightning-menu-item>
                        </lightning-button-menu> 
                    </template>
                </template>                               
            </lightning-layout-item>
        </lightning-layout>

        <template for:each={actionItemList} for:item="ai" if:true={accordianArrow} for:index="index">
            <lightning-layout multiple-rows="true" key={ai.Name}>
                <lightning-layout-item size="1" padding="around-small"></lightning-layout-item>
                <lightning-layout-item size="11" padding="around-small">
                    <lightning-layout multiple-rows="true" class="slds-border_bottom">
                        <lightning-layout-item size="3" padding="around-small" >
                            <template if:true={edit}>
                                <lightning-layout>
                                    <lightning-layout-item size="10">
                                        <template if:false={ai.showObjTemplate}>
                                            <lightning-input 
                                                name="objectiveName" 
                                                label="Objective Name" 
                                                value={ai.Name}
                                                data-index={index}
                                                onblur={handleNameChange}                    
                                                required> 
                                            </lightning-input>
                                        </template>
                                        <template if:true={ai.showObjTemplate}>
                                            <lightning-combobox
                                                name="objectiveTemplate"
                                                label="Objective Template"
                                                value={ai.Action_Item_Template__c}
                                                data-index={index}
                                                onchange={handleObjTemplateChange}                   
                                                options={otList}
                                                placeholder="Select Objective Template">
                                            </lightning-combobox>
                                        </template>
                                    </lightning-layout-item>
                                    <lightning-layout-item size="1" padding="around-large">
                                        <template if:true={ai.showCross}>
                                            <lightning-button-icon icon-name="utility:close"  size="medium" data-index={index} alternative-text="Close" class="slds-m-left_xx-small" onclick={handleObjCross}></lightning-button-icon>
                                        </template>                                        
                                    </lightning-layout-item>
                                </lightning-layout>                             
                            </template> 
                            <template if:false={edit}>
                                <div class="slds-form-element__label">Objective Name</div>
                                <div class="slds-form-element__static">{ai.Name}</div>
                            </template>
                        </lightning-layout-item>
                        <lightning-layout-item size="2" padding="around-small">
                            <template if:true={edit}>
                                <lightning-input 
                                    name="dueDate"
                                    type="date" 
                                    label="Due Date" 
                                    value={ai.Due_Date__c}
                                    data-index={index}
                                    onchange={handleDateChange}                    
                                    required>
                                </lightning-input>
                            </template>
                            <template if:false={edit}>
                                <div class="slds-form-element__label">Due Date</div>
                                <div class="slds-form-element__static">{ai.Due_Date__c}</div>
                            </template>                            
                        </lightning-layout-item>
                        <lightning-layout-item size="3" padding="around-small">
                            <template if:true={edit}>
                                <lightning-combobox
                                    name="status"
                                    label="Status"
                                    value={ai.Status__c}
                                    data-index={index}
                                    onchange={handleStatusChange}                   
                                    options={status}>
                                </lightning-combobox>
                            </template>
                            <template if:false={edit}>
                                <div class={ai.pillCSS}>{ai.Status__c}</div>
                            </template>                             
                        </lightning-layout-item>
                        <lightning-layout-item size="3" padding="around-small">
                            <template if:true={ai.Case__c}>
                                <div class="slds-form-element__label">Assigned To</div>
                                <div class="slds-form-element__static">
                                    <a href={ai.Case__c} target="_blank">                                   
                                        {ai.Case__r.Name}                                    
                                    </a>
                                </div>
                            </template>
                        </lightning-layout-item>
                        <lightning-layout-item size="1" padding="around-small">
                            <br/>
                            <template if:false={isDisabled}>
                                <template if:true={edit}>
                                    <lightning-button-icon 
                                        icon-name="utility:delete"  size="small" 
                                        class="slds-m-left_xx-small" onclick={handleDelete} 
                                        data-id={ai.Id} data-object="Action Item" 
                                        data-index={index}>
                                    </lightning-button-icon>
                                </template>
                                <template if:false={edit}>
                                    <lightning-button-menu icon-size="small" class="slds-m-left_xx-small">                        
                                        <lightning-menu-item value="View Details" label="View Details" data-id={ai.Id} onclick={handleViewDetails}></lightning-menu-item>
                                    </lightning-button-menu>
                                </template>
                            </template>                                                        
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        <template if:true={edit}>
            <lightning-layout multiple-rows="true">
                <lightning-layout-item size="1" padding="around-small"></lightning-layout-item>
                <lightning-layout-item size="11" padding="around-small">
                    <lightning-button
                        label="Add Objective"
                        title="Add Objective"
                        icon-name="utility:add"                
                        class="slds-m-left_x-small"
                        onclick={addRow}>
                    </lightning-button>
                </lightning-layout-item>
                <lightning-layout-item size="1" padding="around-small"></lightning-layout-item>
                <lightning-layout-item size="11" padding="around-small">
                    <lightning-button
                        label="Cancel"
                        title="Cancel"
                        class="slds-m-left_x-small"
                        onclick={cancelComponent}>
                    </lightning-button> &nbsp;
                    <lightning-button variant="brand"
                        label="Save"
                        title="Save"
                        class="slds-m-left_x-small"
                        onclick={saveMethod}>
                    </lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        <br/>
    </div>
</template>