.notStarted {    
    border-radius: 20px;
    background:#5e5e5e;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}
.inProgress {    
    border-radius: 20px;
    background:#195594;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}
.completed {    
    border-radius: 20px;
    background:#04844b;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}
.onHold {    
    border-radius: 20px;
    background:#cacccf;
    padding: 3px 12px;
    color: black;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}
.abandoned {    
    border-radius: 20px;
    background:#ff9e2c;
    padding: 3px 12px;
    color: #fff;
    margin: 0 3px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}