.THIS svg.slds-icon.slds-icon-text-default.slds-icon_small .sldsicon{
    
    fill:white !important;
}
.THIS .slds-card__header.slds-grid{
    margin-top:2% !important;
}
.THIS .dropdownreferal .slds-dropdown-trigger .slds-dropdown{
    height: 85px !important;
    /*overflow: auto; */
   
}