<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small"
                            alternative-text="error" title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {title}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onclick={closeToast} type="button">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"
                                alternative-text="close" title="close">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </template>
<template if:true={showEdit}>
    <lightning-record-form oncancel={allocationCancel} object-api-name="npsp__Allocation__c" onsuccess={handleSuccess} record-id={recordId} fields={fields} columns="2" onsubmit={handleSubmit} onerror={errorHandler}>
    </lightning-record-form>
    
</template>
<template if:false={manageShow}>
    <template if:false={showEdit}>
        <article class="slds-card">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container slds-icon-standard-account" title="account">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
            </svg>
            <span class="slds-assistive-text">GAU Location</span>
                        </span>
                    </div>
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <a href="#" class="slds-card__header-link slds-truncate" title="Accounts">
                                <span>GAU Location</span>
                            </a>
                        </h2>
                    </div>
                    <div class="slds-no-flex">
                        <button class="slds-button slds-button_neutral" onclick={handleShowEdit}>New</button>
                        <button class="slds-button slds-button_neutral" onclick={handleManage}>Manage Allocation</button>
                    </div>
                </header>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <lightning-datatable key-field="Id" data={GAULocation} columns={locationColumns}>
                </lightning-datatable>
            </div>
            <footer class="slds-card__footer">
                <!--<a class="slds-card__footer-action" href="#">View All
            <span class="slds-assistive-text">GAU Location</span>
            </a>-->
            </footer>
        </article>
        
    </template>

</template>
<template if:true={manageShow}>
    <iframe src={manageURL} width="100%" height="500"></iframe>
    <button class="slds-button slds-button_neutral" onclick={handleManageClose}>Close</button>
    
</template>
</template>