.THIS .slds-card__header.slds-grid{
    margin-top:2% !important;
}
/*.THIS .slds-dropdown-trigger .slds-dropdown {
    height: 180px !important;
    overflow: auto;
} */

.THIS .dropdown .slds-dropdown {
    height: 120px !important;
    overflow: auto;
}
.THIS .dropdownreferal .slds-dropdown-trigger .slds-dropdown{
    height: 85px !important;
    /*overflow: auto; */
   
}
.THIS .margintop1{
    margin-top:0.5%;
    /*overflow: auto; */
   
}
.THIS .margintop2{
    margin-top:0.2%;
    /*overflow: auto; */
   
}
@media (min-width: 48em){
 .THIS .adjust_me .slds-form-element__control {
    padding-left: 21.9%;
}  
    
}