.THIS .leftPaddingClass {
    padding-left: 2rem;
   
}
.THIS .pillSize{
 width:100%;
}
.THIS .span.slds-pill.pillsize.slds-icon_container{
  width :100% !important;
}


.THIS .slds-pill__label{
    width: 90% !important;
}