<template>
    <template if:true={showLoader}>
        <div class="exampleHolder">
            <lightning-spinner alternative-text="Loading" size="large" variant="brand"></lightning-spinner>
        </div>
    </template>
    <div>
        <header class="slds-modal__header "
            style="background-color: rgb(5, 65, 168); color: #fff;height: 60px;margin: 0px 12px;">

            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate slds-float_left">
                Case </h2>
        </header>
    </div>
    <div>
        <lightning-record-edit-form id="recordEditForm" object-api-name="Kinship_Case__c" onerror={handleError}
            onsuccess={handleSuccess} onsubmit={handleSubmit}>

            <lightning-messages></lightning-messages>
            <lightning-layout pull-to-boundary="medium" class="layout-2" horizontal-align="space" multiple-rows="true">
                <lightning-layout-item padding="horizontal-small" size="12" small-device-size="12" large-device-size="4"
                    medium-device-size="4">
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field field-name="Kinship_Case_Number__c" variant="standard" required="true">
                        </lightning-input-field>
                    </div>

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="date" label="Date Of Birth" field-name="DOB__c" name="Name"
                            placeholder="Oct 3, 2021" variant="standard"></lightning-input-field>
                    </div>

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="Gender" name="Name" field-name="Gender_Preference__c"
                            variant="standard">
                        </lightning-input-field>
                    </div>
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" label="Student Identifier" field-name="Student_Identifier__c"
                            name="Name" placeholder="Oct 3, 2021" variant="standard">
                        </lightning-input-field>
                    </div>

                </lightning-layout-item>

                <lightning-layout-item padding="horizontal-small" size="12" small-device-size="12"
                    medium-device-size="4" large-device-size="4">
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="Case Name" field-name="Name" variant="standard">
                        </lightning-input-field>
                    </div>

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field field-name="Age__c" name="Name" variant="standard">
                        </lightning-input-field>
                    </div>

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" name="Name" variant="standard" label="Race"
                            field-name="Race__c" placeholder="American Indian or Alaska Native">
                        </lightning-input-field>
                    </div>
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" label="OASIS Client ID" field-name="OASIS_Client_ID__c"
                            name="Name" variant="standard">
                        </lightning-input-field>
                    </div>
                </lightning-layout-item>

                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" label="Contact Name" name="Name"
                            field-name="Primary_Contact__c" variant="standard">
                        </lightning-input-field>
                    </div>


                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" field-name="ssn__c" label="Social Security Number"
                            name="Name" variant="standard">
                        </lightning-input-field>
                    </div>
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" field-name="VACMS_Number__c" name="Name" variant="standard"
                            label="VACMS Number">
                        </lightning-input-field>
                    </div>
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" label="OASIS Case Number" field-name="oasis_number_clone__c"
                            name="Name" variant="standard">
                        </lightning-input-field>
                    </div>



                </lightning-layout-item>

            </lightning-layout>
            <h2 class="h2style">Assessments</h2>
            <lightning-layout pull-to-boundary="medium" class="layout-2" horizontal-align="space" multiple-rows="true">

                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="Referral Source" field-name="Referral_Source__c"
                            variant="standard">
                        </lightning-input-field>
                    </div>

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="DSM V Indicator/CD-10" field-name="DSM_V_Indicator_ICD_10_1__c"
                            variant="standard">
                        </lightning-input-field>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="Title IV Eligibility" field-name="Title_IVE_Eligibility__c"
                            variant="standard">
                        </lightning-input-field>
                    </div>

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="Autism Flag" field-name="Autism_Flag_1__c" variant="standard">
                        </lightning-input-field>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="Medicaid Indicator" field-name="Medicaid_Indicator_1__c"
                            variant="standard">
                        </lightning-input-field>
                    </div>


                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field label="Clinical Medication Indicator"
                            field-name="Clinical_Medication_Indicator_1__c" variant="standard">
                        </lightning-input-field>
                    </div>
                </lightning-layout-item>

            </lightning-layout>

            <h2 class="h2style">Close Case</h2>
            <lightning-layout pull-to-boundary="medium" class="layout-2" horizontal-align="space" multiple-rows="true">

                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">


                    <div class="slds-p-around_small slds-m-top_large slds-size_2-of-3">
                        <lightning-input name="input1" label="Close" field-name="Close_c" variant="standard"
                            type="checkbox" class="checkbox"></lightning-input>
                    </div>

                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">


                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="date" name="Name" variant="standard" field-name="Close_Date__c"
                            label="Close Date">
                        </lightning-input-field>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">

                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" name="Name" field-name="Case_Close_Reason__c"
                            variant="standard" label="Close Reason"></lightning-input-field>
                    </div>
                </lightning-layout-item>

            </lightning-layout>


            <!--<h2 class="h2style">Othersss</h2>
            <lightning-layout pull-to-boundary="medium" class="layout-2" horizontal-align="space" multiple-rows="true">

                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="date" label="Open Date" field-name="Open_Date__c"
                            variant="standard">
                        </lightning-input-field>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">
                    <div class="slds-p-around_small slds-size_2-of-3">
                        <lightning-input-field type="text" name="Name" field-name="Caseworker__c" variant="standard"
                            label="Caseworker" placeholder="Search Employees...">
                        </lightning-input-field>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="12" medium-device-size="4" large-device-size="4"
                    padding="horizontal-small">

                    <div class="slds-p-around_small slds-m-top_large slds-size_2-of-3">
                        <lightning-input name="input1" label="Email To Vendor" field-name="Email_to_vendor__c"
                            variant="standard" type="checkbox" class="checkbox"></lightning-input>
                    </div>
                </lightning-layout-item>

            </lightning-layout>-->

            <div class="slds-p-top_medium slds-p-bottom_medium"
                style="text-align: center;background-color: white;margin: 0px 12px;margin-bottom: 20px; border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
                <lightning-button style="padding-right: 5px; padding-right: var(--lwc-spacingSmall);
                                                margin-top: var(--lwc-spacingLarge); " class="slds-m-top_small"
                    label="Cancel" onclick={closeModal}></lightning-button>
                <lightning-button variant="brand" type="submit" name="save" label="Save">
                </lightning-button>
            </div>

        </lightning-record-edit-form>

    </div>

</template>