<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small"
                            alternative-text="error" title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {titleoftoast}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onclick={closeToast} type="button">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"
                                alternative-text="close" title="close">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </template>

<div style="position: relative;">
    <template if:true={showField}>
        <lightning-record-edit-form object-api-name="Deposits__c" onsuccess={handleSuccess} record-id={recordId} columns="2"
        onsubmit={handleSubmit} onerror={handleerror}>

        <template if:false={isView}>

            <div class="slds-grid slds-gutters">

                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field field-name="Deposit_Date__c" required>
                    </lightning-input-field>
                    <lightning-input-field style="display:none" field-name="Status__c" value={statusValue}>
                    </lightning-input-field>

                </div>
            </div>
            <div class="slds-m-top_medium" style="text-align: center;">
                <lightning-button variant="brand" type="submit" name="save" label="Save">
                </lightning-button>
            </div>
        </template>

    </lightning-record-edit-form>


<c-spinner></c-spinner>
<c-register-event name="closeAura" namespace="astro" class="first-event" timeout=1000 pagereference="true"></c-register-event>
    </template>
    <template if:false={showField}>
        <label class="slds-form-element__label,slds-text-color_error"
                                for="text-input-id-1">
                                <b class="slds-text-color_error">
                                    Please make sure to first complete the deposit.
                                </b></label>
    </template>
</div>

</template>