.THIS .toggle {
    display: none;
}
.THIS svg.slds-button__icon.slds-button__icon_hint.slds-button__icon_lock.slds-button__icon_small.slds-button__icon_edit.slds-icon.slds-icon-text-default.slds-icon_xx-small {
 opacity:1 !important;
}