<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small"
                            alternative-text="error" title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {titleoftoast}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onclick={closeToast} type="button">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"
                                alternative-text="close" title="close">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </template>

<div style="position: relative;">
    <!-- <lightning-record-form oncancel={receiptCancel} object-api-name="npe01__OppPayment__c" onsuccess={handleSuccess} record-id={selectedReceipt} fields={fields} columns="2" onsubmit={handleSubmit} onerror={errorHandler}>
    </lightning-record-form > -->
    <lightning-record-edit-form record-type-id={recordTypeIdStr} oncancel={receiptCancel} object-api-name="Payment__c" onsuccess={handleSuccess} onload={handleLoadForm} record-id={selectedReceipt} onsubmit={handleSubmit} onerror={errorHandler}>
        <template if:false={isView}>
            <lightning-messages>
            </lightning-messages>
            <lightning-card>
                <div class="slds-grid slds-gutters" style="border: 0.1px solid #dddbda; border-radius: 0.25rem;padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                    <div class="slds-col slds-size_1-of-2">
                        <!-- <label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 96px;margin-left: 4px;">Total of Receipts Entered</label>
						{balanceamount} <br> -->
                        <label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 120px;margin-left: 4px;margin-top: 10px;">Begin Date</label>
                        <lightning-formatted-date-time value={closedate}  year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time> <br>
                        <label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 73px;margin-left: 4px;margin-top: 10px;margin-bottom: 20px;">Beginning Receipt #</label>
                        {beginningreceipt}
                        <lightning-input-field field-name="Report_Number__c" required value={receiptNumber}>
                        </lightning-input-field>
                        <lightning-input-field field-name="Payment_Method__c" value={payMethod} onchange={handleChange} required>
                        </lightning-input-field>
                        <lightning-input-field class="slds-hide" field-name="Invoice_Stage__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="Check_Reference_Number__c">
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 130px;margin-left: 4px;margin-bottom: 6px;margin-top:12px;">End Date</label>
                        <lightning-formatted-date-time value={enddate}  year="numeric" month="numeric" day="numeric"></lightning-formatted-date-time><br>
                        <label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 90px;margin-left: 4px;margin-top: 10px;margin-bottom: 20px;">Ending Receipt #</label>
                        {endingreceipt}
                       <lightning-input-field style='display:none' field-name="Receipt_Type__c" value={receiptTypeValue}>
                        </lightning-input-field>
                        
                          <div class="slds-grid" style="padding-bottom: 10px;">
                            <div class="slds-col slds-size_3-of-12">
                                <label class="slds-form-element__label" for="horizontal-input-id-02">Date of Receipt</label>
                            </div>
                            <div class="slds-col slds-size_3-of-3" style=" padding-left: 8%; padding-right: 26%;">
                                <lightning-input type="date" variant ="label-hidden" date-style="short" required  value={closedate} onchange={dateChange}>
                                </lightning-input>
                                <lightning-input-field style='display:none' type="date" variant ="label-hidden"   field-name="Payment_Date__c" date-style="short" required value={closedate}>
                                </lightning-input-field>
                            </div>
                          </div>
                         
                        <lightning-input-field field-name="Payment_Amount__c" required onchange={handleChangePaymentAmount}>
                        </lightning-input-field>
                        <lightning-input-field class="slds-hide" field-name="Adjustment_Amount__c" value="0">
                        </lightning-input-field>
                        <!-- <template if:true={isCatLaser}>
                            <lightning-input-field field-name="Fund__c">
                            </lightning-input-field>
                        </template> -->
                        <lightning-input-field field-name="Description__c">
                        </lightning-input-field>
    
                    </div>
    
                </div>
            </lightning-card>
            <lightning-card>
                <div style="border: 0.1px solid #dddbda; border-radius: 0.25rem;padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                    <div class="slds-grid slds-gutters" >
                        <div class="slds-col slds-size_5-of-12">
                            <lightning-input-field field-name="Recipient__c" class="Recipient__c" value={value} style="display:none"> 
                            </lightning-input-field>
                            
                            <lightning-combobox 
                            name="Recipient"
                            variant='label-inline'
                            label="Recipient"
                            value={value}
                            placeholder="Select Recipient"
                            options={options}
                            onchange={handleRecipientChange}
                            required ></lightning-combobox>
                        
                        </div>
                        <template if:false={showCase}>
                            <lightning-input-field field-name="Kinship_Case__c" value={caseValue} style="display:none">
                            </lightning-input-field>
                        </template>
                        
                        <template if:true={showCase}>
                            <template if:true={disabledCase}>
                                <lightning-input-field field-name="Kinship_Case__c" disabled = disabled>
                                </lightning-input-field>
                            </template>
                            <template if:false={disabledCase}>
                                <div class="slds-col slds-size_5-of-12">
                                    <lightning-input-field field-name="Kinship_Case__c" value={caseValue} onchange={handleCaseChange}>
                                    </lightning-input-field>
                                </div>
                                <template if:true={createCaseShow}>
                                    <div class="slds-col slds-size_2-of-12">
                                        <lightning-button style="padding-right: 5px;padding-left: 33%;padding-bottom: 5px;" class="slds-m-top_small" label="Create Case" onclick={createCase}></lightning-button>
                                    </div>
                                </template>
                            </template>
                        </template>
                        <template if:true={showSpecialWelfareAccount}>
                            <div class="slds-col slds-size_4-of-12">
                                <lightning-input-field field-name="Special_Welfare_Account__c" value={specialWelfareAccountValue} onchange={handleSpecialWelfareChange}>
                                </lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <template if:true={createSWAShow}>
                                    <lightning-button style="padding-right: 5px;padding-left: 20%;padding-bottom: 5px;" class="slds-m-top_small" label="Create Special Welfare Account" onclick={createSpecialWelfareAccount}></lightning-button>
                                </template>
                            </div>
                            
                        </template>
                        <template if:true={showClaim}>
                            <div class="slds-col slds-size_5-of-12">
                                <lightning-input-field field-name="Claims__c" value={claimsValue} onchange={handleClaimsChange}>
                                </lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_2-of-12">
                                <template if:true={createClaimShow}>
                                    <lightning-button style="padding-right: 5px;padding-left: 33%;padding-bottom: 5px;" class="slds-m-top_small" label="Create Claim" onclick={createClaim}></lightning-button>
                                </template>
                               
                            </div>
                            
                        </template>
                        
                    </div>
                    <template if:true={showClaimBalance}>
                        <lightning-record-edit-form object-api-name="Claims__c" record-id={claimsValue} >
                                <div class="slds-grid slds-gutters">
                    
                                    <div class="slds-col slds-size_4-of-12">
                                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                            <div class="slds-form-element__control">
                                                <div class="slds-form-element__static">
                                                    
                                                    <lightning-output-field field-name="Claim_Amount__c">
                                                    </lightning-output-field>
                                                    
                                                </div>   
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_4-of-12">
                                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                            <div class="slds-form-element__control">
                                                <div class="slds-form-element__static">
                                                    <lightning-output-field field-name="Amount_Received__c">
                                                    </lightning-output-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_4-of-12">
                                        
                                        <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                            <div class="slds-form-element__control">
                                                <div class="slds-form-element__static">
                                                    <lightning-output-field field-name="Balance_Due__c">
                                                    </lightning-output-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </lightning-record-edit-form>
                    </template>
                    <template if:true={showSWRBalance}>
                        <lightning-record-edit-form object-api-name="Special_Welfare_Account__c" record-id={specialWelfareAccountValue} >
                            <div class="slds-grid slds-gutters">
                
                                <div class="slds-col slds-size_3-of-12">
                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                
                                                <lightning-output-field field-name="Initial_Balance__c">
                                                </lightning-output-field>
                                                
                                            </div>  
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="slds-col slds-size_3-of-12">
                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-output-field field-name="Total_Receipts__c">
                                                </lightning-output-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_3-of-12">
                                    
                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-output-field field-name="Total_Payments__c">
                                                </lightning-output-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_3-of-12">
                                    
                                    <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                        <div class="slds-form-element__control">
                                            <div class="slds-form-element__static">
                                                <lightning-output-field field-name="Current_Balance__c">
                                                </lightning-output-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </lightning-record-edit-form>
                    </template> 
                </div>
                
            </lightning-card>
            <lightning-card>
                <div style="border: 0.1px solid #dddbda; border-radius: 0.25rem;padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                    <div class="slds-grid slds-gutters" >
                        <div class="slds-col slds-size_5-of-12">
                            <lightning-combobox	
                            variant='label-inline'	
                            name="Payer"	
                            label="Payer"	
                            value={payerValue}	
                            placeholder="Select Payer"	
                            options={payeroptions}	
                            onchange={handlepayerChange}	
                            required ></lightning-combobox>
                            <lightning-input-field field-name="Payer__c" class="Payer__c" value={payerValue} style="display:none"> 
                            </lightning-input-field>
                        </div>
                        <template if:true={vendorPayer}>
                            <div class="slds-col slds-size_5-of-12">
                                <lightning-input-field variant ="label-inline" label="Vendor" field-name="Vendor__c" required value={vendorValue} onchange={handleVendorChange}>
                                </lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_2-of-12">
                                <template if:true={createVendorShow}>
                                    <lightning-button style="padding-right: 5px;padding-left: 20%;padding-bottom: 5px;" class="slds-m-top_small"  label="Create Vendor" onclick={createVendor}></lightning-button>
                                </template>
                                
                            </div>
                            
                        
                        </template>
                        <template if:true={contactPayer}>
                            <div class="slds-col slds-size_5-of-12">
                                <lightning-input-field variant ="label-inline" label="Contact" field-name="Payer_Contact__c" required value={payerCaseValue} onchange={handleContactChange}></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_2-of-12">
                                <template if:true={createContactShow}>
                                    <lightning-button style="padding-right: 5px;padding-left: 16%;padding-bottom: 5px;" class="slds-m-top_small" label="Create Contact" onclick={createPayerContact}></lightning-button>
                                </template>
                                
                            </div>
                            
                        </template>   
                    </div>   
                </div>
            </lightning-card>
            <lightning-card>  
                <div style="border: 0.1px solid #dddbda; border-radius: 0.25rem;padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                    <div class="slds-grid slds-gutters" >
                        <div class="slds-col slds-size_6-of-12">
                            <c-sat-multi-select-lookup objectname="Category__c" variant="label-inline" perentselect={parentFisaclYearName}
                                fieldnames="['Name', 'Category_Account_Description__c','Category_Type__c','FIPS_Code__c']" iconname="standard:account" styl="margin-left: 189px;" required="required"
                                onselected={selectedRecords} label="Category" parent-id={parentId} 
                                disabled={disableFiscalYear} placeholder="Select Category" where-str={catWhereStr} fips-code={fipsCode}>
                            </c-sat-multi-select-lookup>
                            <lightning-input-field field-name="Category_lookup__c" style="display:none" value={SWAcategoryId} ></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <template if:true={showCostLookup}>
                                <c-sat-multi-select-lookup objectname="Cost_Center__c" variant="label-inline" perentselect={parentCostCenterName}
                                fieldnames="['Name']" iconname="standard:account" styl="margin-left: 189px;" required="required"
                                onselected={selectedRecords} label="Cost Center" parent-id={parentId} show-cost-lookup={showCostLookup}
                                disabled={disableCostCenter} disable-cost-center={disableCostCenter} placeholder="Select Cost Center" where-str={costWhereStr} cost-center-ids={costCenterIds}>
                            </c-sat-multi-select-lookup>
                            <lightning-input-field field-name="Cost_Center__c" style="display:none" value={costCernterId} ></lightning-input-field>
                            </template> 
                        </div>
                    </div>
                <div class="slds-grid slds-gutters slds-m-top_medium" >
                    <template if:true={showRefundSource}>
                        <div class="slds-col slds-size_10-of-12">
                            <lightning-input-field variant ="label-hidden"  style="display:none" field-name="Payment_Source__c"  value={paymentSourceValue}>	
                            </lightning-input-field>	
                            <lightning-combobox	
                            variant='label-inline'	
                            name="Transaction Code"	
                            label="Transaction Code"	
                            value={valueTranscationCode}	
                            placeholder="Select Transaction Code"	
                            options={optionsTranscationCode}	
                            onchange={handlePaymentSourceChange}	
                            required ></lightning-combobox>
                        </div>
                    </template>
                </div>
                    <div class="slds-grid slds-gutters slds-m-top_medium slds-size_1-of-1" >
                            <template if:true={isCatLaser}>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-combobox	
                                        variant='label-inline'	
                                        name="Fund"	
                                        label="Fund"
                                        value={fundValue}		
                                        options={optionFund}
                                        onchange={handleFundChange}	
                                            
                                    ></lightning-combobox>
                                            <!-- <div class="slds-col slds-size_6-of-12"> 
                                    <lightning-input-field field-name="Fund__c">
                                    </lightning-input-field>
                                    </div> -->

                                </div>
                            </template> 
                    
                            <template if:true={showOtherTranscationText}>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="Other_Transaction_Description__c" required>
                                    </lightning-input-field>
                                </div>
                            </template>
                    </div>
                </div>
            </lightning-card>
            <label for="input-282" class="slds-form-element__label slds-no-flex" style="margin-right: 96px;margin-left: 4px;">Total of Receipts Entered</label>
           <lightning-formatted-number value={receiptAmount} format-style="currency" currency-code="USD" class="slds-file__text slds-truncate"></lightning-formatted-number> <br>
            <div class="slds-m-top_medium" style="text-align: center;">
                <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel" onclick={invoicecancel}></lightning-button>
                <lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle} data-isnext="0" type="submit" name="save" label="Save" >
                </lightning-button>
                <template if:false={isUpdate}>
                    <lightning-button  variant="brand" type="submit" name="new" onclick={saveOrNextHandle} data-isnext="1" label="Save and New">
                    </lightning-button>
                </template>
            </div>
        </template>

    </lightning-record-edit-form>
    
    <template if:true={showCreateNew}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container model-width">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeCreateNewModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                        {titleOfNew} </h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="model-conter-body">
                            <lightning-record-form class="abc"
                                object-api-name={objectName}
                                fields={fieldName}
                                columns="2"
                                mode="edit"
                                onsubmit={HandlSubmit}
                                onsuccess={handleCreateSuccess}
                                oncancel={createNewCancel}
                                record-id={claimRecordId}>
                            </lightning-record-form>

                        </div>
                </div>
            </div>
        </section>
					<div class="slds-backdrop slds-backdrop_open"></div>
	
    </template>
    
    <c-spinner></c-spinner>
</div>

</template>