.THIS .slds-grid_align-end
{
    justify-content: left !important; 
}
.THIS .slds-table thead th{
  font-weight:200px !important;  
}
.THIS label.slds-form-element__label.slds-no-flex{
    color :black !important;
}
.THIS label.slds-form-element__label{
    color  : black !important;
}

/*.THIS button.slds-button.slds-button_icon{

    color:red !important;
} */

.THIS button.slds-button.slds-button_icon.slds-button_icon-container{
    color : grey !important;
}
.THIS button.slds-button.slds-button_icon.slds-pill__remove.slds-button_icon-bare{
    color : grey !important;
}
.THIS .slds-form-element__icon {
    padding-top: 0%;
}   
.THIS .slds-dropdown-trigger .slds-dropdown {
    height: 110px !important;
    /*overflow: auto; */
   
}
.THIS .error svg {
    fill : red;
}
/*.THIS button.slds-button.slds-button_icon {
    color: red;
} */
/*.THIS .slds-combobox_container.slds-has-inline-listbox{
    width:47% !important;
} */