.THIS svg.slds-icon.slds-icon-text-default.slds-icon_small{
    
    fill:white !important;
    
}
@media (min-width: 48em){
 .THIS .adjust_me .slds-form-element__control {
    padding-left: 21.9%;
    }      
}

.THIS .caedit{
 width:100%;
 background-color:#dfe3e7 !important;

}
 

.THIS .span.slds-pill.pillsize.slds-icon_container{
  width :100% !important;
}

.THIS .slds-pill__label{
 white-space: pre-wrap !important;
}    
.THIS .slds-pill__label{
    width: 90% !important;
}
.THIS .costcenterpillsize{
    width:100% !important;
}
.THIS .dropdownreferal .slds-dropdown-trigger .slds-dropdown{
    height: 85px !important;
    /*overflow: auto; */
   
}