<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small" alternative-text="error"
                            title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {title}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                    <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
                            onclick={closeToast} type="button">
                            <lightning-icon icon-name="utility:close" variant="inverse" size="small"
                                alternative-text="close" title="close">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </template>
    
    <lightning-card>
        <lightning-record-edit-form record-id="" record-type-id={recordTypeIdStr} onsubmit={filterSubmitHandle} object-api-name="Payment__c">
            <div class="slds-grid" style="border: 0.1px solid #dddbda; border-radius: 0.25rem; padding: 0.75rem 1rem 0.75rem;margin: 0 0 0.75rem;">
                
                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-m-bottom_xx-small">
                        <label>Payer</label>
                    </div>
                    <lightning-input-field variant="label-hidden" required field-name="Special_Welfare_Account__c"
                        onchange={changeSWA}  value={swaValue} >
                    </lightning-input-field>
                    <template if:true={viewPayer}>
                    <a href={hrefSWA}>View Payer</a>
                    </template>
                    <br>
                    <br>
                    <lightning-input-field variant="label-stacked" field-name="Check_Reference_Number__c"  value={checkReferenceNumber} onchange={checkReferenceNumberChange}>
                    </lightning-input-field>

                    
                </div>

                <div class="slds-col slds-size_1-of-3">
                    <div class="slds-m-bottom_xx-small">
                        <label>Recipient</label>
                    </div>
                    <lightning-input-field variant="label-hidden" required field-name="Kinship_Case__c" disabled="true"
                        value={recipient} >
                    </lightning-input-field>
                   
                    
                    <br>
                    <br>
                    <lightning-input-field variant="label-stacked" field-name="Description__c">
                    </lightning-input-field>
                    <br>
                    <lightning-input-field variant="label-hidden" required field-name="Title_IVE_Eligibility__c">
                    </lightning-input-field>
                </div>
                <!--<div class="slds-col slds-size_1-of-4">
                    <lightning-input-field variant="label-stacked" required field-name="Date_of_Receipt__c"  value={dateReceiptValue} onchange={dateReceiptValueChange}>
                    </lightning-input-field>
                    
                    <br>
                </div>-->
                <div class="slds-col slds-size_1-of-3">
                    
                    <lightning-input-field class="" variant="label-stacked" required value="Check"  field-name="Payment_Method__c" disabled>
                    </lightning-input-field>
                    <lightning-input-field class="slds-hide" field-name="Adjustment_Amount__c" value="0">
                    </lightning-input-field>
                    <lightning-input-field class="slds-hide" field-name="Invoice_Stage__c">
                    </lightning-input-field>
                    <br>
                    <lightning-input-field variant="label-stacked" style="display: none;" field-name="Report_Number__c">
                    </lightning-input-field>

                </div>             
            </div>
            <div class="slds-grid slds-border_top slds-border_bottom">
                <div class="slds-col slds-size_1-of-4">
                    <div>
                        <div class="slds-m-bottom_xx-small">
                            <label>Special Welfare Account Balance</label>
                        </div>
                        <lightning-formatted-number value={remainginBalance} format-style="currency" currency-code="USD"></lightning-formatted-number>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <div>
                        <div class="slds-m-bottom_xx-small">
                            <label>Child Support Funds Remaining</label>
                        </div>
                        <lightning-formatted-number value={Child_Support_Funds_Remaining} format-style="currency" currency-code="USD"></lightning-formatted-number>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <div>
                        <div class="slds-m-bottom_xx-small">
                            <label>SSA/SSI Funds Remaining</label>
                        </div>
                        <lightning-formatted-number value={SSA_SSI_Funds_Remaining} format-style="currency" currency-code="USD"></lightning-formatted-number>
                    </div>
                </div>
            </div>
            <template if:false={hideFilter}>
            <div class="slds-col slds-size_1-of-5" style="padding-top:1%;">
                <!-- Brand variant: Identifies the primary action in a group of buttons -->
                <lightning-button variant="brand" label="Show Filter" title="Show Filter" onclick={showFilters}
                    ></lightning-button>
            </div>
            
        </template>

            <template if:true={showFilter}> 
            <lightning-card title="Search Paid Invoices">
              
                <div class="slds-grid">
                    <!--<div class="slds-col slds-size_1-of-5">
                        <lightning-input-field variant="label-stacked" field-name="Accounting_Period__c" onchange={accountingPeriodChange} value={accountingPeriodValue}
                            >
                        </lightning-input-field>
                    </div>-->
                    <div class="slds-col slds-size_1-of-5">
                        <lightning-input type="date" name="input2" label="Payment Start Date" onchange={StartDateHandle} value={startDate}>
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-5">
                        <lightning-input type="date" name="input1" label="Payment End Date" onchange={EndDateHandle} value={endDate}>
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-5" style="padding-top: 27px;">
                        <!-- Brand variant: Identifies the primary action in a group of buttons -->
                        <lightning-button variant="brand" label="Search" title="Search" onclick={searchByFilter}
                            class="slds-m-left_x-small"></lightning-button>

                    </div>
                   
                </div>
                 <div class="slds-col slds-size_1-of-5" style="padding-top:1%;">
                <!-- Brand variant: Identifies the primary action in a group of buttons -->
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-button variant="brand" label="Hide Filter" title="Hide Filter" onclick={hideFilters}
                    ></lightning-button>
                    </div>
                    
                    
                </div>
             
            </lightning-card>
        </template>  
        <!--<div class="" style="padding-top: 2%; margin-right:40%; margin-bottom:1%; border:2px solid green;">
            <b>Total Amount: </b><lightning-formatted-number value={totalRefundAmount} format-style="currency" currency-code="USD" class="slds-file__text slds-truncate"></lightning-formatted-number>
        </div>-->
        </lightning-record-edit-form>
        <div  style="padding-top: 1%; padding-bottom: 1%; width:72%; margin-bottom:1%;">
            <div class="" style="padding-top: 2%; text-align: right; ">
                <b>Total Amount: </b><lightning-formatted-number value={totalRefundAmount} format-style="currency" currency-code="USD" class="slds-file__text slds-truncate"></lightning-formatted-number>
            </div>
        </div>
        <!--<div style="max-height: auto;">-->
            
           <!-- <lightning-datatable key-field="Id" 
                data={vendorInvoicesData} 
                hide-checkbox-column
                onrowselection={getSelectedInvoice}
                 oncellchange={handleEditCellChange}
                  onsave={handleTableSave} 
                  columns={vendorInvoiceColumns}>
            </lightning-datatable>-->
           <div>
            <c-custom-data-table 
                key-field="Id" 
                data={vendorInvoicesData} 
                columns={vendorInvoiceColumns} 
                onpicklistchanged={picklistChanged} 
                onvalueselect={handleSelection}
                draft-values={draftValues} 
                oncellchange={handleEditCellChange}
                onsave={handleTableSave}
                oncancel={handleCancel}
                onrowselection={getSelectedInvoice}
                suppressbottombar={sbr}
                hide-checkbox-column
                wrap-text-max-lines = '3'>
                <!-- <div class="slds-col slds-size_1-of-5 slds-float_right" style="padding-top: 5%;">
                    <b style="margin-left: 37%;">Total Amount: </b><span class="slds-file__text slds-truncate">${totalRefundAmount}</span>
                </div> -->
            </c-custom-data-table>
            </div>
        <!--</div>-->  
    </lightning-card>
    <div class="slds-col slds-size_1-of-1 slds-float_right slds-hide" style="margin-bottom: 255%;">
        <b style="margin-left: 63%;">Total Amount: </b><lightning-formatted-number value={totalRefundAmount} format-style="currency" currency-code="USD" class="slds-file__text slds-truncate"></lightning-formatted-number>
    </div>
    <template if:true={closModal}>
        <section  role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal  slds-align_absolute-center slds-fade-in-open" style=" height: 50%; width:50%;">
            <div class="slds-modal__container" style="background-color:  rgb(212, 212, 212); height: 50%; width:75%;">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header" style="background-color:  rgb(212, 212, 212); position: absolute; top: 0; width:100%">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeCreateNewModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small" style="background-color:  rgb(212, 212, 212);">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                        Edit Title IV-E Eligibility  </h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <lightning-record-edit-form class="slds-m-top_large" record-id={recipient} object-api-name="Kinship_Case__c"
                    onsuccess={handleSuccess} onsubmit ={handleSubmit} style="background-color:  rgb(212, 212, 212);">
                    <div class="slds-size_2-of-3" >
                    <lightning-input-field variant="label-stacked" onchange={changeHandler} field-name="Title_IVE_Eligibility__c">
                    </lightning-input-field></div>
                    <div class="slds-align_absolute-center slds-m-top_large">
                    <lightning-button class="slds-m-top_medium slds-m-right_medium " variant="brand"  type="submit" name="update" label="Update">
                    </lightning-button>
                    <lightning-button class="slds-m-top_medium " onclick={closeCreateNewModal} variant="neutral" name="cancel" label="Cancel">
                    </lightning-button>
                    </div>
            </lightning-record-edit-form>
            
        </div>
        </section>
        </template>

</template>