.model-width {
    width: 90% !important;
    max-width: 90% !important;
}
.model-width2 {
    width: 90% !important;
    max-width: 90% !important;
}
.slds-col{
    padding: 5px;
}
.model-widthofCAT {
    width: 90% !important;
    max-width: 90% !important;
}
.sub-list-td {
    background-color: #dddbda;
    padding: 10px;
    padding-left: 50px;
}

.sub-list-td:hover {
    background-color: #dddbda;
}

.sub-list-container {
    padding: 10px;
    background: white;
}

.model-footer{
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 13px;
}

.model-conter-body{
    max-height: 200px;
    display: table;
    margin: auto;
}

.model-conter-body2{
    max-height: 600px;
    display: table;
    margin: auto;
}
.model-container-div{
    min-height: 500px;
}
.slds-card__header.slds-grid{
    padding: 10px!important;
}
.testone{
    pointer-events: none;
    color: #333;
    border: 1px solid #666;
    background: red;
 }
.slds-is-absolute {
    position: inherit!important;
}