.THIS button.slds-button_brand{
    background-color: #0070D2;
}

.THIS .groupbroder{
    border: 1px solid #E2E0DF;
    padding-top: 12px;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.THIS .divcenter{
    align-content: center;
    display: table;
    height: 32px;
    font-weight: bold;
}

.THIS .spancenter{
    vertical-align: middle;
    display: table-cell;
}

.THIS .modelwidth{
    width: 80%;
    max-width: 100rem;
}

.THIS .datawidth{
    /*max-width:600px;*/
}

.THIS .datainputwidth{
    width:100px;
}