<template>
    <lightning-input style="background-color:#ffffff;"
        type="file"
        label="Update Check"
        onchange={handleFilesChange}
        accept={acceptedFormats}
    >
    </lightning-input>
</template>