.title-font-size lightning-output-field lightning-formatted-text{
    font-size: 20px;
}

.title-icon lightning-primitive-icon svg {
    position: relative;
    margin-left: 5px;
    color: orange;
    fill: rgb(1, 118, 211);
}