<template>
        <lightning-layout-item size="4">
            <div class="slds-media slds-p-around_x-small slds-p-top_x-small slds-p-right_x-small slds-p-bottom_x-small slds-p-left_x-small slds-theme_inverse slds-media_center slds-media_small slds-theme_shade">
                <div class="slds-media__figure"></div>
                <div class="slds-media__body">
                    <div class="slds-text-heading_small">{designdata.heading}</div>
                </div>
                <div class="slds-media__figure slds-media__figure_reverse"></div>
            </div>
            <div class="slds-border_right slds-border_bottom slds-border_left">
                <template for:each={designdata.link} for:item='linkData' for:index='linkIndex'>
                    <div key={linkData}>
                        <div class="slds-media slds-m-around_x-small slds-m-top_x-small slds-m-right_x-small slds-m-bottom_x-small slds-m-left_small slds-media_center">
                            <div class="slds-media__figure">
                                <lightning-avatar alternative-text="" fallback-icon-name={linkData.iconName} size="x-small" src="" variant="square"></lightning-avatar>
                            </div>
                            <div class="slds-media__body"><a target="_blank" class="slds-text-link" href="" style="font-size: 0.75rem;">{linkData.linkName}</a></div>
                            <div class="slds-media__figure slds-media__figure_reverse"></div>
                        </div>
                    </div>
                </template>
            </div>
        </lightning-layout-item>
</template>