.backgroundcolor.THIS{
    background-color: #E2E5ED;
}
.THIS .backgroundcolor{
    background-color: #E2E5ED;
}

.THIS .closebtn{
    width: 3rem;
    height: 3rem;
    top: -2.25rem;
    right: -1.25rem;
}

.THIS .donationowbtn{
    width: 100%;
    height:150px;
}

.THIS .nopadding{
    padding: 0px !important;
}

.THIS .nopaddinghead{
    padding: 0px !important;
    border-bottom: 0px !important;
}

.marginbtn.THIS {
    margin-top: 1rem;
}

.chattercontain.THIS{
    min-height: 80%;
    flex-direction: column;
}