<template>
    <template if:true={linkData.isEmpty}>
        <div class="slds-media slds-m-around_x-small slds-m-top_x-small slds-m-right_x-small slds-m-bottom_x-small slds-m-left_small slds-media_center" style='height:32px'></div>   
    </template>
    <template if:false={linkData.isEmpty}>
        <div
        class="slds-media slds-m-around_x-small slds-m-top_x-small slds-m-right_x-small slds-m-bottom_x-small slds-m-left_small slds-media_center">
        <div class="slds-media__figure">
            <lightning-avatar alternative-text="" fallback-icon-name={linkData.iconName} size="x-small"
                src="" variant="square"></lightning-avatar>
        </div>
        <div class="slds-media__body">
            <button class="slds-button" onclick={handleNavigate}>{linkData.text}</button>
        </div>
        <div class="slds-media__figure slds-media__figure_reverse"></div>
    </div>
    </template>
</template>