<template>
        <!--<lightning-record-form object-api-name="CSA_Meeting_Agenda__c" record-id={recordId} 
    fields={fields} columns="2" mode={displayType} onsubmit={handleSubmit} onsuccess={handleSuccess} > 
    </lightning-record-form>-->
        <div class="" style="background-color: white;">
                <lightning-card variant="Narrow"  title="Joint Team Meeting" icon-name="standard:account">         
                <div class="slds-p-around_small " style="padding-bottom: 5px !important;">
                        <template if:true={isShowToast}>
                                <div class="demo-only"
                                        style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
                                        <div class="slds-notify_container slds-is-relative">
                                                <div class={toastType} role="status">
                                                        <span class="slds-assistive-text">error</span>
                                                        <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                                                                title="Description of icon when needed">
                                                                <lightning-icon icon-name={toastIcon} variant="inverse"
                                                                        size="small" alternative-text="error"
                                                                        title="Error">
                                                                </lightning-icon>
                                                        </span>
                                                        <div class="slds-notify__content">
                                                                <h2 class="slds-text-heading_small ">
                                                                        {title}
                                                                </h2>
                                                                <p>
                                                                        {message}
                                                                </p>
                                                        </div>
                                                        <div class="slds-notify__close">
                                                                <button class="slds-button slds-button_icon slds-button_icon-inverse"
                                                                        title="Close" onclick={closeToast}
                                                                        type="button">
                                                                        <lightning-icon icon-name="utility:close"
                                                                                variant="inverse" size="small"
                                                                                alternative-text="close" title="close">
                                                                        </lightning-icon>
                                                                        <span class="slds-assistive-text">Close</span>
                                                                </button>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                        </template>
<template if:true={isRecordCreated}>
                                <div style="text-align: right;margin-bottom: 15px;">
                                        <!-- <lightning-button label="Add Agenda Item" slot="actions" variant="brand"
                                                title="Non-primary action" onclick={handleClickItem} class="">
                                        </lightning-button> 
                                        <lightning-button label="Chatter" slot="actions" variant="brand"
                                                        title="Non-primary action" onclick={handleChatter} class="">
                                        </lightning-button> &nbsp; -->
                                        <template if:false={isMeetingCancel}>
                                                <lightning-button label="Cancel Meeting" slot="actions" variant="brand"
                                                        title="Non-primary action" onclick={CancelMeetingClick} class="">
                                                </lightning-button> &nbsp;
                                                <lightning-button label="Send Notification" slot="actions" variant="brand"
                                                        title="Non-primary action" onclick={handleSendEmailClick} class="">
                                                </lightning-button> &nbsp;
                                        </template>


</div>

<lightning-record-view-form object-api-name="CSA_Meeting_Agenda__c" record-id={agentid} columns="2">
    <div class="slds-form" role="list">
        <div class="slds-form__row">
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Joint Agenda
                                                                                                            Name</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-output-field variant="label-hidden" field-name='Name'>
                            </lightning-output-field>
                        </div>
                        <template if:false={isMeetingCancel}>
                                                                <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                                                                </lightning-button-icon>
                                                            </template>

                    </div>
                </div>
            </div>
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Meeting Start Time</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-output-field variant="label-hidden" field-name='Meeting_Start3_Time__c'>
                            </lightning-output-field>
                        </div>
                        <template if:false={isMeetingCancel}>
                            <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                            </lightning-button-icon>
                             </template>

                    </div>
                </div>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Meeting Date</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-output-field variant="label-hidden" field-name='Meeting_Date__c'>
                            </lightning-output-field>
                        </div>
                        <template if:false={isMeetingCancel}>
                        <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                        </lightning-button-icon>
                </template>

                    </div>
                </div>
            </div>
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Meeting End Time</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-output-field variant="label-hidden" field-name='Meeting_End_Time2__c'>
                            </lightning-output-field>
                        </div>
                        <template if:false={isMeetingCancel}>
                                <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                                </lightning-button-icon>
                                 </template>

                    </div>
                </div>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Team</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-output-field variant="label-hidden" field-name='Team__c'>
                            </lightning-output-field>
                        </div>
                        <template if:false={isMeetingCancel}>
                        <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                        </lightning-button-icon>
                </template>

                    </div>
                </div>
            </div>
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Meeting Status</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <template if:false={isMeetingCancel}>
                                        <lightning-output-field variant="label-hidden" field-name='Meeting_Status__c'>
                                        </lightning-output-field>
                                </template>

                            <template if:true={isMeetingCancel}>
                                        Cancelled
                                </template>
                        </div>
                        <template if:false={isMeetingCancel}>
                        <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                        </lightning-button-icon>
                </template>

                    </div>
                </div>
            </div>
        </div>
        <div class="slds-form__row">
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Location of Meeting</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-output-field variant="label-hidden" field-name='Location_of_Meeting__c'>
                            </lightning-output-field>

                        </div>
                        <template if:false={isMeetingCancel}>
                                <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                                </lightning-button-icon>
                        </template>

                    </div>
                </div>
            </div>
            <div class="slds-form__item" role="listitem">
                <div class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                    <span class="slds-form-element__label">Review Type</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-output-field variant="label-hidden" field-name='Review_Type__c'>
                            </lightning-output-field>
                        </div>
                        <template if:false={isMeetingCancel}>
                        <lightning-button-icon onclick={edistAgentHandle} icon-name="utility:edit" class="slds-button slds-button_icon" variant="bare" alternative-text="edit" title="edit">
                        </lightning-button-icon>
                </template>

                    </div>
                </div>
            </div>
        </div>


    </div>

</lightning-record-view-form>
</template>


<template if:false={isRecordCreated}>
        <lightning-record-edit-form class="agendaForm1" mode=[displayType] object-api-name="CSA_Meeting_Agenda__c"
                record-id={recordId} onsuccess={handleSuccess} onsubmit={handleSubmit}
                columns="2">
                <lightning-messages></lightning-messages>
                <div class="slds-m-around_medium">
                        <template if:false={eixstingMembers}>
                                <div class="slds-grid">
                                        <div class="slds-col slds-size_1-of-2">
                                                <lightning-input-field required field-name='Name'>
                                                </lightning-input-field>
                                                <lightning-input-field required
                                                        field-name='Meeting_Date__c' value={eventdate}>
                                                </lightning-input-field>
                                                <lightning-input-field required
                                                        field-name='Team__c' onchange={handleChange}>
                                                </lightning-input-field>
                                                <lightning-input-field field-name='Location_of_Meeting__c'>
                                                </lightning-input-field>
                                        </div>
                                        <div class="slds-col slds-size_1-of-2"
                                                style="padding-right: 5px;">
                                                <lightning-input-field required
                                                        field-name='Meeting_Start3_Time__c' value={starttime}>
                                                </lightning-input-field>
                                                <lightning-input-field required
                                                        field-name='Meeting_End_Time2__c' value={endtime}>
                                                </lightning-input-field>
                                                <lightning-input-field field-name='Meeting_Status__c'>
                                                </lightning-input-field>
                                                <lightning-input-field field-name='Review_Type__c'>
                                                </lightning-input-field>
                                        </div>
                                </div>
                        </template>
                        <template if:true={teamMembers}>
                                <template if:false={eixstingMembers}>
                                        <lightning-card title="Choose Team Members">
                                                <div style="text-align: right;margin-bottom: 15px;">
                                                </div>
                                                <div style="height: auto;max-height: 300px;overflow-y: scroll;">
                                                        <lightning-datatable key-field="Contact__c"
                                                                data={teamMemabersList}
                                                                columns={columns}
                                                                selected-rows={memberList}
                                                                onrowselection={handleSelectMember}>
                                                        </lightning-datatable>
                                                </div>
                                        </lightning-card>
                                </template>
                                
                                
                        </template>
                        <template if:false={eixstingMembers}>
                                <div class="slds-m-top_medium slds-m-bottom_large" style="text-align: center;">
                                        <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel" onclick={handleReset}></lightning-button>
                                        <lightning-button variant="brand" type="submit" name="save" label="Save">
                                        </lightning-button>
                                </div>
                        </template>

                </div>
        </lightning-record-edit-form>
</template>

<template if:true={eixstingMembers}>
        <lightning-record-edit-form mode=[displayType] object-api-name="CSA_Meeting_Agenda__c"
                record-id={recordId} onsuccess={handleSuccess} onsubmit={handleSubmit}
                columns="2">
                <lightning-messages></lightning-messages>
                <div class="slds-m-around_medium">
                
                        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                                <div class="slds-modal__container">
                                        <header class="slds-modal__header">
                                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseModal}>
                                                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                                        </svg>
                                                        <span class="slds-assistive-text">Close</span>
                                                </button>
                                                <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Choose Team Members</h2>
                                        </header>
                                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                                                <div style="height: auto;max-height: 300px;overflow-y: scroll;">
                                                        <lightning-datatable key-field="Contact__c"
                                                                data={teamMemabersList}
                                                                columns={columns}
                                                                selected-rows={listOfMember}
                                                                onrowselection={handleSelectMember}>
                                                        </lightning-datatable>
                                                </div>
                                        </div>
                                        <footer class="slds-modal__footer">
                                                <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel" onclick={handleCloseModal}></lightning-button>
                                                <lightning-button variant="brand" type="submit" name="save" label="Save">
                                                </lightning-button>
                                        </footer>
                                </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                      
                </div>
        </lightning-record-edit-form>
</template>

<template if:true={isRecordCreated}>
                                <template if:true={isModalOpen}>
                                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
                                                aria-modal="true" aria-describedby="modal-content-id-1"
                                                class="slds-modal slds-fade-in-open">
                                                <div class="slds-modal__container model-width">
                                                        <!-- Modal/Popup Box LWC header here -->
                                                        <header class="slds-modal__header">
                                                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                                        title="Close" onclick={closeModal}>
                                                                        <lightning-icon icon-name="utility:close"
                                                                                alternative-text="close"
                                                                                variant="inverse" size="small">
                                                                        </lightning-icon>
                                                                        <span class="slds-assistive-text">Close</span>
                                                                </button>
                                                                <h2 id="modal-heading-01"
                                                                        class="slds-text-heading_medium slds-hyphenate">
                                                                        Add Agenda Items</h2>
                                                        </header>
                                                        <!-- Modal/Popup Box LWC body starts here -->
                                                        <div class="slds-modal__content slds-p-around_medium"
                                                                id="modal-content-id-1">
                                                                <c-add-agenda-items agent-id={agentid} 
                                                                        record-id={selecteditem} 
                                                                        is-update={isUpdate} oncloseaddagenda={closeModal} >
                                                                </c-add-agenda-items>
                                                        </div>

                                                </div>
                                        </section>
                                        <div class="slds-backdrop slds-backdrop_open"></div>
                                </template>
<template if:true={isTeamModalOpen}>
                                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
                                                aria-modal="true" aria-describedby="modal-content-id-1"
                                                class="slds-modal slds-fade-in-open">
                                                <div class="slds-modal__container model-width">
                                                        <!-- Modal/Popup Box LWC header here -->
                                                        <header class="slds-modal__header">
                                                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                                        title="Close" onclick={closeModal2}>
                                                                        <lightning-icon icon-name="utility:close"
                                                                                alternative-text="close"
                                                                                variant="inverse" size="small">
                                                                        </lightning-icon>
                                                                        <span class="slds-assistive-text">Close</span>
                                                                </button>
                                                                <h2 id="modal-heading-11"
                                                                        class="slds-text-heading_medium slds-hyphenate">
                                                                        Add Member</h2>
                                                        </header>
                                                        <!-- Modal/Popup Box LWC body starts here -->
                                                        <div class="slds-modal__content slds-p-around_medium"
                                                                id="modal-content-id-12">
                                                                <c-add-team-member agentid={agentid}                                                                     
                                                                        is-update={isUpdate}
                                                                        teamid ={teamID} oncloseaddteammember={closeModal2}>
                                                                </c-add-team-member>
                                                        </div>

                                                </div>
                                        </section>
                                        <div class="slds-backdrop slds-backdrop_open"></div>
                                </template>


<template if:true={isExtTeamModalOpen}>
                                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
                                                aria-modal="true" aria-describedby="modal-content-id-1"
                                                class="slds-modal slds-fade-in-open">
                                                <div class="slds-modal__container model-width">
                                                        <!-- Modal/Popup Box LWC header here -->
                                                        <header class="slds-modal__header">
                                                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                                        title="Close" onclick={closeModal3}>
                                                                        <lightning-icon icon-name="utility:close"
                                                                                alternative-text="close"
                                                                                variant="inverse" size="small">
                                                                        </lightning-icon>
                                                                        <span class="slds-assistive-text">Close</span>
                                                                </button>
                                                                <h2 id="modal-heading-13"
                                                                        class="slds-text-heading_medium slds-hyphenate">
                                                                        Add Contact as Member</h2>
                                                        </header>
                                                        <!-- Modal/Popup Box LWC body starts here -->
                                                        <div class="slds-modal__content slds-p-around_medium"
                                                                id="modal-content-id-14">
                                                                <c-add-member agentid={agentid}                                                                     
                                                                teamid ={teamID} oncloseaddteammember={closeModal3}>
                                                                </c-add-member>
                                                        </div>

                                                </div>
                                        </section>
                                        <div class="slds-backdrop slds-backdrop_open"></div>
                                </template>
<div class="slds-m-top_large">
    <lightning-card title="Agenda Items">
        <template if:false={isMeetingCancel}>
                <lightning-button label="Add Agenda Item" slot="actions" variant="brand" title="Non-primary action" onclick={handleClickItem} class="">
                </lightning-button>
        </template>

        <div style="height: auto;max-height: 300px;">
            <lightning-datatable key-field="Id" data={relatedItems} hide-checkbox-column onrowaction={handleitemRowAction} sorted-direction={sortDirection} onsort={onHandleSort} sorted-by={sortedBy} columns={Itemcolumns}>
            </lightning-datatable>
        </div>
    </lightning-card>


</div>
<div class="slds-m-top_large">
    <lightning-card title="Team Members">
        <template if:false={isMeetingCancel}>
                <lightning-button style="margin-right:5px" label="Add Existing" slot="actions" variant="brand" title="Non-primary action" onclick={handleAddExistingMemberClickItem} class=""></lightning-button>
                <lightning-button style="margin-right:5px" label="Create New" slot="actions" variant="brand" title="Non-primary action" onclick={handleMemberClickItem} class="">
                </lightning-button> &nbsp;
                <lightning-button style="margin-right:5px" label="Add Contact" slot="actions" variant="brand" title="Non-primary action" onclick={handleExistingMemberClickItem} class="">
                </lightning-button> &nbsp;
        </template>

        <div style="height: auto;">
            <lightning-datatable key-field="Id" data={relatedTeams} hide-checkbox-column onrowaction={handleteamRowAction} columns={Teamcolumns}>
            </lightning-datatable>
        </div>
    </lightning-card>


</div>
</template>
</div>
<template if:true={showDeleteConfirm}>
                        <!-- Modal/Popup Box LWC starts here -->
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                <div class="slds-modal__container">
                                        <!-- Modal/Popup Box LWC header here -->
                                        <header class="slds-modal__header">
                                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                        title="Close" type="button" onclick={closesDeleteConfirm}>
                                                        <lightning-icon icon-name="utility:close"
                                                                alternative-text="close" variant="inverse" size="small">
                                                        </lightning-icon>
                                                        <span class="slds-assistive-text">Close</span>
                                                </button>
                                                <h2 id="modal-heading-03"
                                                        class="slds-text-heading_medium slds-hyphenate">
                                                        Delete Item</h2>
                                        </header>
                                        <!-- Modal/Popup Box LWC body starts here -->
                                        <div class="slds-modal__content slds-p-around_medium slds-text-align_center"
                                                id="modal-content-id-3">
                                                <div>
                                                        Are you sure you want to delete this Item?
                                                </div>
                                                <div class="slds-m-top_small">
                                                        <button class="slds-button slds-button_neutral"
                                                                onclick={closesDeleteConfirm} title="Cancel"
                                                                type="button">Cancel</button>
                                                        <button class="slds-button slds-button_brand"
                                                                onclick={deleteitemHandle} title="OK"
                                                                type="button">Yes</button>
                                                </div>

                                        </div>
                                </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                </template>

<template if:true={showteamDeleteConfirm}>
                        <!-- Modal/Popup Box LWC starts here -->
                        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                <div class="slds-modal__container">
                                        <!-- Modal/Popup Box LWC header here -->
                                        <header class="slds-modal__header">
                                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                        title="Close" type="button" onclick={closeTeamDeleteConfirm}>
                                                        <lightning-icon icon-name="utility:close"
                                                                alternative-text="close" variant="inverse" size="small">
                                                        </lightning-icon>
                                                        <span class="slds-assistive-text">Close</span>
                                                </button>
                                                <h2 id="modal-heading-04"
                                                        class="slds-text-heading_medium slds-hyphenate">
                                                        Remove Member</h2>
                                        </header>
                                        <!-- Modal/Popup Box LWC body starts here -->
                                        <div class="slds-modal__content slds-p-around_medium slds-text-align_center"
                                                id="modal-content-id-4">
                                                <div>
                                                        Are you sure you want to remove this member?
                                                </div>
                                                <div class="slds-m-top_small">
                                                        <button class="slds-button slds-button_neutral"
                                                                onclick={closeTeamDeleteConfirm} title="Cancel"
                                                                type="button">Cancel</button>
                                                        <button class="slds-button slds-button_brand"
                                                                onclick={deleteteamHandle} title="OK"
                                                                type="button">Yes</button>
                                                </div>

                                        </div>
                                </div>
                        </section>
                        <div class="slds-backdrop slds-backdrop_open"></div>
                </template>


<template if:true={showCancelConfirm}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                        title="Close" type="button" onclick={closeCancelConfirm}>
                                        <lightning-icon icon-name="utility:close"
                                                alternative-text="close" variant="inverse" size="small">
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-5"
                                        class="slds-text-heading_medium slds-hyphenate">
                                        Cancel Meeting</h2>
                        </header>
                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content slds-p-around_medium slds-text-align_center"
                                id="modal-content-id-5">
                                <div>
                                        Are you sure you want to cancel this meeting?
                                </div>
                                <div class="slds-m-top_small">
                                        <button class="slds-button slds-button_neutral"
                                                onclick={closeCancelConfirm} title="Cancel"
                                                type="button">Cancel</button>
                                        <button class="slds-button slds-button_brand"
                                                onclick={handleCancelMeetingClick} title="OK"
                                                type="button">Yes</button>
                                </div>

                        </div>
                </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
</template>
</lightning-card>
<!--
<c-chatterfeed></c-chatterfeed>
-->
</div>
</template>