<template>
    <lightning-card>
        <div style="width: 80%;">
			<template if:true={isShowToast}>
				<div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
					<div class="slds-notify_container slds-is-relative">
						<div class={toastType} role="status">
							<span class="slds-assistive-text">error</span>
							<span
								class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
								title="Description of icon when needed">
								<lightning-icon icon-name={toastIcon} variant="inverse" size="small"
									alternative-text="error" title="Error">
								</lightning-icon>
							</span>
							<div class="slds-notify__content">
								<h2 class="slds-text-heading_small ">
									{title}
								</h2>
								<p>
									{message}
								</p>
							</div>
							<div class="slds-notify__close">
								<button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close"
									onclick={closeToast} type="button">
									<lightning-icon icon-name="utility:close" variant="inverse" size="small"
										alternative-text="close" title="close">
									</lightning-icon>
									<span class="slds-assistive-text">Close</span>
								</button>
							</div>
						</div>
					</div>
				</div>

			</template>
            <template if:false={isshowcoa}>
                <lightning-record-edit-form object-api-name="Category__c"
                                            layout-type="Full"
                                            columns="2"
                                            record-type-id={recordtypeid}
                                            onsubmit={handlCateSubmit}
                                            onsuccess={handleCateCreateSuccess}
                                            oncancel={createCateNewCancel}
                                            onerror={handleCateError}>
                    <template if:true={islaser}>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								Information
							</div>
							<div class="slds-col slds-size_1-of-2">
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Name" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Category_Account_Description__c"></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Locality_Account__c" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Category_Type__c" required></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Programs__c"></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="Inactive__c"></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								LASER Information
							</div>
							<div class="slds-col slds-size_1-of-2">
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="LASER_Cost_Code__c" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="LASER_Account_Code__c" required></lightning-input-field>
							</div>
                        </div>
                    </template>

                    <template if:true={isledrs}>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								Information
							</div>
							<div class="slds-col slds-size_1-of-2">
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Name" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Category_Account_Description__c"></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Locality_Account__c" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Category_Type__c" required></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="CSA_Category__c" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="FIPS_Code__c" required></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Programs__c"></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="Inactive__c"></lightning-input-field>
							</div>
                        </div>
                    </template>

                    <template if:true={islocal}>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								Information
							</div>
							<div class="slds-col slds-size_1-of-2">
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Name" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Category_Account_Description__c"></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Locality_Account__c" required></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Category_Type__c" required></lightning-input-field>
							</div>
                        </div>
                        <div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Programs__c"></lightning-input-field>
							</div>
							<!--<div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="Special_Welfare_Reimbursement_Vendor__c"></lightning-input-field>
							</div> -->
						</div>
						<div class="slds-grid slds-gutters">
							<div class="slds-col slds-size_1-of-2">
								<lightning-input-field field-name="Inactive__c"></lightning-input-field>
							</div>
							<div class="slds-col slds-size_1-of-2">
                                
							</div>
                        </div>
					</template>
					<div class="slds-m-top_medium" style="text-align: center;">
						<lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
							onclick={handleReset}></lightning-button>
						<lightning-button variant="brand" type="submit" name="save" label="Save">
						</lightning-button>
					</div>
                </lightning-record-edit-form>
            </template>
            <template if:true={isshowcoa}>
                <lightning-record-edit-form
                    object-api-name="Chart_of_Account__c"
                    layout-type="Full"
                    columns="2"
                    onsubmit={handlCOASubmit}
                    onsuccess={handleCOACreateSuccess}
					oncancel={createCOANewCancel}
					onerror={handleCOAError}>

					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							Information
						</div>
						<div class="slds-col slds-size_1-of-2">
						</div>
					</div>
					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input-field field-name="Cost_Center__c" required></lightning-input-field>
						</div>
						<div class="slds-col slds-size_1-of-2">
							<lightning-input-field field-name="FIPS__c"></lightning-input-field>
						</div>
					</div>
					<div class="slds-grid slds-gutters">
						<div class="slds-col slds-size_1-of-2">
							<lightning-input-field field-name="Locality_Account__c" value={localityAccount} required disabled></lightning-input-field>
						</div>
						<div class="slds-col slds-size_1-of-2">
						</div>
					</div>
					<div class="slds-m-top_medium" style="text-align: center;">
						<lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
							onclick={handleReset}></lightning-button>
						<lightning-button variant="brand" type="submit" name="save" label="Save">
						</lightning-button>
					</div>
                </lightning-record-edit-form>
            </template>
        </div>
	</lightning-card>
	<template if:true={showLoader}>
		<div class="demo-only" style="position: initial;">
			<div class="slds-spinner_container">
				<div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
					<span class="slds-assistive-text">Loading</span>
					<div class="slds-spinner__dot-a"></div>
					<div class="slds-spinner__dot-b"></div>
				</div>
			</div>
		</div>
	</template>
</template>