<template>
    <template if:true={isShowToast}>
        <div class="demo-only" style="height:4rem;position: fixed;width: 100%;z-index: 9999;top: 40px;">
            <div class="slds-notify_container slds-is-relative">
                <div class={toastType} role="status">
                    <span class="slds-assistive-text">error</span>
                    <span
                        class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top"
                        title="Description of icon when needed">
                        <lightning-icon icon-name={toastIcon} variant="inverse" size="small" alternative-text="error"
                            title="Error">
                        </lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">
                            {title}
                        </h2>
                        <p>
                            {message}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </template>

    <div style="position: relative;">

        {opportunityId}
        <lightning-record-edit-form object-api-name="Payment__c" record-type-id={recordTypeIdStr}
            record-id={selectedInvoice}>
            <template if:false={isView}>

                <div class="slds-grid slds-gutters">

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Vendor__c" required value={vendor} onchange={vendorChange}>
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field style="display:none;" field-name="Accounting_Period__c"
                            value={parentfiscalyearid}>
                        </lightning-input-field>

                        <template if:false={disablePM}>
                            <lightning-input-field field-name="Invoice_Number__c" value={invoiceNumber}
                                onchange={invoiceNumberChange}>
                            </lightning-input-field>
                        </template>
                        <lightning-input-field field-name="Payment_Method__c" disabled={disablePM} required
                            value={paymentMethod} onchange={paymentMethodChange}>
                        </lightning-input-field>
                    </div>
                </div>
                <div>
                    <span class="slds-form-element__label"><abbr class="slds-required"
                            title="required">*</abbr>Adjustment Date</span>
                    <div class="slds-form-element__control">
                        <div class="slds-form-element__static">
                            <lightning-input-field required field-name="Payment_Date__c" variant="label-hidden"
                                value={paymentDate} onchange={paymentDateChange}>
                            </lightning-input-field>
                        </div>
                    </div>
                </div>
                <template if:false={disablePM}>
                    <lightning-input-field variant=label-stacked field-name="Description__c" value={description}
                        onchange={descriptionChange}>
                    </lightning-input-field>
                </template>
                <template if:true={disablePM}>
                    <lightning-input-field variant=label-stacked required field-name="Description__c"
                        value={description} onchange={descriptionChange}>
                    </lightning-input-field>
                </template>

            </template>

        </lightning-record-edit-form>
        <template for:each={itemList} for:item="item" for:index="index">
            <lightning-record-edit-form record-type-id={recordTypeIdStr} key={item.id} oncancel={invoicecancel}
                object-api-name="Payment__c" onsuccess={handleSuccess} record-id={selectedInvoice} columns="2"
                onsubmit={handleSubmit} onerror={errorHandler}>
                <lightning-messages>
                </lightning-messages>
                <template if:false={isView}>

                    <lightning-layout multiple-rows style="margin-left: -10px;">
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="4"
                            large-device-size="7" padding="around-small">
                            <c-sat-multi-select-lookup required='true' objectname="Category__c"
                                fieldnames="['Name','Category_Account_Description__c','Locality_Account_Code__c']"
                                data-id={item.id} iconname="standard:account" onselected={selectedCategory}
                                label="Category" perentselect={selectedCategoryStr} where-str={catWhereStr}
                                disabled={item.disableCat} placeholder="Search Categories...">
                            </c-sat-multi-select-lookup>
                            <lightning-input-field style="display:none;" value={selectedCate}
                                field-name="Category_lookup__c">
                            </lightning-input-field>
                            <lightning-input-field field-name="Description__c" required value={description}
                                style="display: none;">
                            </lightning-input-field>
                            <lightning-input-field field-name="Opportunity__c" style="display: none;">
                            </lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="2"
                            large-device-size="2" padding="around-small">
                            <lightning-input-field variant=label-stacked field-name="Payment_Amount__c" required
                                value={item.amoumt} data-id={item.id} onchange={paymentAmountChange}>
                            </lightning-input-field>
                            <lightning-input-field field-name="Invoice_Stage__c" value={stage} style="display: none;">
                            </lightning-input-field>
                            <lightning-input-field style="display:none;" field-name="Accounting_Period__c"
                                value={parentfiscalyearid}>
                            </lightning-input-field>
                            <lightning-input-field style="display:none;" field-name="Vendor__c" required value={vendor}>
                            </lightning-input-field>
                            <lightning-input-field required style="display:none;" field-name="Payment_Date__c"
                                value={paymentDate}>
                            </lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item size="12" small-device-size="6" medium-device-size="2"
                            large-device-size="2" padding="around-small">
                            <lightning-input-field variant=label-stacked field-name="Fund__c" value={fund}>
                            </lightning-input-field>
                            <lightning-input-field style="display:none;" field-name="Invoice_Number__c"
                                value={invoiceNumber}>
                            </lightning-input-field>

                            <lightning-input-field style="display:none;" field-name="Payment_Method__c" required
                                onchange={paymentMethodChange}>
                            </lightning-input-field>
                        </lightning-layout-item>
                        <template if:true={showAddDelete}>
                            <lightning-layout-item size="12" small-device-size="6" medium-device-size="4"
                                large-device-size="1" padding="around-small">
                                <div class="slds-p-top_medium">
                                    <lightning-icon icon-name="action:new" access-key={item.id} id={index}
                                        alternative-text="Add Row" size="xx-small" title="Add Row" onclick={addRow}>
                                    </lightning-icon>
                                    <lightning-icon icon-name="action:delete" access-key={item.id} id={index}
                                        alternative-text="Delete Row" size="xx-small" title="Delete Row"
                                        onclick={removeRow}>
                                    </lightning-icon>

                                </div>
                            </lightning-layout-item>
                        </template>
                        <template if:false={showAddDelete}>
                            <lightning-layout-item size="12" small-device-size="12" medium-device-size="12"
                                large-device-size="12" padding="around-small">
                                <lightning-file-upload label="File Attachment" name="fileUploader"
                                    accept={acceptedFormats} record-id={recordId}
                                    onuploadfinished={handleUploadFinished} multiple>
                                </lightning-file-upload>
                                <div class="slds-media__body">
                                    <!--<span class="slds-file__text slds-truncate">{fileName}</span>-->
                                    <template for:each={fileName} for:item="fname">
                                        <span key={fname} class="slds-pill slds-pill_link">
                                            <span class="slds-pill__icon_container">
                                                <lightning-icon icon-name="standard:file" alternative-text="file"
                                                    title="file"></lightning-icon>
                                            </span>
                                            <a href="#" class="slds-pill__action"
                                                title="Full pill label verbiage mirrored here">
                                                <span class="slds-pill__label">{fname}</span>
                                            </a>

                                        </span>
                                    </template>

                                </div>
                                <lightning-card title="Files">
                                    <lightning-datatable key-field="Id" data={fileData} columns={columns}
                                        hide-checkbox-column>
                                    </lightning-datatable>
                                </lightning-card>

                            </lightning-layout-item>
                            <lightning-layout-item size="12" small-device-size="12" medium-device-size="12"
                                large-device-size="12" padding="around-small" class="slds-m-top_medium"
                                style="text-align: center;">
                                <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
                                    onclick={invoicecancel}></lightning-button>
                                <lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle}
                                    data-isnext="0" type="submit" name="save" label="Save">
                                    <!--<lightning-button style="padding-right: 5px;" label="Print" slot="actions" title="Print ROC" onclick={printROC}
					                class="slds-p-left_small"></lightning-button>-->
                                </lightning-button>
                            </lightning-layout-item>
                        </template>

                    </lightning-layout>
                </template>

                <template if:true={isView}>

                    <div class="slds-grid slds-gutters">

                        <div class="slds-col slds-size_1-of-2">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Vendor__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Payment_Method__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Payment_Date__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                                <div class="slds-form-element__control">
                                    <lightning-output-field field-name="Invoice_Stage__c">
                                    </lightning-output-field>
                                </div>
                                <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                    class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                    title="edit">
                                </lightning-button-icon>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Accounting_Period__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>

                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Payment_Amount__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>
                            <div
                                class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">

                                <div class="slds-form-element__control">
                                    <div class="slds-form-element__static">
                                        <lightning-output-field field-name="Category_lookup__c">
                                        </lightning-output-field>

                                    </div>
                                    <lightning-button-icon onclick={showEditHandle} icon-name="utility:edit"
                                        class="slds-button slds-button_icon" variant="bare" alternative-text="edit"
                                        title="edit">
                                    </lightning-button-icon>

                                </div>
                            </div>


                        </div>
                    </div>
                    <lightning-output-field field-name="Description__c">
                    </lightning-output-field>

                </template>

            </lightning-record-edit-form>
        </template>
        <template if:true={showAddDelete}>
            <template if:true={showTotalAmount}>
                <div class="slds-media__body" style="text-align: center;margin-left: 335px;">
                    <b>Total Amount: </b><span class="slds-file__text slds-truncate">${getTotalAmountFun}</span>
                </div>
            </template>
        </template>

        <template if:true={showAddDelete}>
            <lightning-layout>
                <lightning-file-upload label="File Attachment" name="fileUploader" accept={acceptedFormats}
                    record-id={recordId} onuploadfinished={handleUploadFinished} multiple>
                </lightning-file-upload>
                <div class="slds-media__body" style="padding-top: 60px;margin-left: -222px;">
                    <template for:each={fileName} for:item="fname">
                        <span key={fname} class="slds-pill slds-pill_link">
                            <span class="slds-pill__icon_container">
                                <lightning-icon icon-name="standard:file" alternative-text="file" title="file">
                                </lightning-icon>
                            </span>
                            <a href="#" class="slds-pill__action" title="Full pill label verbiage mirrored here">
                                <span class="slds-pill__label">{fname}</span>
                            </a>

                        </span>
                    </template>

                </div>

            </lightning-layout>


            <template if:false={showFile}>
                <lightning-card title="Files">
                    <lightning-datatable key-field="Id" data={fileData} columns={columns} hide-checkbox-column>
                    </lightning-datatable>
                </lightning-card>

            </template>
        </template>
        <template if:true={showAddDelete}>
            <div class="slds-m-top_medium" style="text-align: center;">
                <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
                    onclick={invoicecancel}></lightning-button>
                <lightning-button style="padding-right: 5px;" variant="brand" onclick={saveOrNextHandle} data-isnext="0"
                    type="submit" name="save" label="Save">
                </lightning-button>
                <template if:false={isUpdate}>
                    <lightning-button variant="brand" type="submit" name="new" onclick={saveOrNextHandle}
                        data-isnext="1" label="Save and New">
                    </lightning-button>
                </template>
                <!--<lightning-button style="padding-right: 5px;" label="Print" slot="actions" title="Print ROC" onclick={printROC}
					                class="slds-p-left_small"></lightning-button>-->
            </div>
        </template>
        <c-spinner></c-spinner>
    </div>
</template>