<template>

    <header class="slds-media slds-media_center slds-has-flexi-truncate background-x-large cover"
        style="width: 100%;min-height: 250px; padding-top: 5%; padding-left: 70%; background-color: rgb(5, 65, 168); ">

        <div class="slds-col slds-size_1-of-1 slds-m-top_x-large">
            <lightning-layout class=" case slds-grid" style="display: flex;">
                <lightning-layout-item class=" slds-m-right_large case slds-grow" style="display: block;">
                    <div class="slds-m-bottom_x-small slds-align_absolute-center case">
                        <lightning-icon
                            class="case slds-icon_container slds-icon_container_circle slds-icon-action-share-post"
                            icon-name="action:share_post" alternative-text="Post" title="Chat" onclick={handlePostClick}
                            style="display: inline-block;">
                        </lightning-icon>
                    </div>
                    <div class="slds-align_absolute-center case">
                        <div class="slds-text-title slds-text-color_weak case">
                            <a href={chatterURL} target="blank" class="slds-card__header-link slds-truncate" title=Chat>
                                <span style="color:white">Chat</span>
                            </a>
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item class=" slds-m-right_medium case slds-grow " style="display: block;">
                    <div class="slds-m-bottom_x-small slds-align_absolute-center case">
                        <lightning-icon
                            class="case slds-icon_container slds-icon_container_circle slds-icon-action-new-task"
                            icon-name="action:new_task" alternative-text="Task" title="Ticklers"
                            onclick={handleTaskClick} style="display: inline-block;">

                        </lightning-icon>
                    </div>
                    <div class="slds-align_absolute-center case">
                        <div class="slds-text-title slds-text-color_weak case">
                            <a href={taskURL} target="blank" class="slds-card__header-link slds-truncate"
                                title=Ticklers>
                                <span style="color:white">Ticklers</span>
                            </a>
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item class=" case slds-grow" style="display: block;">
                    <div class="slds-m-bottom_x-small slds-align_absolute-center case">
                        <lightning-icon
                            class="case slds-icon_container slds-icon_container_circle slds-icon-action-new-event"
                            icon-name="action:new_event" alternative-text="Note" title="Case Notes"
                            onclick={handleNoteClick} style="display: inline-block;">

                        </lightning-icon>
                    </div>
                    <div class="slds-align_absolute-center case">
                        <div class="slds-text-title slds-text-color_weak case">
                            <a href={noteURL} target="blank" class="slds-card__header-link slds-truncate" title=Note>
                                <span style="color:white">Case Notes</span>
                            </a>
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item class=" case slds-grow" style="display: block;">
                    <div class="slds-m-bottom_x-small slds-align_absolute-center case">
                        <lightning-icon
                            class="case slds-icon_container slds-icon_container_circle slds-icon-action-add-contact"
                            icon-name="action:add_contact" alternative-text="Contact" title="Relationships"
                            onclick={handleContactClick} style="display: inline-block;">

                        </lightning-icon>
                    </div>
                    <div class="slds-align_absolute-center case">
                        <div class="slds-text-title slds-text-color_weak case">
                            <a href={contactURL} target="blank" class="slds-card__header-link slds-truncate"
                                title=Relationships>
                                <span style="color:white">Relationships</span>
                            </a>
                        </div>
                    </div>
                </lightning-layout-item>
            </lightning-layout>

        </div>



    </header>
    <div class="main-box" style="height: auto;">
        <div class="container">

            <article class="slds-card">
                <div>
                    <input type='file' class='input-file' id="imgInp">
                    <!--<button class='input-btn upload' id='input_btn'><i class="fa fa-camera cam"></i></button>-->
                </div>

                <div class="dp-container slds-m-left_xx-large" style="height: 85px;">
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col slds-size_7-of-12">

                        </div>
                        <div class="slds-col slds-size_5-of-12">
                            <lightning-layout
                                class=" case slds-grid slds-grid_align-spread slds-grid_vertical-align-center slds-grid_pull-padded-medium slds-wrap"
                                style="display: flex;">
                                <lightning-layout-item
                                    class=" case slds-p-around_small slds-size_12-of-12 slds-small-size_12-of-12 slds-medium-size_12-of-12 slds-large-size_12-of-12"
                                    style="display: block;">
                                    <div class="slds-box slds-box_small case slds-m-right_large">
                                        <lightning-layout
                                            class=" case slds-grid slds-grid_vertical-align-center slds-grid_pull-padded"
                                            style="display: flex;">
                                            <lightning-layout-item
                                                class=" case slds-p-right_small slds-p-left_small slds-size_2-of-12"
                                                style="display: block;">
                                                <lightning-icon
                                                    class="case slds-icon_container slds-icon-standard-customer-360"
                                                    icon-name="standard:customer_360" alternative-text="Case Number"
                                                    title="Case Number" style="display: inline-block;">

                                                </lightning-icon>
                                            </lightning-layout-item>
                                            <lightning-layout-item class=" case slds-col" style="display: block;">
                                                <div class="slds-text-body_regular case" style="font-weight: bold;">
                                                    <span>Case Number</span>
                                                </div>
                                                <div class="slds-text-body_regular">
                                                    <div style="display: inline-block;margin-left: 10%;">
                                                        {contactNumber}
                                                    </div>
                                                </div>
                                            </lightning-layout-item>
                                            <lightning-layout-item>
                                                <div class="slds-col slds-p-left_xx-large"><a class=" case"><span>
                                                            <lightning-button style="font-size: 17px;" variant="base"
                                                                label="View Case Demographics" title="View Case"
                                                                onclick={handleViewCase}></lightning-button>
                                                        </span></a></div>
                                            </lightning-layout-item>
                                        </lightning-layout>
                                    </div>
                                </lightning-layout-item>
                            </lightning-layout>
                        </div>
                    </div>
                    <div>
                        <div onclick={handleOnImgClick} class="dp dp-overlay" c-caselayout_caselayout="" style="">
                            <div style="margin-top: 47%;font-size: 16px;"><template
                                    if:true={isImg}>Change</template><template if:false={isImg}>Upload</template> Image
                            </div>
                        </div>
                        <img class="dp" src={imageUrl}>
                    </div>
                    <div class="main-content slds-col slds-size_1-of-4 slds-m-left_xx-large "
                        style="margin-top: -210px; margin-left: 18%; width: calc(100% + 10px);">
                        <h3 style="color:white;">{contactName}</h3>

                        <div style="margin-top: 15px;">
                            <lightning-layout>

                                <lightning-layout-item class="slds-m-right_large">
                                    <p style="color:white; font-size:small">Age</p><br>
                                    <h4 style="color:white; font-size:small">{childAge}</h4>
                                </lightning-layout-item>

                                <lightning-layout-item class="slds-m-right_large" style=" width:100px">
                                    <p style="color:white; font-size:small">Date Of Birth</p><br>
                                    <h4 style="color:white; font-size:small">{childBOB}</h4>
                                </lightning-layout-item>

                                <lightning-layout-item class="slds-m-right_large">
                                    <p style="color:white; font-size:small">Gender</p><br>
                                    <h4 style="color:white; font-size:small">{childGender}</h4>
                                </lightning-layout-item>

                                <lightning-layout-item style="width: calc(100%);">
                                    <p style="color:white; font-size:small">Race</p><br>
                                    <h4 style="color:white; font-size:small">{childRace}</h4>
                                </lightning-layout-item>

                            </lightning-layout>
                        </div>
                        <h4 style=" color: white;">{contactAddress}</h4>

                    </div>




                </div>
                <template if:true={showFileUpload}>

                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container model-width">
                            <!-- Modal/Popup Box LWC header here -->
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close" onclick={handleClosModal}>
                                    <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                        size="small">
                                    </lightning-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-04" class="slds-text-heading_medium slds-hyphenate">
                                    Upload Image </h2>
                            </header>
                            <!-- Modal/Popup Box LWC body starts here -->
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-5">
                                <template if:true={isError}>
                                    <div class="slds-notify slds-notify_alert slds-alert_error" role="alert">
                                        <span class="slds-assistive-text">error</span>
                                        <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small"
                                            title="Description of icon when needed">
                                            <lightning-icon icon-name="utility:error" size="x-small" variant="inverse"
                                                alternative-text="Connected" title="Connected">
                                            </lightning-icon>

                                        </span>
                                        <h2>{errorMsg}
                                        </h2>
                                        <div class="slds-notify__close">
                                            <button onclick={closeErrorAlert}
                                                class="slds-button slds-button_icon slds-button_icon-small slds-button_icon-inverse"
                                                title="Close">
                                                <lightning-icon size="x-small" variant="inverse"
                                                    icon-name="utility:close" alternative-text="Connected"
                                                    title="Connected">
                                                </lightning-icon>

                                            </button>
                                        </div>
                                    </div>
                                </template>

                                <div class="">
                                    <div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-size_1-of-6">

                                        </div>
                                        <template if:true={isImg}>
                                            <div class="slds-col slds-size_2-of-6" style="text-align: right;">
                                                <lightning-file-upload name="fileUploader" accept={acceptedFormats}
                                                    record-id={recordId} onuploadfinished={handleUploadFinished}>
                                                </lightning-file-upload>

                                            </div>

                                            <div class="slds-col slds-size_1-of-6">
                                                <div style="margin-top:20px;"></div>
                                                <lightning-button style="padding-right: 5px;" class="slds-m-top_small"
                                                    label="Delete Profile Image" onclick={deleteProfilePic}>
                                                </lightning-button>

                                            </div>

                                        </template>
                                        <template if:false={isImg}>
                                            <div class="slds-col slds-size_3-of-6" style="text-align: center;">
                                                <lightning-file-upload name="fileUploader" accept={acceptedFormats}
                                                    record-id={recordId} onuploadfinished={handleUploadFinished}>
                                                </lightning-file-upload>

                                            </div>

                                        </template>
                                        <div class="slds-col slds-size_2-of-6">

                                        </div>

                                    </div>


                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
                                    onclick={handleClosModal}></lightning-button>
                                <template if:true={addFile}>
                                    <lightning-button style="padding-right: 5px;" class="slds-m-top_small"
                                        label="Upload Image" onclick={handleAddFile}></lightning-button>
                                </template>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>

                </template>

            </article>


            <template if:true={newGoalModal}>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container model-width">
                        <header class="slds-modal__header">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close" onclick={closeGModal}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                    size="small">
                                </lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">
                                New Goal </h2>
                        </header>

                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </template>

            <template if:true={showCaseField}>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                    aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container model-width">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header slds-float_left"
                            style="background-color: rgb(5, 65, 168); color: #fff;">
                            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                title="Close" onclick={closeModal}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                    size="small">
                                </lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate slds-float_left">
                                Case </h2>
                        </header>

                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                            <div class="model-conter-body">
                                <template if:true={showViewForm}>
                                    <lightning-record-view-form record-id={recordId} object-api-name="Kinship_Case__c">

                                        <!-- first layout -->
                                        <lightning-layout pull-to-boundary="medium" class="layout-2"
                                            horizontal-align="space" multiple-rows="true">
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Kinship_Case_Number__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="DOB__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Gender_Preference__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Student_Identifier__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="InActive__c">
                                                    </lightning-output-field>
                                                </div>
                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Name"></lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Age__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Race__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="OASIS_Client_ID__c">
                                                    </lightning-output-field>
                                                </div>

                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Primary_Contact__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="ssn__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="VACMS_Number__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="oasis_number_clone__c">
                                                    </lightning-output-field>
                                                </div>


                                            </lightning-layout-item>
                                        </lightning-layout>
                                        <!-- end -->


                                        <!-- second layout -->

                                        <h2 class="h2style">Assessments</h2>
                                        <lightning-layout pull-to-boundary="medium" class="layout-2"
                                            horizontal-align="space" multiple-rows="true">

                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Referral_Source__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="DSM_V_Indicator_ICD_10__c">
                                                    </lightning-output-field>
                                                </div>


                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Title_IVE_Eligibility__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Autism_Flag_1__c">
                                                    </lightning-output-field>
                                                </div>

                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field 
                                                        field-name="Medicaid_Indicator_1__c">
                                                    </lightning-output-field>
                                                </div>

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field
                                                        field-name="Clinical_Medication_Indicator_1__c"></lightning-output-field>
                                                </div>
                                            </lightning-layout-item>
                                        </lightning-layout>
                                        <h2 class="h2style">Close Case</h2>
                                        <lightning-layout pull-to-boundary="medium" class="layout-2"
                                            horizontal-align="space" multiple-rows="true">

                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">
                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Close__c">
                                                    </lightning-output-field>
                                                </div>

                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">
                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Close_Date__c">
                                                    </lightning-output-field>
                                                </div>

                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_x-small slds-size_1-of-1">
                                                    <lightning-output-field field-name="Case_Close_Reason__c">
                                                    </lightning-output-field>
                                                </div>
                                            </lightning-layout-item>
                                        </lightning-layout>
                                        <div class="slds-m-top_medium" style="text-align: center;">
                                            <lightning-button style="padding-right: 5px;" class="slds-m-top_small"
                                                label="Edit" onclick={editModal}></lightning-button>
                                        </div>
                                    </lightning-record-view-form>
                                </template>
                                <template if:false={showViewForm}>
                                    <lightning-record-edit-form id="recordEditForm" record-id={recordId}
                                        object-api-name="Kinship_Case__c" onsuccess={handleSuccess}>
                                        <lightning-layout pull-to-boundary="medium" class="layout-2"
                                            horizontal-align="space" multiple-rows="true">
                                            <lightning-layout-item padding="horizontal-small" size="12"
                                                small-device-size="12" large-device-size="4" medium-device-size="4">
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field field-name="Kinship_Case_Number__c"
                                                        variant="standard" required="true">
                                                    </lightning-input-field>
                                                </div>

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="date" label="Date Of Birth"
                                                        field-name="DOB__c" name="Name" placeholder="Oct 3, 2021"
                                                        variant="standard"></lightning-input-field>
                                                </div>

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="Gender" name="Name"
                                                        field-name="Gender_Preference__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" label="Student Identifier"
                                                        field-name="Student_Identifier__c" name="Name"
                                                        placeholder="Oct 3, 2021" variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="In-Active"
                                                        field-name="InActive__c" variant="standard" class="checkbox">
                                                    </lightning-input-field>
                                                </div>
                                            </lightning-layout-item>

                                            <lightning-layout-item padding="horizontal-small" size="12"
                                                small-device-size="12" medium-device-size="4" large-device-size="4">
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="Case Name" field-name="Name"
                                                        variant="standard">
                                                    </lightning-input-field>
                                                </div>

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field field-name="Age__c" name="Name"
                                                        variant="standard">
                                                    </lightning-input-field>
                                                </div>

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" name="Name" variant="standard"
                                                        label="Race" field-name="Race__c"
                                                        placeholder="American Indian or Alaska Native">
                                                    </lightning-input-field>
                                                </div>
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" label="OASIS Client ID"
                                                        field-name="OASIS_Client_ID__c" name="Name" variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                            </lightning-layout-item>

                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" label="Contact Name" name="Name"
                                                        field-name="Primary_Contact__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>


                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" field-name="ssn__c"
                                                        label="Social Security Number" name="Name" variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" field-name="VACMS_Number__c"
                                                        name="Name" variant="standard" label="VACMS Number">
                                                    </lightning-input-field>
                                                </div>
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" label="OASIS Case Number"
                                                        field-name="oasis_number_clone__c" name="Name"
                                                        variant="standard">
                                                    </lightning-input-field>
                                                </div>



                                            </lightning-layout-item>

                                        </lightning-layout>
                                        <h2 class="h2style">Assessments</h2>
                                        <lightning-layout pull-to-boundary="medium" class="layout-2"
                                            horizontal-align="space" multiple-rows="true">

                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="Referral Source"
                                                        field-name="Referral_Source__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="DSM V Indicator/CD-10"
                                                        field-name="DSM_V_Indicator_ICD_10_1__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="Title IV Eligibility"
                                                        field-name="Title_IVE_Eligibility__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="Autism Flag"
                                                        field-name="Autism_Flag_1__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="Medicaid Indicator"
                                                        field-name="Medicaid_Indicator_1__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>


                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field label="Clinical Medication Indicator"
                                                        field-name="Clinical_Medication_Indicator_1__c"
                                                        variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                            </lightning-layout-item>

                                        </lightning-layout>

                                        <h2 class="h2style">Close Case</h2>
                                        <lightning-layout pull-to-boundary="medium" class="layout-2"
                                            horizontal-align="space" multiple-rows="true">

                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">


                                                <div class="slds-p-around_small slds-m-top_large slds-size_2-of-3">
                                                    <!--<lightning-input-field name="input1" label="Close" field-name="Close__c"
                                                        variant="standard" type="checkbox" class="checkboxt checkboxttop">
                                                    </lightning-input-field>-->
                                                    <lightning-input-field label="Close"
                                                        field-name="Close__c" variant="standard" class="checkbox checkboxttop">
                                                    </lightning-input-field>
                                                </div>

                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">


                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="date" name="Name" variant="standard"
                                                        field-name="Close_Date__c" label="Close Date">
                                                    </lightning-input-field>
                                                </div>
                                            </lightning-layout-item>
                                            <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="text" name="Name"
                                                        field-name="Case_Close_Reason__c" variant="standard"
                                                        label="Close Reason"></lightning-input-field>
                                                </div>
                                            </lightning-layout-item>

                                        </lightning-layout>


                                        <!-- <h2 class="h2style">Otherss</h2>
                                            <lightning-layout pull-to-boundary="medium" class="layout-2"
                                                horizontal-align="space" multiple-rows="true">
    
                                                <lightning-layout-item size="12" small-device-size="12"
                                                        medium-device-size="4" large-device-size="4" padding="horizontal-small">
                                                <div class="slds-p-around_small slds-size_2-of-3">
                                                    <lightning-input-field type="date" label="Open Date"
                                                        field-name="Open_Date__c" variant="standard">
                                                    </lightning-input-field>
                                                </div>
                                                    </lightning-layout-item>
                                                    <lightning-layout-item size="12" small-device-size="12"
                                                    medium-device-size="4" large-device-size="4" padding="horizontal-small">
                                                    <div class="slds-p-around_small slds-size_2-of-3">
                                                        <lightning-input-field type="text" name="Name"
                                                            field-name="Caseworker__c" variant="standard" label="Caseworker"
                                                            placeholder="Search Employees...">
                                                        </lightning-input-field>
                                                    </div>
                                                </lightning-layout-item>
                                                <lightning-layout-item size="12" small-device-size="12"
                                                medium-device-size="4" large-device-size="4" padding="horizontal-small">

                                                <div class="slds-p-around_small slds-m-top_large slds-size_2-of-3">
                                                    <lightning-input name="input1" label="Email To Vendor"
                                                        field-name="Email_to_vendor__c" variant="standard"
                                                        type="checkbox" class="checkbox"></lightning-input>
                                                </div>
                                            </lightning-layout-item>
    
                                                </lightning-layout> -->
                                        <div class="slds-m-top_medium" style="text-align: center;">
                                            <lightning-button style="padding-right: 5px; padding-right: var(--lwc-spacingSmall);
                                            margin-top: var(--lwc-spacingLarge); " class="slds-m-top_small"
                                                label="Cancel" onclick={closeModal}></lightning-button>
                                            <lightning-button variant="brand" type="submit" name="save" label="Save">
                                            </lightning-button>
                                        </div>

                                    </lightning-record-edit-form>
                                </template>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>

            </template>

        </div>

    </div>
    <template if:true={showUpload}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container model-width">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={handleCloseModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        File Attachment </h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium">
                    <div class="">
                        <lightning-file-upload label="File Attachment" name="fileUploader" accept={acceptedFormats}
                            record-id={recordId} onuploadfinished={handleUploadFinished} multiple>
                        </lightning-file-upload>

                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Cancel"
                        onclick={handleCloseModal}></lightning-button>
                    <template if:true={addFile}>
                        <lightning-button style="padding-right: 5px;" class="slds-m-top_small" label="Add File"
                            onclick={handleAddFile}></lightning-button>
                    </template>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>

    </template>

</template>