.case-img{
    width: 150px;
    height: 150px;
}
.small-button-radius{
    border-radius: 50px;
}
/* .title-font-size lightning-output-field lightning-formatted-text{
    font-size: 30px;
} */

/* .title-icon  {
    position: fixed;
    margin-left: 5px;
}  */

.canvas-full {
    width: 100%;
    text-align:  center;
    
}



.displayInline{
display: inline-block;
}
h3{
	font-weight: 500;
font-size: x-large;
}
h4{
	font-weight: 500;
font-size: 14px;
margin: 0;
margin-bottom: 20px;
}
.h2style{
	padding: 15px 0 0 25px;
	font-size: 20px;
	margin: 0 11px 0 12px;
	background: whitesmoke;
}
.main-box
{
	width: 100%;
	height: 450px;
	background-color: white;
	margin: 0;
	border-radius: 20px;
  position: relative;
  border: 1px solid rgba(0,0,0,0.08);
}
.input-file{
	display:none;  
  }
  .input-btn{
	background-color: white;
	color: #fff;
	border: 1px solid #8c8c8c;
	padding: 10px;
	border-radius: 20px;
	margin: 15px;
  }
  .input-btn:hover{
	background-color:#c9cccb;
  }
  .pen-btn
  {
	background-color: white;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 20px;
	margin: 10px;
	margin-top: -20px 
  }
.upload
{
	position: absolute;
	right: 0px;
}
.pen-btn.upload{
  right: 1%;
  top: 52%;
  font-size: 20px;
}
.cover
{
	width: 100%;
	height: 200px;
	border-top-left-radius: 20px;
border-top-right-radius: 20px;
}

.main-content
{
	padding: 0px 25px;
	color:rgba(0,0,0,0.9);
	line-height: 10px;

}
.dp
{
	height: 250px;
width: 250px;
border-radius: 50%;
left: 4px;
position: absolute;
background-color: #ddd;
top: 5px;
padding: 5px;
margin-top: -190px;
margin-left: 18px;
margin-right: 10px;
margin-bottom: -4px;
cursor: pointer;
}
.my-icon {
    --sds-c-icon-color-foreground: orange;
    --sds-c-icon-color-background: gray;
}
.dp-overlay{
	background-color: black;
	z-index: 1;
	opacity: 0;
	text-align: center;
	color: white;
}
.dp-overlay:hover{
	opacity: 0.5;
}
.cam
{
	color:#0a66c2;
  cursor:pointer;
}
.pen{
   color:rgba(0,0,0,0.6);
   font-size:x-large;
  cursor:pointer;
}
.but
{
width: 107px;
height: 32px;
border-radius: 20px;
outline: none;
border: none;
background: #0a66c2;
color: white;
font-size: large;
text-align: center;
margin-left: 20px;
}
.but:hover{
	background-color: #203e5d;
}
.but1
{

	height: 35px;
	border-radius: 20px;
	outline: none;
	border: 1px solid black;
	background: transparent;
	font-size: medium;
	text-align: center;
	color: rgba(0,0,0,0.6);
	margin-left: 10px;
	padding: 0px 20px;
}
.clr
{
	color:rgba(0,0,0,0.6);
}
.but1:hover{
	border: 2px solid black;
	background: #ddd;
}
.box{
	display: flex;
	align-items: flex-start;
	margin-bottom: -23px;
}
ul{
	list-style: none;
}
li{
color: #0a66c2;
font-weight: 600;
}
.content
{
	display: flex;
margin: 0;
padding: 0;
}
.icon
{
	height: 50px;
	width:50px
}
.align
{
	display: flex;
}

.zoom {
    zoom: 105%;
}

.cmpy{
font-size: 16px;
font-family: inherit;
color:black;
}
span
{
	margin-right: 14px;
margin-left: 10px;
}
.current
{
	width: 34%;
margin-left: 70px
}
.clg
{
	position: relative;
    top: 15px;
}
.pointer{
    cursor: pointer;
}
.model-width {
    width: 80% !important;
    max-width: 80% !important;
}
.layout-2 {
	margin-left: var(--lwc-spacingSmall);
	margin-right: var(--lwc-spacingSmall);
	margin-bottom: auto;
	padding-top: var(--lwc-spacingMedium);
	line-height: var(--lwc-lineHeightHeading);
	background: #f5f5f5;
	border: 1px black none;
	opacity: 100%;
}
.visibility{
	visibility: hidden;
	height: 75px;
}

.checkboxttop{
	margin-top: -15px;
}