<template>
    <template if:true={backgroundColorChange}>
        <div id="myH1"
            class="slds-media slds-p-around_x-small slds-p-top_x-small slds-p-right_x-small slds-p-bottom_x-small slds-p-left_x-small slds-theme_inverse slds-media_center slds-media_small slds-theme_shade slds-m-top_x-small"
            style={backgroundColor}>
            <div class="slds-media__figure"></div>
            <div class="slds-media__body">
                <template if:true={fontColorChange}>
                    <div class="slds-text-heading_small" style={fontColor}>{sectionData.heading}</div>
                </template>
                <template if:false={fontColorChange}>
                    <div class="slds-text-heading_small">{sectionData.heading}</div>
                </template>
               
            </div>
            <div class="slds-media__figure slds-media__figure_reverse"></div>
        </div>
    </template>
    <template if:false={backgroundColorChange}>
        <div
            class="slds-media slds-p-around_x-small slds-p-top_x-small slds-p-right_x-small slds-p-bottom_x-small slds-p-left_x-small slds-theme_inverse slds-media_center slds-media_small slds-theme_shade slds-m-top_x-small">
            <div class="slds-media__figure"></div>
            <div class="slds-media__body">
                <template if:true={fontColorChange}>
                    <div class="slds-text-heading_small" style={fontColor}>{sectionData.heading}</div>
                </template>
                <template if:false={fontColorChange}>
                    <div class="slds-text-heading_small">{sectionData.heading}</div>
                </template>
            </div>
            <div class="slds-media__figure slds-media__figure_reverse"></div>
        </div>
    </template>

    <div class="slds-border_right slds-border_bottom slds-border_left section-body" style="height: 209px;overflow: auto;">
        <template for:each={sectionData.WrapperLinkDetail} for:item='linkData' for:index='linkIndex'>
            <div key={linkData}>
                <c-link-with-icon link-data={linkData}>
                </c-link-with-icon>

            </div>
        </template>
    </div>

</template>