.THIS button.slds-button_brand{
    background-color: #0070D2;
}

.THIS .groupbroder{
    border: 1px solid #E2E0DF;
    padding-top: 12px;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.THIS .csscenter{
    text-align: center;
}

.THIS .cssbottom{
    padding-bottom: 40px;
}