.THIS .slds-grid_align-end
{
    justify-content: left !important; 
}
.THIS .slds-table thead th{
  font-weight:200px !important;  
}
.THIS label.slds-form-element__label.slds-no-flex{
    color :red !important;
}
.THIS label.slds-form-element__label{
    color  : red !important;
}
/*.THIS slds-button slds-button_icon {
    color : red !important;
} */
/*.THIS button.slds-button.slds-button_icon{

    color:red !important;
} */
.THIS button.slds-button.slds-button_icon.slds-button_icon-container{
    color : grey !important;
}
.THIS button.slds-button.slds-button_icon.slds-pill__remove.slds-button_icon-bare{
    color : grey !important;
}
.THIS .slds-form-element__icon {
    padding-top: 0%;
}   

.THIS .error svg {
    fill : red;
}
/*.THIS .slds-combobox_container.slds-has-inline-listbox{
    width:47% !important;
} */