.THIS button.slds-button_brand{
    background-color: #0070D2;
}

.THIS .groupbroder{
    border: 1px solid #E2E0DF;
    padding-top: 12px;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 10px;
}

.THIS .modelheight{
    height: 150px;;
}

.THIS .checkrunmodel{
    width: 90%;
    max-width: 150rem;
}

.THIS .checknocss{
    background: #F3F2F2;
}

.THIS .titlecss{
    font-weight: bold;
    font-size: 18px;
}

.THIS .totalcss{
    font-weight: bold;
    text-align:right;
}

.THIS .wrapwordcss{
    white-space: normal;
    overflow-wrap: break-word;
}